---
title: プレゼンテーション
---
### 2015年
- [小物ツール ec2ssh](slide/?20150417-ec2ssh.txt)

### 2014年
- [FreeBSD life with zfs on EC2](slide/?20140703-zfsec2.txt)

### 2011年
- [Dancing KAME and Android](slide/?20111209-ckp.txt) 、Lightning Talk、CKP-QGPOP合同研究会、2011年12月9日

### 2010年
- [Mirgrate www.kame.net into the WIDE Cloud](slide/?20100908-cloud.txt) 、WIDE研究会、2010年9月8日

### 2009年
- <a href="https://docs.google.com/present/view?id=dpbrq3t_20fgv5gpdw">Deployment Teredo Relay</a>、WIDE研究会、2009年9月9日

### 2008年
- 「NAPとアラクサラの活動について」、専門コンファレンス、日経NETWORK <a href="http://ac.nikkeibp.co.jp/nnw/100/">100号記念読者セミナー</a>、2008年7月29日

### 2007年
- 「IPTVを配信するネットワークアーキテクチャとIPマルチキャスト技術」、専門コンファレンス、<a href="http://www.von-japan.com/">VON Japan</a> 2007、2007年11月30日
<p>
数千万世帯に対してHDクラスの映像を配信するためには、IPマルチキャストが必須である。
IPTV時代にどのようなネットワークアーキテクチャが最適か、QoS、信頼性確保等の課題について解説する。
また、このネットワークを実現するためのネットワーク装置のアーキテクチャ、実装技術について説明する。
</p>

### 2006年
- 「高速IPネットワーク技術と次世代放送局モデル」、専門コンファレンス、IMC 2006、2006年6月9日

### 2005年
- 「ハイエンドルータ・アーキテクチャ」、ワークショップ、Interop 2005 Tokyo、2005年6月7日

### 2002年
-  <a href="http://www4.ietf.org/proceedings/02jul/slides/plenary-11.pdf">「IPv6 Implementation and Deployment Experience」</a>、The 54th IETF in Yokohama、2002年7月15-19日
-  <a href="http://www.ipv6-es.com/02/docs/munechika_sumikawa_2.pdf">「Full Digital Contents Distribution to the Home using IPv6」</a>、IPv6 Summit in Madrid、2002年3月13-15日
-  <a href="http://www.ipv6-es.com/02/docs/munechika_sumikawa_1.pdf">「BIS&amp;mBIS」</a>、IPv6 Summit in Madrid、2002年3月13-15日

### 2001年
-  <a href="http://cordis.europa.eu/ist/ka4/mobile/neweve/concertation/4concerta.htm">「Current IPv6 deployment in Japan」</a>、4th Concertation Meeting of Mobile/Wireless/Satellite IST projects, Ad hoc session on IPv6、2001年5月13-14日

### 2000年
-  「IPv6/IPv4相互運用技術の概要、実装、運用」、<a href="http://www.ipsj.or.jp/">情報処理学会</a> <a href="http://iot.ipsj.or.jp/iots/old/dsm-sympo04">分散システム運用技術シンポジウム</a>、2000年2月4日
  (<a href="20000204-dsm.pdf">pdf</a> /
   <a href="https://docs.google.com/fileview?id=0B_2XaFUNLIBaMTdjOTI5ZjMtYmI0MS00NGQyLWI4MzQtODcyYmZjZWU5NjNk&hl=ja">google docs</a>)

### 1999年
-  「IPv6対応GR2000」、Internet Week'99 6bone BOF、1999年12月15日
  (<a href="19991215-iw99.pdf">pdf</a> /
   <a href="https://docs.google.com/fileview?id=0B_2XaFUNLIBaZTU5YWVjYTgtNzQ3NC00MmM1LThmNjAtZDg2ODFlZDkwZjU3&hl=ja">google docs</a>)
-  「Categorizing translators between IPv4 and IPv6」、ngtrans WG at 46th IETF、1999年11月08日
  (<a href="19991108-ietf.pdf">pdf</a> /
   <a href="https://docs.google.com/fileview?id=0B_2XaFUNLIBaOWEzNjhlZDAtOTY5MC00MjJmLTlhMTQtZWQ1MTg1OGFiZjMw&hl=ja">google docs</a>)
<p>
時間の都合で未発表
</p>
-  「Hitachi IPv6 activity and GR2000」、IPnwg interim meeting、1999年10月01日
  (<a href="19991001-interrim.pdf">pdf</a> /
   <a href="https://docs.google.com/fileview?id=0B_2XaFUNLIBaZGVmOTBmMDYtZWFhYS00Yzg3LTkxODgtYzAwMmNjY2Q5NzMy&hl=ja">google docs</a>)
-  「トランスレータ技術の体系化と実現可能性の検討」、WIDE研究会、1999年3月16日
  (<a href="19990326-wide.pdf">pdf</a> /
   <a href="https://docs.google.com/fileview?id=0B_2XaFUNLIBaZGI5ZjZkNDgtYjMyMy00NTEyLTllODAtN2JjYjczY2ZjN2Mx&hl=ja">google docs</a>)
<p>
IPv6の普及には移行技術が不可欠ではあるが、
IPv6の関連研瘢雹究の中では遅れていると言える。
特にトランスレータに関しては個々の技術は提案されてはいるが、
語句定義すら曖昧でほとんど全体として体系化されていない。
本発表では、v6分科会の研瘢雹究成果から、
IPv6へ移行するためのトランスレータ技術を語句定義も含めて整理し、体系化を試みる。
まず、移行時期や通信方向に応じてトランスレータを4つに分類する。
一方で、トランスレータを構成する機能をプロトコル変換、アドレスの対応付けの2つに分ける。
そこに、今までv6分科会で実装してきたFAITH、SOCKS64といった各種の実装を機能単位で切り分け、
その適用範囲と実現可能性を検討する。
最後に、現状の問題点を洗い出して、今後のトランスレータ議論の土台とする。
</p>

### 1996年
- 「<a href="http://www.jus.or.jp/kenkyukai/kansai/list1-99.txt">次世代インターネットプロトコル: IPv6</a>」、JUS秋のシンポジウム、1996年10月23日-24日
