---
title: 鳥山
---
購入した自転車の一ヶ月点検のためみなとみらいへ。

その後、先日もらったランチ無料券が使うため、アソビルへ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14097476/">豚屋 鳥山 よこはま店</a>
神奈川県横浜市西区高島2-14-9 アソビル 1F
</pre>

<%= image "img_6528" %>

Webにはせんべろやって記載があったが、やってなかった。飯だけ食って帰宅。
