---
title: インデアンカレー
---
東京駅に行ったので、久しぶりのインデアンカレー(目玉)。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1302/A130201/13020091/">インデアンカレー 丸の内店</a>
東京都千代田区丸の内2-7-3 東京ビルTOKIA B1F
03-3216-2336
</pre>

<%= image "img_6578" %>

記録によると前回食べたのは2008年。
インデアンスパゲティも食べてみたいがなかなか行くチャンスがない。

[技術コンファレンス](https://tcp.saj.or.jp/)に参加してきた。基調講演で空いてる席に座ったら、真ん中の最前列だった。
久しぶりに長崎さんを見るのと、亀田さんに会った。

<%= image "img_6579" %>
