---
title: 伊勢屋でオムライス
---
極厚カツ丼食べに伊勢屋にいったら、開店10分前ですでに四人いて、私は五人目。そのうち三人がカツ丼頼んだので、私の注文はセカンドロットになるので二時間待ちになる。諦めてオムライスにした。今日は誰もビール頼んでない。傾向が読めん

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

<%= image "img_6599" %>
<%= image "img_6601" %>
