---
title: セント
---
セントで飲み会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13195534/">BeerPub SCENT</a>
東京都目黒区目黒1-6-15
03-6417-0806
</pre>

<%= image "img_6646" %>
<%= image "img_6647" %>
<%= image "img_6649" %>
