---
title: セント
tags: meguro, party, beer
---
セントで飲み会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13195534/">BeerPub SCENT</a>
東京都目黒区目黒1-6-15
03-6417-0806
</pre>

<%= image "img_6646" %>
<%= image "img_6647" %>
<%= image "img_6649" %>

二軒目。酔ってたので写真なし。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13252779/">そうめん酒場はやし 目黒店</a>
東京都目黒区目黒1-5-19 目黒第一ビル 1F
050-5571-2313
</pre>

そうめん食べに入店したのにそうめん食べないで帰ったことに翌日気づく。
