---
title: 伊勢屋でカツ丼
---
伊勢屋再挑戦。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋（いせや）</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

開店10分前で誰もいなかった。その後人が増えて開店前から並んだのはトータルで五人。
カツ丼は私だけ。傾向が読めん。

<%= image "img_6662" %>
<%= image "img_6663" %>
<%= image "img_6665" %>
<%= image "img_6666" %>

カツ丼が出来上がるまでに、さらに十人以上入店したが、誰もカツ丼を頼まない。
