---
title: 寿々喜家
---
満天の湯に行く前に、寿々喜家へ。
開店10分前で32人待ちだった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140302/14000063/">寿々喜家 本店</a>
神奈川県横浜市保土ケ谷区上星川2-3-1 1F
045-371-6180
</pre>

<%= image "img_6688" %>
<%= image "img_6689" %>

50分ぐらい並んで食べれた。

<%= image "img_6690" %>
