---
title: みなとみらい
---
某氏と会食。ランドマークタワーに初めて来た。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140103/14003779/">MANGIA MANGIA 横浜ランドマークタワー店</a>
神奈川県横浜市西区みなとみらい2-2-1 横浜ランドマークタワー 5F
045-227-0369
</pre>

<%= image "img_0871" %>
<%= image "img_0864" %>
<%= image "img_0865" %>
