---
title: 武蔵小杉
---
武蔵小杉でアラクサラ時代の同僚と飲む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1405/A140504/14005058">Tosaka-na Dining Gosso 武蔵小杉店</a>
神奈川県川崎市中原区小杉町3-441
050-5592-6312
</pre>

<%= image "img_1222" %>
<%= image "img_1223" %>
<%= image "img_1224" %>
<%= image "img_1226" %>

みんなからRSUだの確定申告だのという外資的な会話を聞く時代になった。感無量です。
