---
title: 在宅勤務環境
---
在宅勤務環境をさらすのが流行りなので私も一つ。

<%= image "img_e3761" %>

今の職場はWork From Homeを従来から実施しているので、数年かけて買い揃えたものになります。
現時点で特に不満はなく、理想的な仕事環境です。

### デスク

電動昇降デスクが欲しかったので、IKEAの[BEKANT](https://www.ikea.com/jp/ja/p/bekant-corner-desk-left-sit-stand-white-stained-oak-veneer-white-s19282306/)を日本で発売されたタイミングで買いました。
天板はL字型です。低座・後傾姿勢が好きなので、足元に奥行きを確保したかった。
腰を傷めないよう、立ったり座ったりを繰り返して仕事するつもりだったのですが、いざ使ってみると立つことはあまりありませんでした。
でも、高さを細かく調整できるので便利。

### 椅子

低座・後傾姿勢が好きなので、オカムラ社のものを6年ぐらい前に、中古オフィス家具屋さんで買いました。
細かい製品名とか忘れたけど、色が特注の椅子らしいです。

### ディスプレイ

USB-Cケーブル一本で接続、60W給電できること。老眼が進み、27インチでも厳しくなってきたのでそれより大きいサイズという条件から、BenQの4Kモニターにしました。
現在は複数マシンを使ってないんですが、KVM機能が内蔵されているので将来的にも安心。
デザイナー向けということで、色周りの機能と品質は完全にオーバースペックでしたが、27インチ超でUSB-C給電ってほとんど選択肢がないのよね。
[Loctekのモニターアーム](https://www.amazon.co.jp/gp/product/B01CE5JB7Q)で支えています。

仮想デスクトップを切り替える派なので、マルチディスプレイに興味はない。

<div class="krb-amzlt-box" style="margin-bottom:0px;"><div class="krb-amzlt-image" style="float:left;margin:0px 12px 1px 0px;"><a href="https://www.amazon.co.jp/gp/product/B07Y2V2R96/ref=as_li_ss_il?ie=UTF8&psc=1&linkCode=li2&tag=daydreaonthen-22&linkId=04b5ed64f2d12b171239d2f315a9c341&language=ja_JP" target="_blank" rel="nofollow" rel="nofollow"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B07Y2V2R96&Format= _SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=daydreaonthen-22&language=ja_JP" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=daydreaonthen-22&language=ja_JP&l=li2&o=9&a=B07Y2V2R96" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div><div class="krb-amzlt-info" style="line-height:120%; margin-bottom: 10px"><div class="krb-amzlt-name" style="margin-bottom:10px;line-height:120%"><a href="https://www.amazon.co.jp/gp/product/B07Y2V2R96/ref=as_li_ss_il?ie=UTF8&psc=1&linkCode=li2&tag=daydreaonthen-22&linkId=04b5ed64f2d12b171239d2f315a9c341&language=ja_JP" name="amazletlink" target="_blank" rel="nofollow" rel="nofollow">BenQ 31.5型デザイナー向けモニターPD3220U(4K/IPS/ノングレア/P3 95%/Rec.709 100%/Thunderbolt 3/ブルーライト軽減/DP/スピーカー付/回転)</a><div class="krb-amzlt-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="https://kaereba.com/wind2/" title="amazlet" target="_blank" rel="nofollow" rel="nofollow">カエレバ</a></div></div><div class="krb-amzlt-detail"></div><div class="krb-amzlt-sub-info" style="float: left;"><div class="krb-amzlt-link" style="margin-top: 5px"><a href="https://www.amazon.co.jp/gp/product/B07Y2V2R96/ref=as_li_ss_il?ie=UTF8&psc=1&linkCode=li2&tag=daydreaonthen-22&linkId=04b5ed64f2d12b171239d2f315a9c341&language=ja_JP" name="amazletlink" target="_blank" rel="nofollow" rel="nofollow">Amazon.co.jpで詳細を見る</a></div></div></div><div class="krb-amzlt-footer" style="clear: left"></div></div>

### キーボード

ド本命である静音かつBluetooth対応のHHKBがようやく出ました。当然の英語配列一択。
20年以上使い続けている職場の初代HHKBに慣れきっているので、まだ指には完全になじんでいない。

<div class="krb-amzlt-box" style="margin-bottom:0px;"><div class="krb-amzlt-image" style="float:left;margin:0px 12px 1px 0px;"><a href="https://www.amazon.co.jp/HHKB-Professional-HYBRID-Type-S-PD-KB800BS/dp/B082TYNNL2/ref=as_li_ss_il?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=hhkb&qid=1586951910&sr=8-1&linkCode=li2&tag=daydreaonthen-22&linkId=d68fe8f0658124aa5a6382e7715861d4&language=ja_JP" target="_blank" rel="nofollow" rel="nofollow"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B082TYNNL2&Format= _SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=daydreaonthen-22&language=ja_JP" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=daydreaonthen-22&language=ja_JP&l=li2&o=9&a=B082TYNNL2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div><div class="krb-amzlt-info" style="line-height:120%; margin-bottom: 10px"><div class="krb-amzlt-name" style="margin-bottom:10px;line-height:120%"><a href="https://www.amazon.co.jp/HHKB-Professional-HYBRID-Type-S-PD-KB800BS/dp/B082TYNNL2/ref=as_li_ss_il?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=hhkb&qid=1586951910&sr=8-1&linkCode=li2&tag=daydreaonthen-22&linkId=d68fe8f0658124aa5a6382e7715861d4&language=ja_JP" name="amazletlink" target="_blank" rel="nofollow" rel="nofollow">PFU HHKB Professional HYBRID Type-S 英語配列／墨 PD-KB800BS</a><div class="krb-amzlt-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="https://kaereba.com/wind2/" title="amazlet" target="_blank" rel="nofollow" rel="nofollow">カエレバ</a></div></div><div class="krb-amzlt-detail"></div><div class="krb-amzlt-sub-info" style="float: left;"><div class="krb-amzlt-link" style="margin-top: 5px"><a href="https://www.amazon.co.jp/HHKB-Professional-HYBRID-Type-S-PD-KB800BS/dp/B082TYNNL2/ref=as_li_ss_il?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=hhkb&qid=1586951910&sr=8-1&linkCode=li2&tag=daydreaonthen-22&linkId=d68fe8f0658124aa5a6382e7715861d4&language=ja_JP" name="amazletlink" target="_blank" rel="nofollow" rel="nofollow">Amazon.co.jpで詳細を見る</a></div></div></div><div class="krb-amzlt-footer" style="clear: left"></div></div>

### ポインティングデバイス

長年マウス派だったのですがディスプレイが広くなるにつれストレスを感じるようになってきた。
トラックボールも試したんだけど気に入らない。結局、トラックパッドに落ち着きました。
Magic Trackpadを買おうかと思ったんだけど、Macbook Proのトラックパッドをそのまま使えば良いという結論になりました。

熱がこもるのが嫌でクラムシェルにしてないだけなので、Magic Trackpad代わりになるように右手に近い配置にしている。
本体の液晶ディスプレイは普段は何も映してないです。

### 音楽

iPhoneのスピーカーとして[Bose SoundLink Mini II](https://www.bose.co.jp/ja_jp/products/speakers/portable_speakers/soundlink_mini_ii_special.html#v=soundlink_mini_ii_special_triple_black)を使っています。
本機種はもうディスコンなのですが、普段はクレイドルに置きっぱなしで充電しながら再生できることと、出張時には本体だけ持っていってMicro USBで充電できることが気に入っています。
現行機種はどれも好きになれない。

テレカンはAirPods Proでやってます。

### コーヒー

悩みの一つがコーヒーでした。社内の自販機やカフェで調達できなくなったので、仕事の合間にいちいち淹れるのが面倒くさかった。

前日の夜に翌日分の水出しコーヒーを仕込んでおくことで解決。
説明書通りの60g/8時間だと濃いし、寝る直前に作らないといけないので、30g/12時間に落ち着きました。
寝起きから夕方にかけて3-4回に分けて消費してます。ギリギリまで寝てる派なので、朝起きてすぐにカフェイン摂取できるのが良い。
コーヒー豆は色々試し中。

<div class="krb-amzlt-box" style="margin-bottom:0px;"><div class="krb-amzlt-image" style="float:left;margin:0px 12px 1px 0px;"><a href="https://www.amazon.co.jp/HARIO-%E3%83%8F%E3%83%AA%E3%82%AA-%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%83%9D%E3%83%83%E3%83%88-%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%83%89%E3%83%AA%E3%83%83%E3%83%97-MCPN-14CBR/dp/B00IJ3O0Y2/ref=as_li_ss_il?_encoding=UTF8&pd_rd_i=B00I7JKAQ0&pd_rd_r=dff8f3f5-4a14-450b-b633-601510955bb8&pd_rd_w=QBZg6&pd_rd_wg=KVXzU&pf_rd_p=bff3a3a6-0f6e-4187-bd60-25e75d4c1c8f&pf_rd_r=TJKN4G07MD47YDX4K8R7&refRID=TJKN4G07MD47YDX4K8R7&th=1&linkCode=li1&tag=daydreaonthen-22&linkId=c19698a6eb24bf2a5936f19a6fd24a3a&language=ja_JP" target="_blank" rel="nofollow" rel="nofollow"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00IJ3O0Y2&Format= _SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=daydreaonthen-22&language=ja_JP" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=daydreaonthen-22&language=ja_JP&l=li1&o=9&a=B00IJ3O0Y2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div><div class="krb-amzlt-info" style="line-height:120%; margin-bottom: 10px"><div class="krb-amzlt-name" style="margin-bottom:10px;line-height:120%"><a href="https://www.amazon.co.jp/HARIO-%E3%83%8F%E3%83%AA%E3%82%AA-%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%83%9D%E3%83%83%E3%83%88-%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%83%89%E3%83%AA%E3%83%83%E3%83%97-MCPN-14CBR/dp/B00IJ3O0Y2/ref=as_li_ss_il?_encoding=UTF8&pd_rd_i=B00I7JKAQ0&pd_rd_r=dff8f3f5-4a14-450b-b633-601510955bb8&pd_rd_w=QBZg6&pd_rd_wg=KVXzU&pf_rd_p=bff3a3a6-0f6e-4187-bd60-25e75d4c1c8f&pf_rd_r=TJKN4G07MD47YDX4K8R7&refRID=TJKN4G07MD47YDX4K8R7&th=1&linkCode=li1&tag=daydreaonthen-22&linkId=c19698a6eb24bf2a5936f19a6fd24a3a&language=ja_JP" name="amazletlink" target="_blank" rel="nofollow" rel="nofollow">HARIO (ハリオ) 水出し コーヒーポット ミニ ブラウン 600ml MCPN-7CBR</a><div class="krb-amzlt-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="https://kaereba.com/wind2/" title="amazlet" target="_blank" rel="nofollow" rel="nofollow">カエレバ</a></div></div><div class="krb-amzlt-detail"></div><div class="krb-amzlt-sub-info" style="float: left;"><div class="krb-amzlt-link" style="margin-top: 5px"><a href="https://www.amazon.co.jp/HARIO-%E3%83%8F%E3%83%AA%E3%82%AA-%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%83%9D%E3%83%83%E3%83%88-%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%83%89%E3%83%AA%E3%83%83%E3%83%97-MCPN-14CBR/dp/B00IJ3O0Y2/ref=as_li_ss_il?_encoding=UTF8&pd_rd_i=B00I7JKAQ0&pd_rd_r=dff8f3f5-4a14-450b-b633-601510955bb8&pd_rd_w=QBZg6&pd_rd_wg=KVXzU&pf_rd_p=bff3a3a6-0f6e-4187-bd60-25e75d4c1c8f&pf_rd_r=TJKN4G07MD47YDX4K8R7&refRID=TJKN4G07MD47YDX4K8R7&th=1&linkCode=li1&tag=daydreaonthen-22&linkId=c19698a6eb24bf2a5936f19a6fd24a3a&language=ja_JP" name="amazletlink" target="_blank" rel="nofollow" rel="nofollow">Amazon.co.jpで詳細を見る</a></div></div></div><div class="krb-amzlt-footer" style="clear: left"></div></div>
