---
title: ハマバーグ
tags: hamburger, restaurant, yokohama
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14062927/">ハマバーグ ヨドバシ横浜店</a>
神奈川県横浜市西区北幸1-2-7 ヨドバシ横浜 　B2F
050-5596-9210
</pre>

<%= image "img_4098" %>
<%= image "img_4103" %>
<%= image "img_4105" %>
<%= image "img_4108" %>
