---
title: 天たま家
---
息子と昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14061348/">天丼 天たま家</a>
神奈川県横浜市保土ケ谷区岩井町53
045-872-0206
</pre>

珍しく蓮が美味いという天丼。

<%= image "img_4193" %>
