---
title: PIMM'S
tags: cafe, cocktail, hodogaya
---
ピーシーズカフェにて。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14049674/">ピーシーズカフェ</a>
神奈川県横浜市保土ヶ谷区岩井町123-2 保土ヶ谷駅前ハイツ 1F
045-315-4282
</pre>

<%= image "img_4198" %>

スイカがあったので、PIMM'Sを作ってもらった。懐かしい味。
青臭さがいいので、薄切りをちょっと入れるだけ良かった。砕いちゃって甘みが出すぎて失敗。

<%= image "img_4200" %>

サイダー。

<%= image "img_4201" %>
