---
title: カレー
tags: curry, hodogaya, lunch
---
娘さんがまだ給食始まらないので、昼カレー。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14039003/">エベレストキッチン 保土ヶ谷店</a>
神奈川県横浜市保土ケ谷区岩井町4-197 細川ビル
045-742-6612
</pre>

<%= image "img_4304" %>
