---
title: キクバル
tags: italian, lunch, yokohama
---
昼飯で行ったことのない店を開拓。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14078126/">イタリアンバル キクバル</a>
神奈川県横浜市保土ケ谷区帷子町2-67-1
045-442-5644
</pre>

ラザニアのランチ。

<%= image "img_4324" %>
