---
title: フルーツパフェ
tags: fruits, sweets, yokohama
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14070565/">水信フルーツパーラーラボ</a>
神奈川県横浜市中区桜木町1-1-7 Colette-Mare 2F
045-228-9297
</pre>

<%= image "img_4972" %>
<%= image "img_4975" %>
