---
title: 嬬恋村 その4
---
今日は霧がすごい。

<%= image "img_4350" %>

馬肉うどん食って帰ります。

<pre class="address">
<a href="https://tabelog.com/nagano/A2004/A200401/20003982/">中村屋</a>
長野県上田市天神1-6-6
0268-22-2014
</pre>

<%= image "img_4352" %>


