---
title: 鎌倉ハイキング 4週目
tags: kamakura, trail, beer
---
ハイキング写真なし。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14061514/">Rudy Brew</a>
神奈川県鎌倉市小町1-4-24-102 起業プラザ 1F
0467-50-0043
</pre>

<%= image "img_4443" %>
