---
title: 鎌倉ハイキング 8週目
tags: kamakura, trail
---
今日もよく歩いたよ俺。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14015386/">アナゴちらし小町</a>
神奈川県鎌倉市小町2-11-11
0467-25-0575
</pre>

<%= image "img_4486" %>
