---
title: 目黒ごはん 九重
tags: lunch, meguro, seafood
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13055975/">ふぐ懐石料理 九重</a>
東京都品川区上大崎2-15-15 伊多喜ビル B1F
03-3446-0007
</pre>

ふぐ雑炊と西京焼魚定食。

<%= image "img_4488" %>
