---
title: Ardbeg
tags: bar, whisky
---
神田で呑んだ後、なぜかふらふらと地元で2軒目に入ってしまった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14049674/">ピーシーズカフェ</a>
神奈川県横浜市保土ヶ谷区岩井町123-2 保土ヶ谷駅前ハイツ 1F
045-315-4282
</pre>

<%= image "img_4489" %>
<%= image "img_4491" %>

飲みすぎたー。
