---
title: 天王町でランチ
tags: lunch, yokohama
---
<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1403/A140301/14010807/">パタパタ食堂</a>
045-332-2377
神奈川県横浜市保土ヶ谷区天王町1-20-13
</pre>

<%= image "image_008" %>
