---
title: 限定プラレール
tags: plarail, toy, train
---
<a href="../0101-toy/">プラレール博</a>でゲットした限定プラレール。

<%= image "dsc09569" %>

調べたら<a href="http://train.fan.coocan.jp/collectionpra1.htm">初期製品</a>の復刻版なのね。

元は満州鉄道のダブサ型とかいうらしい。

ということで、またいらん知識が増えてしまった。脳細胞返せ。
