---
title: こどもの杜
tags: park, playground, yokohama
---
<pre class="address">
<a href="http://local.yahoo.co.jp/detail/spot/26a18b01e77f45a74596e215703ce440/">こどもの杜</a>
神奈川県横浜市青葉区みたけ台26-17
045-972-7700
</pre>

珍しく女の子のナンパに成功。

<%= image "dsc09575" %>
<%= image "dsc09576" %>
<%= movie "mov09572" %>
