---
title: 大池公園
tags: park, yokohama
---
今日は大池公園。
息子さんは、小さめのエアートランポリンがお気に入りでした。

<pre class="address">
<a href="http://www.city.yokohama.jp/me/asahi/kuminriyo/midori/k129.html">こども自然公園</a>
横浜市旭区大池町65-1
Tel 045-311-2016
</pre>

<%= image "dsc09733" %>
<%= image "dsc09735" %>
<%= movie "mov09738" %>
<%= movie "mov09741" %>
