---
title: 愛川ふれあいの村
tags: aikawa, camp, travel
---
愛川ふれあいの村に今日から二泊。
合宿所みたいなもんで内容はそれなりですが、格安です。
家族三人で二泊＋五食(うち一食はBBQ)で、トータル11,000円。

<pre class="address">
<a href="http://www.hureai.or.jp/aikawa/">愛川ふれあいの村</a>
神奈川県愛甲郡愛川町半原3390
TEL (046)-281-1611
</pre>

到着して早速キャンプファイヤー。

<%= image "dsc09867" %>
<%= image "dsc09873" %>
<%= image "dsc09883" %>
<%= movie "mov09870" %>

部屋は写真撮らなかったけど、二段ベッドが全部で四つあります。
息子に「あたらしいおうちだよ。」と説明したら、信じよった。
