---
title: 引地台公園
tags: family, park, pool, yamato
---
プールに行く前に公園で遊ぶ。

<pre class="address">
<a href="http://www.city.yamato.lg.jp/web/midori/hikitidai.html">引地台公園</a>
大和市柳橋4-5000
</pre>

<%= image "dsc01362" %>

原っぱにトンボが大量発生。
最初は喜んでた蓮も怖いと言いはじめる。

<%= image "dsc01369" %>
<%= movie "mov01364" %>

この後、<a href="http://www.yamato-zaidan.or.jp/institution/hop/index.html">引地台温水プール</a>へ。
流れるプールがある市民プール。清潔だし、おすすめ。
