---
title: 平塚総合公園
tags: park, play, family
---
のぢ家に行く前に平塚総合公園へ。

<pre class="address">
<a href="http://www.city.hiratsuka.kanagawa.jp/soko/">平塚市総合公園</a>
神奈川県平塚市大原1-1(総合公園管理事務所)
0463-35-2233
</pre>

<%= image "dsc01641" %>
<%= image "dsc01645" %>
<%= movie "mov01639" %>
<%= movie "mov01640" %>
