---
title: クア・アイナ
tags: burger, food, restaurant
---
前から行きたかった<a href="http://www.kua-aina.com/">クア・アイナ</a>に行ってみた。

<pre class="address">
<a href="http://www.kua-aina.com/">クア・アイナ</a> 横浜ベイクォーター店
神奈川県横浜市神奈川区金港町１?１０
ベイクォーターヨコハマ
045-577-8123
</pre>

アボカドバーガー。

<%= image "image_094" %>
