---
title: クア・アイナ
tags: burger, restaurant
---
前から行きたかった<a href="http://www.kua-aina.com/">クア・アイナ</a>に行ってみた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14004800/">クアアイナ 横浜ベイクォーター店</a>
神奈川県横浜市神奈川区金港町1-10 横浜ベイクォーター 4F
045-450-7202
</pre>

アボカドバーガー。

<%= image "image_094" %>
