---
title: もつ鍋
tags: kawasaki, nabe, restaurant
---
川崎のもつ鍋屋へ。

<pre class="address">
<a href="http://r.gnavi.co.jp/a616515/">もつなべきむら屋 川崎仲見世通り</a>
〒210-0006 神奈川県川崎市川崎区砂子2-6-11 保栄ビル3F
044-222-2333
</pre>

<%= image "img_0002" %>

HUBへ。Pimm'sあるんだ。<a href="../../2003/0810-summer/">なつかしー。</a>

<%= image "img_0003" %>
<%= image "img_0004" %>
