---
title: Bluetoothヘッドフォン購入
tags: bluetooth, headphone, gadget
---
iPhone 3GS購入にあわせて、Bluetoothヘッドフォンも購入。

ソニエリの<a href="http://www.sonyericsson.co.jp/product/accessories/hbh-ds205/index.html">HBH-DS205</a>です。
<a href="http://www.sonyericsson.co.jp/product/accessories/hbh-ds205mk2/index.html">後継機種</a>も発売直前だったけど、スペック変わらないしお値段も下がってきてたので、旧機種にしました。

音的には不満なし。マルチペアリングができないのでPCとの共有がちょっと面倒くさいぐらい。

<%= image "img_0017" %>

あと、充電コネクタがエリクソンタイプなのでそこらでUSB充電コネクタ買えません。
昔アメリカに出張に行ったときに買ったような気がするんだけどどこにいったかな。
