---
title: 目黒ごはん こがね
tags: food, meguro, outdoor, travel
---
ダブリンからの出張者と一緒にとんかつランチ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13218267/">とんかつ目黒こがね</a>
東京都品川区上大崎3-3-4 ヤマヒロビル 1F
050-5595-2340
</pre>

<%= image "img_1942" %>
