---
title: 麺屋武蔵 武仁
tags: travel
---
久しぶりの秋葉原出張。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131001/13093460/">麺屋武蔵 武仁</a>
東京都千代田区神田佐久間町2-18-5 アークビル1Ｆ
03-5822-4634
</pre>

<%= image "img_1946" %>
