---
title: 能登 その6
tags: kanazawa, onsen, sushi
---
おかげさまである程度復調できました。
もっといたかったけど帰ります。

<%= image "img_1998" %>

金沢駅で寿司。写真は香箱ガニの味噌汁。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17000420/">もりもり寿し 金沢駅前店</a>
石川県金沢市堀川新町3-1 金沢フォーラス 6F
076-265-3510
</pre>

<%= image "img_1999" %>
<%= image "img_2001" %>

家につくと嫁と娘がインフルエンザ発症してた。
