---
title: 目黒ごはん TOKYO DREAM
tags: lunch, meguro
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13215077/">TOKYO DREAM 目黒駅前店</a>
東京都品川区上大崎3-1-1 目黒セントラルスクエア 1F
050-5594-7913
</pre>

グリーンカレー。

<%= image "img_2005" %>
