---
title: 志野
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131603/13054159/">食事処 志野</a>
東京都品川区西五反田7-22-16 TOCビル B1F
03-3494-4988
</pre>

JAWS DAYSで五反田にいたので昼飯。昔、この近くで働いてた同僚のオススメでここへ。
ニクシチ定食。

<%= image "img_2067" %>

味が濃くて量が多いのでご飯をおかわりせざるを得ない。
ビールが欲しくなる味。