---
title: 麺屋 味方
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13220344/">麺屋 味方</a>
東京都港区新橋4-6-10
</pre>

人手不足で閉店したラーメン二郎新橋店の後継店。6席にして一人で回してた。
なるほどこれが答えか。
自分以外の人的リソースに依存しないで、事業を回す発想は勉強になる。

<%= image "img_2105" %>
