---
title: 目黒ごはん 目黒魚金
tags: meguro, outdoor, travel
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13216182/">目黒魚金</a>
東京都品川区上大崎3-1-1 目黒セントラルスクエア 110
03-3441-5501
</pre>

カキフライ定食。

<%= image "img_2350" %>
