---
title: 目黒ごはん 巧匠
tags: lunch, meguro, outdoor, travel
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13138051/">巧匠</a>
東京都品川区上大崎2-13-22 シーアイマンション白金 1F
03-6277-0559
</pre>

排骨飯。ワンコインランチ。
しばらくヘビーローテーションにしようと思う。

<%= image "img_2617" %>
