---
title: らうめん さぶ郎
tags: travel
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13014016/">らうめん さぶ郎</a>
東京都港区東新橋2-6-5
03-3459-8150
</pre>

醤油豚5枚、にんにく生姜玉ねぎ野菜少なめ。

<%= image "img_2618" %>
