---
title: 田むら銀かつ亭
tags: dinner, hakone
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141001/14001492/">田むら銀かつ亭 本店</a>
神奈川県足柄下郡箱根町強羅1300-739
0460-82-1440
</pre>

<%= image "img_2727" %>
