---
title: 目黒ごはん 遊食家 ゆがふ
tags: travel, outdoor, meguro
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13007161/">遊食家 ゆがふ</a>
東京都品川区上大崎2-12-2 瑞穂ビル　Ｂ１Ｆ
050-5590-7649
</pre>

生七味丼とミニ沖縄そば。

<%= image "img_2776" %>
