---
title: 明石
tags: outdoor, park
---
帰りに商店街を歩いてたら明石焼きの行列店があったので入ってみた。

<%= image "img_2785" %>

<pre class="address">
<a href="https://s.tabelog.com/hyogo/A2804/A280401/28001178/">たこ磯</a>
兵庫県明石市本町1-1-11 魚の棚商店街内
078-914-5103
</pre>

玉子焼。15個で700円。安くておいしい。

<%= image "img_2786" %>
<%= image "img_2787" %>

明石公園。

<%= image "img_2788" %>
