---
title: 麺屋 味方
tags: lunch, ramen, tokyo
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13220344/">麺屋 味方</a>
東京都港区新橋4-6-10
</pre>

汁なし + タマネギ。キムチが品切れだった。
店長お疲れっぽくって味もイマイチだった。柚子胡椒トッピングは別になくてもいいな。

<%= image "img_2817" %>
