---
title: 目黒ごはん 小田原タンタン麺たかみ
tags: meguro, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13233809/dtlmenu/photo/">小田原タンタン麺たかみ</a>
東京都目黒区目黒1-5-17 パルテノンビル 1F
03-6420-3765
</pre>

小田原の四川の姉妹店が目黒に来た。これは嬉しい。

<%= image "img_2847" %>
