---
title: うな正
tags: kanda, lunch
---
神田でうなぎ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13023785/">うな正</a>
東京都千代田区内神田3-11-1 三惠ビル 1F
03-3256-9288
</pre>

<%= image "img_3028" %>
