---
title: 目黒ごはん 大宝
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13007463/">とんかつ大宝</a>
東京都目黒区目黒1-6-15 1F
03-3491-9470
</pre>

店の前通ったら珍しく行列が無かったので入る。
ローストンカツ。

<%= image "img_3031" %>
