---
title: よだれ鶏
tags: kanda, lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13143490/">餃子の郷 神田店</a>
東京都千代田区内神田2-9-9 神田ビル 1F
050-5592-5741
</pre>

四川よだれ鶏定食。

<%= image "img_3038" %>
