---
title: 横浜でタピオカ
tags: yokohama, tea
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14072053/">ゴンチャ 横浜西口店</a>
神奈川県横浜市西区南幸1-5-1 ジョイナス B1F FOOD&TIME ISETAN YOKOHAMA
045-620-6690
</pre>

<%= image "img_2420" %>
<%= image "img_2421" %>
