---
title: 目黒ごはん 焼肉ライク
tags: travel, event, outdoor
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13238659/">焼肉ライク 目黒東口店</a>
東京都品川区上大崎2-15-19 MG目黒ビル 1F
</pre>

開店記念でハラミとカルビの定食が550円。

<%= image "img_3169" %>

オフィスはハロウィンモードになりました。

<%= image "img_3170" %>
