---
title: US出張 その4
tags: travel, us
---
ホテルの飯はフレンチトーストが一番美味いという噂を聞いてたが二度寝したら食べる暇なくなってしまった。

夜は懇親会その2。メキシカン。
そこかしこでパーティやってて、めっちゃうるさかった。後から偶然<a href="https://en.wikipedia.org/wiki/Day_of_the_Dead">Day of the Dead</a>だったことを知る。

<%= image "img_3215" %>
<%= image "img_3216" %>
<%= image "img_3217" %>

ホテルに戻って座席チェックしたら、一番後ろの通路側席が空いたので予約いれる。助かった。
