---
title: 餃子
tags: food, gyoza, yokohama
---
星川の餃子屋へ。餃子は確かにうまし。でもラーメンは今一。距離を考えると王将に分あり。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1403/A140301/14003956/">横浜とんとん</a>
神奈川県横浜市保土ケ谷区星川1-15-27
045-331-8735
</pre>

<%= image "img_0219" %>
<%= image "img_0221" %>
<%= image "img_0223" %>
