---
title: 保土ヶ谷プール
tags: pool, swimming, yokohama
---
プールに行きました。さすがに冬場は空いている。

<pre class="address">
<a href="www.yspc.or.jp">保土ケ谷プール</a>
神奈川県横浜市保土ケ谷区狩場町238-3
045-742-2003
</pre>

<%= movie "mov04438" %>
<%= movie "mov04439" %>

顔面からプールに飛び込んでいくやたらアグレッシブな女の子がいて、
蓮がその子の真似をして遊んでるうちに、蓮もようやっと水に顔つけれるようになりました。
