---
title: キドキド＠川崎
tags: kawasaki, kids, playground
---
また川崎に来ちゃった。

<pre class="address">
<a href="http://www.bornelund.co.jp/shop/kanto.html#kanagawa">キドキド 川崎ルフロン店</a>
川崎市川崎区日進町1-11　川崎ルフロン9階
044-221-1560
</pre>

<%= movie "img_0296" %>
<%= movie "img_0301" %>
