---
title: ここち湯
tags: bath, family, yokohama
---
<pre class="address">
<a href="http://www.kokochiyu.com/seya/">ここち湯 横浜瀬谷店</a>
神奈川県横浜市瀬谷区目黒町24-6
045-924-1126
営業時間：10:00〜25:00（最終受付24:00）年中無休
</pre>

風呂上がりにかき氷を食う息子さん。

<%= image "img_0483" %>
<%= image "img_0486" %>
