---
title: Boogie Board
tags: drawing, gadget, son
---
注文してた<a href="http://myboogieboard.com/">Boogie Board</a>届いた。

<%= image "img_0644" %>

蓮に渡したら、力任せに書かれて開封後一分で傷だらけにされた。
力入れなくても書けるというのを説明しなきゃあならんのか。

<%= image "img_0645" %>

この後、iPod touchの液晶を蓮に割られる。もう厄日ですわ。

<%= image "img_0648" %>
