---
title: 鶏飯
tags: lunch, yokohama
---
急いで昼飯食べる必要あったんでクイーンズ伊勢丹で鶏飯。

<pre class="address">
<a href="http://www.create-restaurants.co.jp/shop/00513">新嘉坡鶏飯</a>
神奈川県横浜市西区南幸1-5-1 クイーンズ伊勢丹横浜店B1 「QUEEN'S PATIO」内
045-317-2595
</pre>

<%= image "img_0655" %>
