---
title: にこぱ
tags: kids, outing, yokohama
---
<pre class="address">
<a href="http://yoko-nicopa.rakurakuhp.net/">にこぱ 横浜ジャックモール店</a>
045-226-0722
</pre>

<%= image "dsc06618" %>
<%= image "dsc06624" %>
<%= movie "mov06623" %>
