---
title: ばくだん揚げ定食
tags: lunch, shinbashi
---
打ち合わせの帰りに新橋で前々から食べたかったばくだん揚げ定食を食べる。

<pre class="address">
<a href="http://r.gnavi.co.jp/p879000/">おりじなる料理 源八</a>
東京都港区新橋3-8-8
03-3431-8091
</pre>

<%= image "img_0021" %>
