---
title: 新潟タレかつ丼
---
タレかつ丼初めて食った。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1403/A140301/14035607/">とんかつ こころ</a>
神奈川県横浜市保土ケ谷区岩間町1-7-13
045-336-2180
</pre>

<%= image "img_0050" %>

タレかつ丼用に薄いかつを使っているので、普通のトンカツはお勧めしません。
メニュー絞り込めばいいと思うんだけどなあ。
