---
title: トンテキランチ
tags: lunch, tokyo
---
東京駅まで歩いてトンテキランチ。

<pre class="address">
<a href="http://www.tokyoinfo.com/store/044-01.html">上州とことん倶楽部</a>
東京駅 キッチンストリート
03-6267-2904
</pre>

<%= image "img_0082" %>
