---
title: 恵比寿ランチ
tags: ebisu, lunch
---
39階でランチ。眺めいいなあ。

<%= image "img_0001" %>

<pre class="address">
<a href="http://r.gnavi.co.jp/g110701/">やきとり戎 ガーデンプレイス店</a>
〒150-6038 東京都渋谷区恵比寿4-20-3
恵比寿ガーデンプレイスタワー39階
</pre>

チャーシュー丼。

<%= image "img_0003" %>
