---
title: ホッキ貝カレー
tags: curry, food, restaurant
---
新橋で昼飯食う店を物色してたら面白そうな店を見つけた。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1301/A130103/13094088/dtlrvwlst/1804630/">根室食堂</a>
東京都港区新橋2-18-4 磯部ビル
03-3571-3360
</pre>

ホッキ貝カレー。カレーもうまかったけど、飲み放題のアラ汁もうまし。また来よう。

<%= image "img_0002" %>
