---
title: ホワイト餃子
tags: gyoza, restaurant
---
歯医者の帰りにホワイト餃子。久しぶり。

<pre class="address">
<a href="http://www.white-gyouza.co.jp/branch/sagamihara.html">相模原萬金</a>
〒228-0812 神奈川県相模原市相南4-1-7
TEL : 042-746-5855
定休日 毎週水曜日
営業時間 AM11：30〜PM10：00
</pre>

<%= image "img_0004" %>
