---
title: プラレール
tags: toy, son, train
---
テレビで<a href="http://star.ap.teacup.com/pettanesa/">一畳プラレール</a>が出てて、
それを見てた蓮が突然複雑なレイアウトに目覚める。

<%= image "dsc07902" %>
<%= movie "mov07906" %>

蓮がことあるごとに裸族なのは気にしないでください。
