---
title: Kindle 3到着
tags: gadget, review
---
8/26にUS発送で8/28の朝に届きました。素晴らしい。
円高のおかげで送料と関税含めて14,466円でした。

<%= image "152466745" %>
<%= image "152467426" %>

基本的にはスキャンしたPDFを読むために買いました。2日ほど使った感想は以下。

まずは技術的な話。

- WiFi設定してamazon.comにつなぎに行ったあと、PDFを読もうとするKindleがクラッシュする現象が多発。しかたがないので、WiFi設定せずにスタンドアローンで使ってます。ファームウェアの更新待ちですな。たぶんメタデータファイルを作成・更新してるタイミングでクラッシュが発生して、ファイルシステムをぶっ壊してるのではないかと推測。FATだし耐障害性ないわなあ。クラッシュしなくなったら安定すると思う
- スキャンしたPDFをグレースケールの画面に表示する時の補完処理がいけてないのと余白を自動的に切り詰めてくれないので、文字が読みにくい、なので、Kindleに最適化するためのPDF前処理が必要。<a href="http://no722.cocolog-nifty.com/blog/chainlp/index.html">ChainLP</a>がイケてる
- ZIPでまとめたJPEGも表示してくれるけど、フォルダがあるzipはエラーになって表示されないのでコンバートが必要。イケてねえ。どうせ前処理が入るので、これもChainLPでPDF化しちゃえばOK

実際に書籍を読んでみた感想は。

- 単行本より軽いのは単純に嬉しい。将棋の本とか電車の中で読めるようになった。詰め将棋の本でも買おうかな。
- 技術書と小説とか、その時の気分で複数の本を持って切り替えられるのは嬉しい。
- 画面書き換え時の表示が目に辛い。頻繁にページ送りするコミック読むのには向いてないと思う
- 小説等を読むのであれば許容範囲内のレベル
- 仕事の資料を突っ込んでみたけど、A4前提の資料はとても読めたもんじゃないです。

手持ちのデータをAS ISで表示できないのは負けてます。
どうしても変換作業が入るのでコミック読むには効率が悪いですね。目も疲れるし。
まあ、軽いiPadが出るまでのつなぎだと思ってるので全体的には満足してます。

ケースはダイソー100円で買って来ました。ピッタリ入ります。

<%= image "img_0021" %>
