---
title: セレブランチ
tags: lunch, shibuya
---
ぐえ、前菜しかとってねえ。

<pre class="address">
<a href="http://www.chefsv.com/restaurant/?id=1205376407-567300">chef's V 渋谷店</a>
〒150-0002 東京都渋谷区渋谷1-23-16 cocoti 3F
03-3486-7280
</pre>

<%= image "img_0014" %>
<%= image "img_0018" %>
<%= image "img_0019" %>
<%= image "img_0026" %>
