---
title: 丸の内ランチ
tags: lunch, tokyo
---
東京駅そばでミーティングあったのでオアゾで昼飯。グリーンカレーと豆乳のフォー。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1302/A130201/13011008/">COMPHO 丸の内オアゾ店</a>
東京都千代田区丸の内1-6-4 丸の内オアゾ B1F
</pre>

<%= image "img_0086" %>
