---
title: 丸の内ランチ
---
東京駅そばでミーティングあったのでオアゾで昼飯。グリーンカレーと豆乳のフォー。

<pre class="address">
<a href="http://www.marunouchi.com/common/OJP/shop/detail.cgi?SH_MSH_code=2005">コム・フォー</a>丸の内店
03-3216-0564
</pre>

<%= image "img_0086" %>
