---
title: 沖縄料理
tags: lunch, yokohama
---
沖縄料理でお昼ごはん。

<pre class="address">
<a href="http://r.gnavi.co.jp/g053004/">沖縄時間 〜うちなーたいむ〜</a>
〒220-0011 神奈川県横浜市西区高島2-16-B1 横浜駅東口地下街ポルタ
045-450-5691
</pre>

<%= image "img_0105" %>
<%= image "img_0107" %>
<%= image "img_0110" %>
