---
title: ファンタジーキッズリゾート
---
ファンタジーキッズリゾートにて。

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名（旧駅前ダイエー）3F
</pre>

<%= image "sbsh0036" %>
<%= image "sbsh0039" %>

でっかい車に乗れるようになった。

<%= image "sbsh0041" %>
