---
title: 豚山
tags: lunch, ramen, yokohama
---
娘が豚山食べたいというので横浜へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14078246/">豚山 横浜西口店</a>
神奈川県横浜市西区南幸2-9-1
</pre>

小ぶた味噌山ニンニクなしショウガヤサイ少なめ。

<%= image "img_0493" %>

娘が先に食い終わって、焦ったらむせて死にそうになった。
ミニとはいえ、なぜ俺より早い。
