---
title: 草津 その4
tags: cafe, kusatsu, travel
---
朝食は軽くすませる。

スーツケースを宅急便で自宅に送って、チェックアウトして、草津バスターミナルへ移動。
高速バスの時間まで2時間弱あるのでカフェへ。今回はPC持ってこないで、iPad mini + corp workspacesで過ごしてみた。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10000987/">TEA ROOM Yuki Usagi</a>
群馬県吾妻郡草津町大字草津81
0279-88-3345
</pre>

<%= image "img_0515" %>
<%= image "img_0516" %>

横浜駅西口に18:40ぐらいに着。そのまま関内へ。
