---
title: 豚の味珍
tags: dinner, maitin, yokohama
---
久しぶりに味珍に来た。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14000643/">豚の味珍</a>
神奈川県横浜市西区南幸1-2-2
045-312-4027
</pre>

16時の開店直後に入店したら、30分ぐらいで満席。
17時前には酔っ払って帰る人がいる店なので、なかなか来づらい

ラーパーツァイと舌。

<%= image "img_0521" %>

ヤカンと、頭。

<%= image "img_0522" %>

尾。

<%= image "img_0523" %>

ヤカン三杯目。

<%= image "img_0524" %>

18時になる前に既に泥酔。

