---
title: 品川飲み 塚田農場
---
東京出張の宮さんが珍しく泊まって帰るというので、共通の友人を誘って4人で飲む。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1314/A131403/13174190/">北海道シントク町 塚田農場 品川港南口店</a>
東京都港区港南2-3-29 シーゲンビル 3F
050-5600-2500
</pre>

<%= image "img_0539" %>
<%= image "img_0542" %>
