---
title: 伊勢屋
tags: hodogaya, katsu, lunch
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

カツ丼待ってる間にビール2本目。

<%= image "img_0552" %>

この店、開店直後にカツ丼注文しても低温調理で1時間待ることになるので、社会人だとなかなか食えない。
量が多いのでツマミも頼めずただただ空きっ腹にビールが進む。

同時に三枚しか揚げれないので四人目は二時間待ち。
