---
title: 鎌倉ランチ
---
奥さんと長谷寺ルートで鎌倉ハイキング。

ランチに焼きサケ定食

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14004274/">朝食屋コバカバ</a>
神奈川県鎌倉市小町1-13-15
0467-22-6131
</pre>

<%= image "img_0553" %>
