---
title: 豚の味珍
tags: dinner, pork, yokohama
---
また味珍に来てしまった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14000643/">豚の味珍</a>
神奈川県横浜市西区南幸1-2-2
045-312-4027
</pre>

ラーパーツァイ、頭、胃、ヤカンx3、烏龍茶。

<%= image "img_0691" %>
<%= image "img_0692" %>
<%= image "img_0693" %>

泥酔。
