---
title: 焼肉
---
娘さんと焼肉食べ放題へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14094478/">じゅうじゅうカルビ 横浜天王町店</a>
神奈川県横浜市保土ケ谷区天王町2-41-3
045-339-1016
</pre>

<%= image "img_0695" %>
