---
title: ホワイト餃子
---
ホワイト餃子を食べに行く。自転車で20kmぐらいこいで目的地へ。

<a href="https://tabelog.com/kanagawa/A1407/A140701/14000783/">ギョウザの萬金</a>
神奈川県相模原市南区相南4-1-7
042-746-5855
</pre>

久しぶりのホワイト餃子。

<%= image "img_0696" %>
