---
title: 焼肉
tags: yakiniku, dinner, shinagawa
---
元同僚と焼肉。赤身肉推しの店。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1317/A131712/13187268/">焼肉 鳴尾.b</a>
東京都品川区荏原4-5-17 ライオンズマンション荏原 2F
03-5749-3329
</pre>

<%= image "img_0716" %>
<%= image "img_0717" %>
