---
title: 朝サウナ
tags: sauna, gyoza, yokohama
---
朝サウナから大阪王将でせんべろ。昼過ぎの時点で既に本日終了。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14077089/">大阪王将 天王町駅前店</a>
神奈川県横浜市保土ヶ谷区岩間町1-7-3 1F
045-298-6006
</pre>

<%= image "img_0732" %>
