---
title: セント
tags: dinner, beer, ramen
---
4日間頑張ったのでビール！

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13195534/">BeerPub SCENT</a>
東京都目黒区目黒1-6-15
03-6417-0806
</pre>

<%= image "img_0767" %>

さらにラーメン食って帰った。台無し。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13020309/">麺家 黒</a>
東京都目黒区目黒1-6-12 ワンエム目黒 1F
03-3490-1196
</pre>

<%= image "img_0768" %>
