---
title: みなとみらい読書
---
ハンモック張ってみた。

暖かいんですが風が強くて背中が冷えてくるので、16時ぐらいに撤退。

<%= image "img_0798" %>

goozで本読んでたら、facebookの投稿を見つけた前職の同僚が連絡してきて合流。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140104/14008322/">gooz いちょう並木通り店</a>
神奈川県横浜市中区日本大通15 朝日会館ビル 1F
045-663-6230
</pre>
