---
title: みなとみらい
tags: job hunting, minatomirai, yokohama
---
今日も今日とてみなとみらい。

朝飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14067913/">Merengue みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル１F
050-5593-9994
</pre>

<%= image "img_0801" %>

ハロワのセミナーに出席。

<%= image "img_0803" %>

志望動機は重要、履歴書の写真はちゃんとしたものを。
髪型、靴、服装は面接でチェックされるなど、アマゾンのバーレイザーと全く異なる世界線の価値観を聞いている

夜は上京してきたkazuさんと久しぶりに飲む。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1314/A131405/13057683/">台湾キッチン榕城</a>
東京都品川区北品川2-23-5
03-3450-0028
</pre>
