---
title: 大阪
tags: osaka, travel, dinner
---
所用で大阪へ。

<pre class="address">
<a href="https://tabelog.com/osaka/A2701/A270101/27123992/">立呑み やきとり 大富豪 大阪駅前第2ビル店</a>
大阪府大阪市北区梅田1-2-2 大阪駅前第2ビル B1F
</pre>

大阪は安いなあ。鳥刺し盛は500円。

<%= image "img_0808" %>
<%= image "img_0809" %>
<%= image "img_0810" %>

二軒目。

<%= image "img_0811" %>
