---
title: カツ丼
tags: katsudon, sauna, hodogaya
---
朝サウナ行ったあと、ちょうど開店時間だったので伊勢屋へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

<%= image "img_1140" %>
<%= image "img_1138" %>
<%= image "img_1139" %>

カツ丼三人目だったのでギリギリ初回ロットに間に合った。
並んでた五人全員がビール飲んでる。優しい世界。

1:20後に着丼。

そろそろ餃子+チャーハンも試すか。オムライスも食べたい。
