---
title: 味珍
tags: yokohama, maitin, dinner
---
今日も味珍。17時頃だけど入れた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14000643/">豚の味珍</a>
神奈川県横浜市西区南幸1-2-2
045-312-4027
</pre>

<%= image "img_1172" %>
<%= image "img_1173" %>
