---
draft: true
title: 宮古島キャンプ再挑戦 その13
---
<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47029131/">Blue Turtle Farm Mango Cafe</a>
沖縄県宮古島市平良松原1760-3
0980-79-7274
</pre>

<%= movie "hdimg_2294" %>
<%= image "img_2297" %>
<%= image "img_2298" %>
<%= image "img_2300" %>
