---
title: 渋谷でシュラスコ
tags: churrasco, dinner, shibuya
---
前職の同僚の送別会に呼んでいただいので参加。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1303/A130301/13161792/">バルバッコア 渋谷店</a>
東京都渋谷区宇田川町20-15 ヒューマックスパビリオン渋谷公園通り 7F
050-1807-6960
</pre>

<%= image "img_2317" %>
<%= image "img_2318" %>

二軒目は三人でパブに行って始発まで飲む。