---
title: 伊勢屋
tags: hosikawa, katsu, lunch
---
ときどき食べたくなる極厚カツ丼。
開店10分前に来たら列の先頭だった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

とはいえカツが揚がるまで一時間待ちなのでビール。

<%= image "img_3556" %>

着丼。

<%= image "img_3558" %>
<%= image "img_3559" %>

スタバ行ったら大声で「よだれさまー」と呼ばれた。

<%= image "img_3560" %>
