---
title: 天王町飲み
---
新卒時代の上司が完全退職したので、無職同士で昼飲み。
一軒目はちる酒場(写真なし)。

<pre class="address">
<a href="https://s.tabelog.com/kanagawa/A1401/A140301/14091052/">炭火やきとり ちる酒場</a>
神奈川県横浜市保土ヶ谷区天王町1-2-3
045-442-3440
</pre>

二軒目は興福寺商店街のカツオの藁焼き屋。うまい。

<pre class="address">
<a href="https://s.tabelog.com/kanagawa/A1401/A140301/14085498/">日光丸食堂</a>
神奈川県横浜市保土ケ谷区宮田町1-5-1
045-453-8989
</pre>

<%= image "img_3569" %>
<%= image "img_3570" %>
<%= image "img_3571" %>

