---
title: みなとみらい
tags: job hunting, minatomirai, pancake
---
ハロワ。

<%= image "img_3577" %>

認定が早く終わったのでモーニングパンケーキ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14067913/">メレンゲ みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル１F
050-5593-9994
</pre>

<%= image "img_3578" %>
