---
title: 天たま家
tags: hodogaya, lunch, tempura
---
娘と天丼食べにいく。
穴子天丼と地魚天丼。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14061348/">天丼 天たま家</a>
神奈川県横浜市保土ケ谷区岩井町53
045-872-0206
</pre>

<%= image "img_3674" %>
<%= image "img_3675" %>
