---
title: 大倉山飲み
tags: ookurayama, dinner, friend
---
大倉山で前職OB三人で飲む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140204/14013287/">ごう 大倉山店</a>
神奈川県横浜市港北区大倉山1-18-6 大倉山ビルA 2F
050-5456-3279
</pre>

<%= image "img_3851" %>

その後、facebookポストを見た別の同僚が二次会に合流して合計6人。
