---
title: モーニング
tags: fruits, morning, yokohama
---
夏休み最終日の娘と横浜でフルーツモーニング

<%= image "img_3862" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14090576/">果実園リーベル CIAL横浜店</a>
神奈川県横浜市西区南幸1-1-1 CIAL横浜 B1F
045-577-4757
</pre>

<%= image "img_3864" %>
<%= image "img_3865" %>
<%= image "img_3866" %>

想定以上にパンチ力があった。腹にもたれる。
