---
title: 鎌倉ハイキング
tags: kamakura, hiking, cafe
---
今日は妙に人気が少ない。

<%= image "img_6235" %>

定点観測。

<%= image "img_6236" %>

待ち行列がなかったのでパフェを食う。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14002141/">カフェ・ヴィヴモン・ディモンシュ</a>
神奈川県鎌倉市小町2-1-5 桜井ビル 1F
0467-23-9952
</pre>

<%= image "img_6237" %>
