---
title: XREAL One Proの画面調整
note_url: https://note.com/yodarez/n/n23c273a85da6
tags: note, gadget, xreal
---
<%= note %>

<%= product('XREAL One Pro ARグラス｜X1チップ＆X-Prism光学搭載｜ネイティブ3DoF対応｜57°の広視野角・最大428インチ相当・FHD・最大120Hz表示｜iPhone 16/15（※eシリーズ除く）、Steam Deck、ROG、Mac、PC、Android & iOS対応｜IPD（瞳孔間距離）に合わせた2サイズ展開［M (IPD 57-66mm)］',
    'https://amzn.to/49dfx8v',
    'https://m.media-amazon.com/images/I/31ISvY+PjPL._SL500_.jpg'
) %>

XREAL One Proが発売されて上下視野が57度に広がったことでかなり使い勝手がよくなったと思う。とはいえ、まだ視野をすべてカバーするほどの幅ではなく、上下の端が見切れるといちいち視点を動かさないといけないので疲れてしまう。

なので、XREALの画面をきちんと調整する。

## Step 1: 何はともあれセンサーリセット

> その他 → センサーリセット

画面の水平がとれていない場合があり、首を傾げながら画面を固定していた。センサーリセットを使えば傾きがリセットされ、水平状態に戻る。

## Step 2: 瞳孔間距離調整

Pro購入時のモデルの選択に必要なので、自分の瞳孔間距離調整は眼科などで計測済みのはず。下記でチューニングできる。

> 空間スクリーン → 瞳孔間距離調整

-6から+6の間で設定できるが、問題はこの数値が何を意味するのかが分からない。自分の瞳孔間距離は分かっているので、計算式を出してほしい。0を境にプラスもマイナスも画面が小さくなっていくのも意味が分からない。識者がいればコメントください。

いずれにしろ、画面全体が視野に入るように調整するといい。

## Step 3: 画面センター調整

> 空間スクリーン → 画面センター調整

画面固定時にのみ選択できる設定項目。固定した画面の微調整が出来る。「左右傾く」、「左右回転」、「前後傾く」の3つが調整できるが、「左右傾く」以外が必要になるシチュエーションが分からない。

## Step 4: テンプルの角度調整

テンプル(つる)は三段階に角度が変えられる。画面が視野の真ん中に来ない人は調整するとよい。ただし、かなり力をかける必要があるのと、可動部が見えないため、テンプルを折ってしまいそうで怖い。公式なやり方は1つ目の動画だが、私は2つ目の動画のように片手で調整した方がやりやすかった。

<div data-name="embedContainer"><div data-embed-service="youtube"><span><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe allow="accelerometer *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture *; web-share *;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin" scrolling="no" src="https://www.youtube.com/embed/zAa5RFS8XIc?rel=0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"></iframe></div></span></div></div>
<div data-name="embedContainer"><div data-embed-service="youtube"><span><div style="max-width: 56vh;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 177.7778%;"><iframe allow="accelerometer *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture *; web-share *;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin" scrolling="no" src="https://www.youtube.com/embed/1OODuXixsZQ?rel=0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"></iframe></div></div></span></div></div>
