---
title: XREAL One Pro利用時にMacbook Airの内蔵ディスプレイを無効化したい
note_url: https://note.com/yodarez/n/nbad5afa1c219
tags: note
draft: true
---
<%= note %>

Macbook AirとXREAL One Proの組み合わせで使っているときに、マウスカーソルが内蔵ディスプレイ側に移動して困る。この利用環境では、内蔵ディスプレイは使わないので無効化したいが「システム設定」には無効化する方法がない。

<%= product('XREAL One Pro ARグラス｜X1チップ＆X-Prism光学搭載｜ネイティブ3DoF対応｜57°の広視野角・最大428インチ相当・FHD・最大120Hz表示｜iPhone 16/15（※eシリーズ除く）、Steam Deck、ROG、Mac、PC、Android & iOS対応｜IPD（瞳孔間距離）に合わせた2サイズ展開［M (IPD 57-66mm)］',
    'https://amzn.to/4aRAojN',
    'https://m.media-amazon.com/images/I/31ISvY+PjPL._SL500_.jpg') %>

このため、Macbookの内蔵ディスプレイの無効/有効を切り替えるスクリプトを書いた。詳細は下記githubサイトのREADMEを参照ください。

<div data-name="embedContainer"><div data-embed-service="githubRepository"><span><div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 50%; padding-top: 120px;"><a data-iframely-url="//cdn.iframe.ly/PyyxUn5W" href="https://github.com/sumikawa/toggle_display"></a></div></div><script async="" charset="utf-8" src="//cdn.iframe.ly/embed.js"></script></span></div></div>
