---
title: 目黒ごはん イ・ロッタ
tags: meguro, lunch, pasta
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13003385/">イ・ロッタ</a>
東京都目黒区下目黒1-5-21 目黒DKウェスト 1F
050-5869-3533
</pre>

パスタランチにしてみた。

<%= image "img_3985" %>

これはこれで美味いが、やっぱりピザかな。
