---
title: おもいで横丁
tags: dinner, family, izakaya
---
家族で居酒屋さん。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140301/14023878/">おもいで横丁</a>
050-5570-0804
神奈川県横浜市保土ケ谷区天王町2-46-18 第8増田ビル1F
</pre>

<%= image "img_3065" %>
<%= image "img_3068" %>
