---
title: 目黒ごはん 野方ホープ
---
<pre class="address">
<a href="http://soryu1988.jp/nogata-hope/stores/meguro/">野方ホープ 目黒店</a>
東京都目黒区目黒1-5-16
03-3494-7736
</pre>

漬物が変わってた。キュウリよりこっちの方がよい。

<%= image "img_4076" %>
<%= image "img_4078" %>
<%= image "img_4079" %>
