---
title: かねてつ
tags: shinbashi, lunch, unagi
---
アップルストアに用事があったので、新橋で昼飯。ランチうな丼。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1301/A130103/13023631/">かねてつ</a>
東京都港区新橋2-20-15 新橋駅前ビル1号館  B1F
03-3572-5256
</pre>

<%= image "img_4097" %>
