---
title: Whiskey Element
tags: whiskey, yamazaki, tasting
---
職場で<a href="http://www.timeandoak.com/">Whiskey Element</a>を試す会を実施。
リファレンス含めて4本の山崎。

<%= image "img_4151" %>

これがブツ。ウィスキーの中に24時間浸けると、3年分熟成されるそうで。

<%= image "img_4153" %>
<%= image "img_4161" %>

結論としては、素の山崎12年一番人気。
