---
title: おにやんま
tags: lunch, udon, meguro
---
五反田に行きたい店があるのを思い出して途中下車。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131603/13111869/">おにやんま</a>
東京都品川区西五反田1-6-3
</pre>

鳥天うどん。

<%= image "img_4168" %>
<%= image "img_4172" %>

目黒川沿いを歩いて会社へ。

<%= image "img_4174" %>
<%= image "img_4175" %>
