---
title: 目黒ごはん ラクシュミー
tags: lunch, curry, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13019575/">ラクシュミー</a>
東京都品川区上大崎2-27-1 サンフェリスタ目黒 2F
050-5868-0430
</pre>

タンドリーチキンセット。

<%= image "img_4194" %>
