---
title: 目黒ごはん カレバカ世紀
---
角煮カレー気に入りました。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13109908/">カレバカ世紀</a>
東京都目黒区目黒1-6-16 ミョンドンビル 4F
03-3493-8850
</pre>

<%= image "img_4204" %>
