---
title: 目黒ごはん カピートロ
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13161892/">カピートロ</a>
東京都目黒区下目黒1-4-7 グリーンハイツ行人坂 B1F
050-5890-6324
</pre>

権之助坂パスタセット。

<%= image "img_4212" %>
