---
title: 清勝丸
tags: lunch, ramen, ren
---
歯のクリーニングに蓮を連れていく。
二郎デビューさせようと思ったが休みだったので、別のラーメン屋へ。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1407/A140701/14054006/">清勝丸 相模大野店</a>
神奈川県相模原市南区相模大野3-3-1 bono相模大野南棟 サウスモール2F
050-5890-7420
</pre>

<%= image "img_4354" %>
