---
title: 目黒ごはん いきなりステーキ
tags: lunch, steak, meguro
---
オープンしたので来ました。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13182421/">いきなりステーキ</a>
東京都品川区上大崎2-13-22 シーアイマンション 1F
03-6455-6929
</pre>

ワイルドステーキ300g。

<%= image "img_4358" %>
<%= image "img_4359" %>
