---
title: 目黒ごはん いきなりステーキ
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13182421/">いきなりステーキ</a>
東京都品川区上大崎2-13-22 シーアイマンション 1F
03-6455-6929
</pre>

乱切りカットステーキ300g。ごはん無しにしてみた。

<%= image "img_4484" %>
