---
title: ゴーゴーカレー
tags: akihabara, curry, lunch
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1310/A131001/13019730/dtlmap/">ゴーゴーカレー 秋葉原1号店</a>
東京都千代田区神田佐久間町1-16-1 大橋ビル 1F
03-5256-5525
</pre>

ゴーゴーカレーデビュー。

<%= image "img_4519" %>
