---
title: 目黒ごはん いきなりステーキ
tags: dinner, steak, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13182421/">いきなりステーキ</a>
東京都品川区上大崎2-13-22 シーアイマンション 1F
03-6455-6929
</pre>

リブロース300g。

<%= image "img_4762" %>
