---
title: カムクラ ダイニング
tags: lunch, restaurant, ebisu
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1303/A130302/13138716/">カムクラ ダイニング</a>
東京都渋谷区恵比寿南1-5-5 アトレ恵比寿 2F
03-6450-3748
</pre>

乗り過ごしたついでに神座。

<%= image "img_4822" %>
