---
title: アメリカ出張 シアトル その9
tags: seattle, business, food
---
タイ料理屋さんでKhao Soi。

<pre class="address">
<a href="http://www.citrusthai.com/">Citrus Thai</a>
917 Howel St Seattle, WA 98101
</pre>

<%= image "img_5372" %>
