---
title: アメリカ出張 シアトル その10
tags: seattle, business-trip, food
---
ベトナム料理屋で晩飯。Beef Short Ribs。

<pre class="address">
<a href="http://lalotseattle.com/">La Lot Restaurant & Bar</a>
925 Stewart Street #102 Seattle WA 98101
206.682.8812
</pre>

<%= image "img_5375" %>
