---
title: アメリカ出張 シアトル その11
tags: business, food, seattle
---
また牡蠣来たよ。2週間で3回。

<pre class="address">
<a href="http://www.yelp.com/biz/taylor-shellfish-farms-seattle">Taylor Shellfish Farms</a>
1521 Melrose Ave Seattle, WA 98122
206-501-4321
</pre>

<%= image "img_5378" %>
<%= image "img_5379" %>
<%= image "img_5380" %>

そして空海。

<%= image "img_5382" %>
