---
title: アメリカ出張 シアトル その12
---
会社そばのベトナム料理屋で晩飯。
帰り道だし味も悪くなかったので、2回目。Black Pepper Steak。

<pre class="address">
<a href="http://lalotseattle.com/">La Lot Restaurant & Bar</a>
925 Stewart Street #102 Seattle WA 98101
206.682.8812
</pre>

<%= image "img_5384" %>
