---
title: 目黒ごはん 鑫隆楼
tags: chinese, food, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13140089/">鑫隆楼(シンロンロウ)</a>
東京都目黒区下目黒3-4-5 明芳ビル 1F
03-5708-5587
</pre>

エビと卵の炒め物定食。

<%= image "img_0163" %>
