---
title: 岡むら屋
tags: restaurant, shinbashi, lunch
---
新橋で就活イベント。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1301/A130103/13153636">岡むら屋</a>
東京都港区新橋2-15-1 ニュー新橋ビル 1F
03-5510-7201
</pre>

合盛肉めしに卵と大根を追加。
もうおっさんなので、トロ肉は辛い。

<%= image "img_0257" %>
<%= image "img_0258" %>
