---
title: 紅蠍
tags: ramen, restaurant, tokyo
---
出張帰りにラーメン。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1308/A130802/13144936/">紅蠍</a>
東京都港区西新橋3-1-2 
03-3436-2455
</pre>

<%= image "img_0367" %>
<%= image "img_0368" %>
