---
title: 目黒ごはん 蒙古タンメン中本
tags: restaurant, ramen, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13013957/">蒙古タンメン中本 目黒店</a>
東京都品川区上大崎2-13-45 トランスリンク第3ビル 1F
03-3446-1233
</pre>

蒙古タンメン。

<%= image "img_0752" %>
