---
title: 目黒ごはん カレバカ世紀
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13109908/">カレバカ世紀</a>
東京都目黒区目黒1-6-16 ミョンドンビル 4F
03-3493-8850
</pre>

角煮カレーライス、玉ねぎスライス付き。

<%= image "img_1221" %>
