---
title: かき小屋
tags: birthday, food, ofuna
---
奥さんの誕生日パーティー。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1404/A140401/14043877/">かき小屋 ○座 大船店</a>
神奈川県鎌倉市大船1-23-9 万屋第一ビル 1F
0467-48-1199
</pre>

<%= image "img_1244" %>
<%= image "img_1243" %>
<%= image "img_1245" %>
<%= image "img_1246" %>
