---
title: 目黒ごはん 野方ホープ
tags: lunch, meguro, ramen
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13002054/">野方ホープ 目黒店</a>
東京都目黒区目黒1-5-16
03-3494-7736
</pre>

叉焼ライスと餃子のセット。

<%= image "img_1247" %>
<%= image "img_1248" %>
