---
title: キッチン ジロー
tags: food, lunch, toranomon
---
出張帰りにキッチンジロー。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1308/A130802/13035581/">キッチン ジロー 新虎ノ門店</a>
東京都港区虎ノ門1-12-14 マスターズ1F
03-3593-0083
</pre>

<%= image "img_1301" %>
<%= image "img_1302" %>
