---
title: ジャポネ
tags: food, ginza, lunch
---
銀座来たのでジャポネ。ジャリコのレギュラー。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1301/A130101/13002503/">ジャポネ</a>
東京都中央区銀座西2-2先 銀座インズ3 1F
03-3567-4749
</pre>

<%= image "img_1354" %>
