---
title: RIBLAB KITCHEN
tags: dinner, yokohama
---
スペアリブを食べに来た。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14060542/">RIBLAB KITCHEN 横浜</a>
神奈川県横浜市西区南幸1-3-1 横浜モアーズ  9F
045-595-9091
</pre>

<%= image "img_1644" %>
<%= image "img_1646" %>
<%= image "img_1650" %>
