---
title: 目黒ごはん かづ屋
tags: lunch, meguro, gyoza
---
餃子定食。ジャンロウ飯に変更。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13003195/">かづ屋</a>
東京都目黒区下目黒3-2-4
03-6420-0668
</pre>

<%= image "img_1651" %>
<%= image "img_1652" %>
<%= image "img_1653" %>
