---
title: 目黒ごはん ねこや
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13154628/">ねこや</a>
東京都目黒区目黒1-5-16 経研第一ビル B1F
03-5496-2212
</pre>

店内は猫グッズで一杯。

<%= image "img_1770" %>
<%= image "img_1772" %>

魚の種類忘れた。醤油漬け定食。

<%= image "img_1774" %>

ごちそうさまでした。

<%= image "img_1776" %>
