---
title: 目黒ごはん なんちち食堂
tags: lunch, meguro, okinawa
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13027409/">なんちち食堂</a>
東京都目黒区目黒1-5-19 目黒第一ビル 2F
03-5435-5520
</pre>

ソーキそば。

<%= image "img_1816" %>
