---
title: 麺処 マゼル
tags: lunch, ramen
---
こんなところに二郎系あったのね。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1310/A131001/13122931/">麺処 マゼル</a>
東京都千代田区神田佐久間町1-14 第2東ビル 1F
</pre>

<%= image "img_1820" %>
