---
title: とみ坂
---
洗濯機が壊れたんで慌てて買いに行く。
配送手配の待ち時間で上肉うどん。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14062998/">とみ坂</a>
神奈川県横浜市西区北幸1-2-7 ヨドバシ横浜 ラ B2F
045-317-2941
</pre>

<%= image "img_1858" %>
