---
title: 目黒ごはん 香家
tags: lunch, meguro, ramen
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13193601/">香家 目黒東口店</a>
東京都品川区上大崎3-3-6 
03-6277-1658
</pre>

鬼担々麺。

<%= image "img_2152" %>
