---
title: ミート矢澤
tags: dinner, meguro, restaurant
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131603/13042320/">ミート矢澤</a>
東京都品川区西五反田2-15-13 ニューハイツ西五反田 1F
03-5436-2914
</pre>

某氏が目黒に来たので、一緒に晩飯。
もう何年ぶりか思い出せないぐらい久しぶり。

黒毛和牛100％デミグラスチーズハンバーグ300g。

<%= image "img_2175" %>
