---
title: 目黒ごはん トラットリア・チャオロ
tags: italian, lunch, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13168431/">トラットリア・チャオロ</a>
東京都目黒区下目黒1-3-28 サンウッド目黒 B1F
050-5570-7102
</pre>

ラザニア。

<%= image "img_2211" %>
<%= image "img_2212" %>
