---
title: 目黒ごはん 麺家 黒
tags: lunch, meguro, ramen
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13020309/">麺家 黒</a>
東京都目黒区目黒1-6-12
03-3490-1196
</pre>

半ラーメン + チャーシュー + 小ライス。

<%= image "img_2291" %>
