---
title: 肉の集い
tags: ginza, party
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130101/13192324/">Gottie's BEEF 銀座ベルビア館</a>
東京都中央区銀座2-4-6 銀座ベルビア館 a館 7F
050-5590-5286
</pre>

某怖い飲み会。
しまったこれしか撮ってない。

<%= image "img_2315" %>
