@charset "UTF-8";

:root {
  --titlecolor: #2d5ac3;
  --margin: 5px;
  --pre-margin-left: 20px;
}

body {
  background-color: #efefef;
  font-family: "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, Helvetica, Arial, "MS PGothic", sans-serif;
}

div#krb-amzlt-box {
  background-color: #ffffff;
}

div.titleblock {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1;
  text-align: center;
}

div#dayd {
  margin-top: 20px;
  font-family: "IM Fell English", serif;
  font-size: 32pt;
}

div#doyou {
  margin-bottom: 20px;
  font-family: "Reenie Beanie", serif;
  font-size: 28pt;
}

pre {
  border-style: none;
  border-color: #f06000;
  border-width: 2px 2px 2px 2px;
  background-color: #eeeeee;
  width: 80%;
  margin-left: 20px;
}

pre.terminal {
  padding: 10px;
  margin-left: var(--pre-margin-left);
  border: 0px ridge;
  color: white;
  background-color: black;
  line-height: normal;
  font-family: Ubuntu Mono;
  font-size: smaller;
  width: 90%;
  border-radius: 10px;
}

a {
  background-color: transparent;
  text-decoration: none;
  &:link    { color: #295c72; }
  &:visited { color: #990419; }
  &:active  { color: #190466; }
  &:hover {
    color: #000000;
    background-color: #8888ff;
  }
}

div#name {
  font-family: "Reenie Beanie", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1;
  margin-bottom: 10px;
}

/* Common utility classes */
.indent { margin-left: 10%; margin-right: 5%; }
.filename { font-family: monospace, courier; }
img { border: none; }

span.warning { color: red; }
span.fontsizeplus { font-size: x-large; }
span.fontsizeplusplus { font-size: xx-large; }

.algolia-autocomplete {
  margin-top: 10px;
  float: right;
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
  .titleblock {
    display: none;
  }

  .mainblock {
    font-size: large;
  }

  .leftblock {
    font-size: large;
    overflow: hidden;
  }

  @mixin hr {
    border-bottom: 1px solid #025;
    box-shadow: 0 2px 0 #fcfcfc;
  }

  hr {
    @include hr;
  }

  h1 {
    @include hr;
    font-size: x-large;
    text-align: center;
    color: var(--titlecolor);
  }

  h2 {
    font-size: x-large;
    color: var(--titlecolor);
    margin-top: 0px;
  }

  h3 {
    color: var(--titlecolor);
  }

  ul, ol, dl {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  dt {
    line-height: 110%;
  }

  dd {
    text-indent: 1.0em;
    margin-left: 1.0em;
  }

  li {
    line-height: 110%;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
    list-style-position: outside;
  }
}

@media screen and (min-device-width: 481px), screen and (min-width: 481px) {
  .container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }

  .titleblock {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
    border-radius: 10px;
    background: linear-gradient(-45deg, #eeeeee 0%, #dddddd 100%);
    border: 2px solid white;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: var(--margin);
  }

  .mainblock {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
    border-radius: 10px;
    background: linear-gradient(-45deg, #eeeeee 0%, #dddddd 100%);
    border: 2px solid white;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    min-height: 450px;
  }

  .centerblock {
    flex: 1;
    order: 2
  }

  .leftblock {
    margin-right: var(--margin);
    order: 1
  }

  .eachindexblock {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
    border-radius: 10px;
    background: linear-gradient(-45deg, #eeeeee 0%, #dddddd 100%);
    border: 2px solid white;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: var(--margin);
    overflow: hidden;
  }

  h1 {
    color: var(--titlecolor);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
    text-shadow: 1px -1px 0px rgba(255,255,255,1);
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    border-bottom: 0px solid rgba(0,0,0,0.4);
  }

  h2 {
    color: var(--titlecolor);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
    text-shadow: 1px -1px 0px rgba(255,255,255,1);
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--titlecolor);
    background-color: transparent;
  }

  hr {
    border-bottom: 0px solid rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
  }

  pre {
    margin-left: var(--pre-margin-left);
  }

  pre.flight {
    margin-left: var(--pre-margin-left);
    background-color: rgba(196,255,196,0.3);
  }

  ul, ol, dl {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  dt {
    line-height: 120%;
  }

  dd {
    text-indent: 1.0em;
    line-height: 110%;
  }

  li {
    line-height: 120%;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
    list-style-position: outside;
  }

  .nav {
    ul { padding-left: 0; }
    li { padding-left: 0.5em; }
  }

  pre.address {
    margin: 10px;
    padding: 10px 10px 10px 15px;
    background: #f3f3f3;
    background: linear-gradient(0 0 270deg, #f3f3f3, #f3f3f3 10%, white);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  }

  /* Media Queries for adapting to various screen widths */
  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
    pre.address {
      width: 80%;
      float: none;
    }
    .titleblock {
      display: none;
    }
    .leftblock {
      width: 110px;
    }
    .mainblock {
      font-size: medium;
    }
  }
}
