---
title: シンガポール
tags: travel, singapore, vacation
---
jinmeiさんのページは<a href="http://www.jinmei.org/photo/20010819/">こちら</a>

第2夏休みをもらって、マレーシアにダイビングのライセンスを取りに行くことにしました。
メンバーはjinmeiとkazu。

2日間かけて目的地へ向かう。まずは、UAでシンガポールへ移動。
シンガポールは人口密度が高いだけあって、マンションばっかし。
ホテルは<a href="http://www.asiatours.com.sg/hotel/singapore/hilton/hilton.htm">シンガポール・ヒルトン</a>で1泊160シンガポール$(1S$=80円)。さすがに高い。

気候は日本より暑くて湿度が高い。jinmeiさんが「しかし暑いな」を連発。
この人暑いとほんとにうるさい。

予約のときに言うの忘れてて3人とも喫煙部屋が割り当てられる。
あまりにも部屋が臭いので交換してもらいにフロントに行ったら、
禁煙部屋が出て来た。
その代わりにベッドがキングサイズじゃなくてアメリカンサイズになるけどと言われる。
そうか、アメリカンサイズって小さかったんだ。

<%= image "img_0042" %>

向かいのビアガーデンにkazuさんと飲みに行く。写真なし。
jinmeiさんは部屋に電話するも話し中。
メール読んでたらしい。
kazuさんは生タイガービール、僕はギネス。
つまみは、Chicken Wingとフライドポテトとチキンホットドッグ。
妙に鳥うめえ。全部で41.70S$(3300円)。
