---
title: 東品川ごはん 壱角家 青物横丁店
tags: aomonoyokocho, food, higashi shinagawa, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13217147/">壱角家 青物横丁店</a>
東京都品川区南品川2-7-13 君島ビル 1F
03-5781-2550
</pre>

<%= image "img_8101" %>

二回食って大してうまくないことに気づく。
