---
title: 東品川ごはん ティンカーベル
tags: food, higashi shinagawa, lunch, restaurant
---
ボリューム満点という話を聞いて来てみた。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13007221/">ティンカーベル</a>
東京都品川区南品川2-17-27
03-3458-9424
</pre>

<%= image "img_8160" %>
<%= image "img_8162" %>

メンチカツが揚げ過ぎで固かったので、真価が分からず。
次回はオムライスを試す。
