---
title: ほどがや千成鮨
tags: Sushi, Restaurant, Lunch
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14001830/">ほどがや千成鮨</a>
神奈川県横浜市保土ケ谷区岩井町53
045-741-2778
</pre>

<%= image "img_e1633" %>
<%= image "img_1634" %>
