---
draft: true
title: やさい家めい
---
娘と映画の前に腹ごしらえ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14029714/?cid=yo_g_dsa_shop_local_new&gclid=Cj0KCQjw_r6hBhDdARIsAMIDhV8gT2eCxcnSUt90Osyx195FKsaTSFA0bc-8D7tDqS0DBOQLUpPm2DkaAvxXEALw_wcB">やさい家めい ルミネ横浜店</a>
神奈川県横浜市西区高島2-16-1 ルミネ横浜店 7F
050-5890-9425
</pre>

春御膳。

<%= image "img_8379" %>

うなぎと自然薯とろろ御膳。

<%= image "img_8380" %>

自然薯うまかった。
