---
title: 鬼怒川温泉ワーケーション その7
tags: Food, Kinugawa, Workation
---
帰宅日。宅急便を出してから帰路につく。

北上して、[薬師の湯](https://www.city.nikko.lg.jp/hujiharakankou/kankou/kinugawa/onsen/yakushinoyu.html)の露天風呂に入ってから帰ろうかと思ったんだけど、ものすごい強風のため断念して南下する。

道中で昼飯。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090302/9010169/">とんかつ ステーキ 篠</a>
栃木県塩谷郡塩谷町船生7138-2
0287-47-0472
</pre>

<%= image "img_8545" %>
<%= image "img_8546" %>
<%= image "img_8547" %>

宇都宮駅から電車で帰る。40km走ったけどほぼほぼ下り坂なので楽でした。

<%= image "img_e8548" %>
