---
title: 息子さん誕生日
tags: Birthday, Restaurant, Son
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14051360/">トラットリアビコローレヨコハマ</a>
神奈川県横浜市西区平沼1-40-17 モンテベルデ横浜 101
045-624-9443
</pre>

写真はワインのみ。

<%= image "img_8573" %>
