---
title: 鎌倉ハイキング
tags: Kamakura, trail, Cafe
---
定点観測。

<%= image "img_8580" %>

GWの隙間に入ったのか小町通りが妙に空いてたので、もしやと思い前から狙っていたパフェ屋に来たら、いつも長い列なのに今日は並ばずに入れた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14002141/">カフェ・ヴィヴモン・ディモンシュ</a>
神奈川県鎌倉市小町2-1-5 桜井ビル　１Ｆ
0467-23-9952
</pre>

<%= image "img_8582" %>
<%= image "img_8585" %>
