---
title: アウトバック
tags: dinner, steak
---
奥さんで二人でアウトバック。写真はデザートのみ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1408/A140801/14001205/">アウトバック ステーキハウス 海老名店</a>
神奈川県海老名市中央1-18-1 ビナウォーク6番館 1F
050-5868-2713
</pre>

<%= image "img_2389" %>
