---
title: 輪行 三崎
tags: bike, Misaki, camp
---
YRP野比で降りて、城ヶ島へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140603/14011789/">しぶき亭</a>
神奈川県三浦市三崎町城ヶ島658
046-881-2710
</pre>

しぶき亭でイカの刺身定食。店が新しくなってた。

<%= image "img_8596" %>

京急油壺で[日帰り入浴](https://www.misakikanko.co.jp/aburatsubo/onsen/)。
営業時間が伸びたので時間気にしなくてよくなった。

<%= image "img_8597" %>

マリンパーク跡地の[キャンプ場](https://keikyu-camppark.jp/)を覗いて帰る。
テント張ってから買い出しに行けるし、帰りに風呂も入れるので自転車ソロキャンプできそう。

<%= image "img_e8598" %>
