---
title: RIO GRANDE GRILL 横浜ベイクォーター
---
娘さんの誕生日。シュラスコを食べに行く。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14054425/">RIO GRANDE GRILL 横浜ベイクォーター</a>
神奈川県横浜市神奈川区金港町1-10 横浜ベイクォーター 3F
045-440-0070
</pre>

<%= image "img_2390" %>
<%= image "img_2391" %>
<%= image "img_2393" %>
