---
title: 目黒ごはん めぐろ三ツ星食堂
tags: Meguro, Food, Curry
---
所要で目黒に来たので、三ツ星食堂へ。

<%= image "img_8734" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13013942/">めぐろ三ツ星食堂</a>
東京都品川区上大崎3-4-6 瑛和目黒ビル 1F
03-3443-6568
</pre>

オムエビカレー。正油よりこっちが好き。

<%= image "img_8735" %>
<%= image "img_8736" %>
