---
title: バインミー
tags: bahn mi, vietnamese, yokohama
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14079884/">シクロバインミー</a>
神奈川県横浜市西区南幸1-1-1 CIAL横浜 B3F
045-311-0005
</pre>

カムオンバインミー。

<%= image "img_8860" %>

まあ普通。

