---
title: 東品川ごはん ティンカーベル
tags: Restaurant, Lunch, Food, higashi shinagawa
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13007221/">ティンカーベル</a>
東京都品川区南品川2-17-27
03-3458-9424
</pre>

メンチカツ再挑戦。今回揚げ過ぎじゃないけど、衣が分厚くて硬いのは変わらず。

<%= image "img_8887" %>
<%= image "img_8888" %>

次回は別メニューにすることを誓う。
