---
title: 東品川ごはん めんくら
tags: Ramen, Kyoto Ramen, Lunch
---
京都ラーメンの店が新しくオープンしたので来訪。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13287386/">京都拉麺 めんくら</a>
東京都品川区南品川2-7-13
03-6260-0633
</pre>

めんくららーめん。

<%= image "img_8895" %>
