---
title: 東品川ごはん つるり
---
ちょっと前にオープンした店へ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13285602/">つるり SOBA Stand</a>
東京都品川区南品川2-5-9
</pre>

豚つけ蕎麦。

<%= image "img_8918" %>
<%= image "img_8917" %>
