---
title: 東品川ごはん 阿里城
tags: Chinese, Lunch, Food, higashi shinagawa
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13181697/">阿里城 品川シーサイドオーバルガーデン店</a>
東京都品川区東品川4-12-6 品川シーサイドフォレストオーバルガーデンショップ＆レストランB1
03-6718-4278
</pre>

豚の四川風煮込み。

<%= image "img_9052" %>
