---
title: 小田原魚河岸でん
---
天史朗寿司が絶望的に混んでるのでこっちへ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14013829/">小田原魚河岸でん</a>
神奈川県小田原市栄町2-3-4 美ゆ紀ビル 1F
0465-22-3341
</pre>

<%= image "img_9072" %>
<%= image "img_9073" %>

この後、家に帰ったら熱が出て寝込む。
熱中症なのか、コロナの後遺症なのか、寝冷えによる風邪なのかさっぱり分からん。
