---
title: 鎌倉ハイキング
tags: Kamakura, Hiking, Recovery
---
病み上がりモードその2で、ゆっくりハイキング。

定点観測。

<%= image "img_9075" %>

一杯ひっかけて帰る。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14042948/">山本餃子</a>
神奈川県鎌倉市御成町9-6
080-4474-7179
</pre>

<%= image "img_9076" %>
<%= image "img_9078" %>
