---
title: 東品川ごはん 家宴
tags: Chinese Food, Fried Rice, Lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13054504/">中華料理 家宴</a>
東京都品川区南品川3-6-4
03-3450-1664
</pre>

チャーハンとワンタンのセット。卵たっぷりでチャーハン美味しかった。

<%= image "img_9082" %>
<%= image "img_9083" %>

セットじゃなくて単品を頼めることに後から気づく。
が、チャーハンの味が単調なので、ワンタンのスープかけるとちょうどよかった。
