---
title: らーめん バリ男 新橋本店
tags: Food, Ramen, Shinbashi
---
コロナ明け久しぶりにお客様訪問。帰りに二郎系。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13112970/">らーめん バリ男 新橋本店</a>
東京都港区西新橋1-21-1
03-6273-3933
</pre>

<%= image "img_9273" %>
