---
title: 東品川ランチ 焼肉 おもに
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13029843/">焼肉 おもに</a>
東京都品川区南品川2-17-27 三井南品川ハイツ 1Ｆ
050-5868-1437
</pre>

焼肉ランチ。

<%= image "img_9437" %>
