---
draft: true
title: 麺屋 味方
---
慈恵会の診察帰りに味方へ。

<%= image "img_9438" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13220344/">麺屋 味方</a>
東京都港区新橋4-6-10
</pre>

汁なし、きざみ玉ねぎ、うずら。

<%= image "img_9439" %>
