---
layout: site
title: Tag list
---
<%= tags_list.keys.size %> tags

<ul>
<%
  tags_list.keys.sort.each do |tag|
%>
  <li><%= link_to(tag, "/tag/#{tag.gsub(' ', '-')}") %> (<%= tags_list[tag].size %>)</li>
<%
    end
%>
</ul>
