---
layout: site
title: Tag list
---
<p class="tag-list-count"><%= tags_list.keys.size %> tags</p>

<ul class="tag-list-grid">
<%
  tags_list.keys.sort.each do |tag|
%>
  <li><%= tag_to(tag) %></li>
<%
    end
%>
</ul>
