---
title: 経歴、業績等
---
### 経歴

- 仮想サーバ600台を運用
- ユーザ数1000人程度のファイルサーバ、アクティブディレクトリサーバの運用管理
- Networld+Interop 2005のワークショップにて<a href="https://ssl.medialive.jp/ni2005fm/jp/seminar_W12.html">講師</a>をつとめる
- 実務レベルにて異文化コミュニケーション経験あり。TOEIC 775点(2011年12月)
- イギリスにてマーケティング活動および現地従業員と日本との間でリエゾンを行う(2002〜2004年)
- 日立のギガビット級ルーターGR2000のIPv6開発担当(カーネルおよび全体デザイン)
- KAME Project コアメンバー(第1期、1998〜2000年)
- FreeBSD デベロッパー (1999年〜)
- Networld+Interop 1997〜2000 IPv6担当NOC(Network Operation Center)
- 初期<a href="http://www.6bone.net/">6bone-JP</a>の運用を担当
- 日本初IPv6対応ルーターNR60を開発
- 地方プロバイダの立ち上げおよび運用経験あり

論文、書籍等は<%= link_to "こちら", "/prof/papers.html" %>

### 業績

- 2002年: 平成14年情報化促進貢献企業等表彰(KAMEプロジェクトに対するもの)

### 学歴、仕事歴

- 2016年11月01日〜2025年01月31日: アマゾンウェブサービスジャパン
- 2013年09月24日〜2015年10月31日: アマゾンデータサービスジャパン
- 2008年10月01日〜2009年03月31日: 東京大学非常勤講師(上記と兼務)
- 2005年01月01日〜2014年09月17日: 日立製作所に帰任、同日付けでアラクサラネットワークス株式会社出向
- 2002年10月01日: 日立ヨーロッパに出向
- 1999年04月: 同日立製作所 エンタープライズサーバ事業部所属
- 1998年08月: 同日立製作所 汎用事業部所属
- 1998年02月: 同日立製作所 サーバ開発本部所属
- 1997年04月: 株式会社 日立製作所に入社。オフィスシステム事業部所属
- 1997年03月: 工学修士を取得
- 1995年04月: 奈良先端科学技術大学院大学(情報科学研究科 計算機アーキテクチャ講座)に入学(飛び級)
- 1995年03月: 大阪大学を退学
- 1992年: 大阪大学基礎工学部情報工学科に入学
- 1991年: 私立ECC予備校入学
- 1988年: 大阪府立旭高校入学
- 1985年: 大阪市立旭陽中学校入学
- 1979年: 大阪市立高殿小学校入学

### 多少なりとも開発に貢献したソフトウエア

- <a href="http://www.kame.net/">KAME Project</a>
- <a href="http://www.freebsd.org/">FreeBSD</a>: portsを中心にメンテナンス
- mozilla: IPv6周り
- rsync: IPv6周り
- w3m: IPv6周り
- netperf: IPv6周り
- plagger: P::P::Publish:Feedのバグ修正
- <a href="http://home.arcor.de/er/erik_/trends_net_mu/pilot.html">imgvtopgm</a>: 16階調サポート
- lynx: IPv6周り
- mpg123: IPv6周り
- racoon2: autoconf周り
- miredo: FreeBSDサポート
- <a href="http://wcc.wide.ad.jp/">wcc</a>: メイン開発者
