---
title: 論文、書籍等
---
<ul>
<li> 「IPアドレス枯渇」、日経コンピュータ No.733 p.126-129、2009年6月24日 (インタビューおよび、コメント掲載)</li>
<li> 林剛久, 角川宗近、
     ルーター開発の最前線 第6回 「<a href="http://itpro.nikkeibp.co.jp/article/COLUMN/20071221/290032/">IPv6ルーター誕生前夜</a>」、
     ITpro 、
     2008年1月9日〜11日</li>
<li> 日経BP社、「誌上レクチャー Windows Server 2008」第2回 ネットワークアクセス保護(NAP)、
     日経コンピュータ 2007年12月10号、
     監修</li>
<li> 角川宗近、
     <a href="http://www.ipv6style.jp/jp/special/kame/20051121_1/index.shtml">KAMEプロジェクト完成を迎えてのコアメンバーからのコメント</a>
     Impress社、<a href="http://www.ipv6style.jp/">IPv6 style</a>、
     2005年11月21日</li>
<li> 高津智明, 日野杉英樹, 吉田享弘, 土屋一暁, 野崎信司, 角川宗近, 宮本貴久、
     NETWORKWORLD <a href="http://www.networkworld.jp/magazine/-/22281.html">11月号</a>
     特集記事「スイッチに10倍強くなる！」
     (監修及び、第4章執筆)</li>
<li> 角川宗近, 鈴木伸介, 大浦哲生, 柴田治朗, 渡辺義則、
     「<a href="http://bpstore.nikkeibp.co.jp/item/main/148222818170.html">入門IPv6ネット</a>」、日経BP社、ISBN 4-8222-8181-7</li>
<li> 角川宗近、
     「エンジニアの独り言　欧州IPv6事情」、
     Impress社、<a href="http://internet.impress.co.jp/ipv6/bn/ipv601.htm">IPv6 magazine No.1</a></li>
<li> 角川宗近、
     「わかる・できる入門IPv6ネット 最終回 アドレスを解決するDNSはv6でも使える」、
     日経NETWORK 2001年9月号</li>
<li> 角川宗近、
     「<a href="http://web.archive.org/web/20041022102600/http://v6start.net/voice_v6/20010713/2/">オープンソースの製品化</a>」(web archive)、
     「オープンソースの製品化」、
     v6start.net、Engineer's voice 2001年7月</li>
<li> 角川宗近、
     「IPv6導入への道 第9回 IPv4からIPv6への移行方法(その2)」、
     日経NETWORK 2001年1月号 </li>
<li> 角川宗近、
     「IPv6導入への道 第8回 IPv4からIPv6への移行方法(その1)」、
     日経NETWORK 2000年12月号 </li>
<li> 角川宗近、
     「IPv6導入への道 第5回 アプリケーションを結びつけるTCPとUDP」、
     日経NETWORK 2000年9月号 </li>
<li> 角川宗近、
     「IPv6導入への道 第4回 LANアドレスを問い合わせる近隣探索」、
     日経NETWORK 2000年8月号 </li>
<li> 角川宗近、
     「IPv6導入への道 第1回 なぜIPv6は誕生したのか？」、
     日経NETWORK 2000年5月号 </li>
<li> 江崎 浩(コーディネータ： 東京大学)、
     加藤 朗(東大), 坂根 昌一 (横河デジタルコンピュータ),
     角川 宗近 (日立製作所), 神明 達也 (東芝)、
     荒野高志(NTTコミュニケーションズ )、
     パネルディスカッション: 「IPv6技術の概要、運用方法 および運用状況」、
     分散システム／インターネット運用技術シンポジウム 2000、
     Feburary 2000 </li>
<li> JINMEI Tatuya, YAMAMOTO Kazu, HAGINO Jun-ichiro,
     SUMIKAWA Munechika, INOUE Yoshinou, SUGYO Kazushi, and SAKANE Shoichi,
     <a href="http://www.isoc.org/isoc/conferences/inet/99/proceedings/4s/4s_2.htm">
     An overview of the KAME network software:
     Design and implementation of the advanced internetworking platform</a>,
     INET99, June 1999. </li>
<li> 神明達哉、伊藤純一郎、角川宗近、
    「移動環境におけるIPv6自動設定機能の効果的な使用法」、
     <a href="http://www.ipsj.or.jp/">情報処理学会 </a>
     モーバイルコンピューティング研究会 第7回研究報告会、
     December 1998.
     <a href="jinmei-mobilend.pdf">(pdf, 158K)</a>,
     <a href="http://www.v6.wide.ad.jp/Papers/jinmei-mobilend.ps.gz">(Gzipped PostScript, 60K)</a> </li>
<li> K. YAMAMOTO, A. KATO, M. SUMIKAWA and J. MURAI,
     <a href="http://www.isoc.org/inet98/proceedings/6b/6b_3.htm">
     "Deployment and Experiences of WIDE 6bone"</a>,
     INET98, July 1998 </li>
<li> 角川宗近、山本和彦、加藤朗、新善文、若井宏美
    「WIDE IPv6ネットワークの運用とその問題点」、
     <a href="http://www.ipsj.or.jp/">情報処理学会 </a>
     分散システム運用技術シンポジウム'98 Februrary 1998.
     <a href="sumikawa-dsm98.pdf">(pdf 137K)</a> </li>
<li> 山本和彦、角川宗近、島 慶一
    「<a href="http://fw8.bookpark.ne.jp/cm/ipsj/search.asp?flag=6&amp;keyword=IPSJ-OS97075019&amp;mode=">IPv4とIPv6 のトランスレータに関する考察</a>」、
    情報処理学会研究会報告 97-02-75、 pp. 109 - 114、 1997 </li>
<li> 角川宗近、
    「ネームサーバとヘッダ変換ゲートウェイを用いたIPv4 と IPv6 の相互通信」、
     <a href="http://www.aist-nara.ac.jp/">奈良先端科学技術大学院大学</a>
     修士論文、March 1997.
     <a href="sumikawa-mthesis.pdf">(pdf 359K)</a> </li>
<li> クリスチャン・ウイテマ、 村井純監修/WIDEプロジェクト IPv6分科会監訳/松島栄樹訳、
     「IPv6 次世代インターネット・プロトコル」、 プレンティスホール出版、
     ISBN 4-88735-010-4、1996年12月初版. (翻訳・監訳担当) </li>
<li>南 政樹、島 慶一、渡部 謙、山本 和彦、尾上 淳、
    角川 宗近、新 善文、村井 純、宮川 晋、
    「WIDE プロジェクトにおける IPv6 の実現」、
    インターネットコンファレンス'96、July 1996.
    <a href="http://www.v6.wide.ad.jp/Papers/minami-inetconf96.ps.gz">(Gzipped PostScript 129K)</a> </li>
</ul>

<p>

Acknowledgementsレベルでは、RFC2767とRFC3142に名前が出ています。

</p>
