---
title: 「変身」、東野 圭吾、講談社文庫
tags: book, mystery, Keigo Higashino
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4061856987/daydreaonthen-22">変身</a>」、東野 圭吾、講談社文庫

東野版アルジャーノンといったところでしょうか。
うーむ、この人天才やわ。
狂気に蝕まれていく過程を一人称で書けるのは凄い。


実家で夜中で読みながら、思わず「すっげー」とか「やるー」とかうなってしまいました。
あかん、一人暮らししてから、独り言の癖がついてる。
