---
title: 「宿命」、東野 圭吾、講談社
tags: book, mystery, Keigo Higashino
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4061854445/daydreaonthen-22">宿命</a>」、東野 圭吾、講談社

最近ハマってる東野さんですが、本屋でチェックしたらかなりの冊数が出版されてます。
あらすじやタイトルをざっと見た限りでは、初期の作品には純粋な推理小説があって、後半になるほど推理小説色が薄くなってるような気がします。
とりあえず後者が今のところ気にいってるので、そっちの系を探して読む。


本作はちょうど中間に位置するところですね、推理小説の形態をとっていますが、それが主題ではありません。
こうなるともう犯人探しなんてどうでもいい感じ。


有栖川有栖が『マジックミラー』の中で「推理小説では本来トリックは手段であったはずなのに、今やトリックは目的として使われている」という要旨の文章を記述しています。
じゃあ推理小説の本来の目的は一体何なんだろうというのは、僕には答えが見えていないのですが、本作はその一つの答えではなかろうかという気が漠然としています。
