---
title: 「Blare Witch Project」
tags: horror, movie
---
「<a href="http://www.bwp-jp.com/main.html">Blare Witch Project</a>」

輸入DVDで観る。
正統派ホラーというより、肝だめし的な恐さ、日常的な恐怖ですね。
最初から最期まで一人称の視点で描かれてるので、のめり込む人は恐いと思います。
一人称のための周辺の情報が一切劇中で語られません。
映画観る前にWebで情報収集しないといけないという変な映画。


評価ですが、難しい。
映画としての作りがあまりにも異端だし、ホラーとしての表現手法も全然使ってない。
好き嫌いは真っ二つに分かれるだろうなあと思います。


字幕もなんもなしで見たのでストーリーはだいたい分かったけど細かいセリフは全然分からなかったので、もう一度映画館に観に行こうかなと思ってます。
近所でやってるし。
ということは、ハマってるのかな。
