---
title: 「パラレルワールド・ラブストーリー」、東野 圭吾、講談社文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062637251/daydreaonthen-22">パラレルワールド・ラブストーリー</a>」、東野 圭吾、講談社文庫

とにかく作りが緻密な東野さんが、タイムトラベル物を書いたら面白かろうと思っていたら、ありましたので読む。
読んで見たら全然タイムトラベル物ではなかったんだけど。
