---
title: 「多重人格探偵サイコ (2)」、大塚 英志、角川スニーカー文庫
tags: book
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4047132101/daydreaonthen-22">多重人格探偵サイコ (2)</a>」、大塚 英志、角川スニーカー文庫

本書や漫画でも繰り返し語られるルーシー・モノストーンの海賊版レコードやらを聞いてみたくてmp3がないかと色々Webを検索してみると、興味深いことが分かりました。


どうやらルーシー・モノストーン(Lucie/Lucy monostone)という人物は実在しないようです。
日本には幾つか彼(彼女)に関するサイトが存在し、彼(彼女)をいかにも知ってるかの風に記述されているけど小説その他から手にはいる以上の情報はどこにもない。
さらにアメリカをはじめとする海外サイトに目を向けると、情報は皆無。


実はルーシー・モノストーンが実存するかのように見せかけていることが、「サイコ」最大の嘘ではないかという気がしてきました。
「サイコ」はフィクションで固められた作品であり、物語で起きた事件が実際には存在しないことは新聞やニュースを見てれば分ります。
しかし、その劇中でルーシー・モノストーンだけは特別の扱いを受けています。
ルーシーは本文だけではなく後書きや献辞にさえ登場いるため、知らず知らずのうちにルーシーだけは現実から引用してきた特別な存在だと思い込まされているのではないでしょうか。


小さな嘘をわざと見付けさせ、その裏にある大きな嘘を隠すのは、欺の常套手段です。
それと同じトリックを感じますね。
当たり？
