---
title: 「星のパイロット」、笹本 祐一、ソノラマ文庫
tags: book, review, sci-fi
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4257768029/daydreaonthen-22">星のパイロット</a>」、笹本 祐一、ソノラマ文庫

そういや、読んでなかったので購入。
物語そのものの面白さってほとんどないんだよね。
蘊蓄というか、機械に関する記述が非常に多いので、物語そのものが希薄になってます。
2巻以降に期待。
