---
title: 「天空の蜂」、東野 圭吾、講談社
tags: book, mystery, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062639149/daydreaonthen-22">天空の蜂</a>」、東野 圭吾、講談社

原子力発電の是非を様々な角度から検討した作品。
そこらの作家が書くと単なるドキュメンタリーになるところが、東野さんの手にかかるときちんと物語のレベルにまで昇華します。
しかも、面白い。
脱帽ですな。
