---
title: 「ま・く・ら」、柳家 小三治、講談社
tags: book, review, rakugo
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062637774/daydreaonthen-22">ま・く・ら</a>」、柳家 小三治、講談社

落語そのものよりもまくらの方が面白いと言われる小三治師匠のまくらを集めたもの。
たまに親父ギャグが入りますが、それもまた趣きがあります。
