---
title: 「封印再度 WHO INSIDE」、森 博嗣、講談社ノベルズ
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062647990/daydreaonthen-22">封印再度 WHO INSIDE</a>」、森 博嗣、講談社ノベルズ

まだ全部読んでるわけではないけど、全10巻のシリーズの中ではターニングポイントになるのではないかな。
そういう意味では読んでて面白かった。
しかし、ミステリーとしてはどうでもよし。
ところで今回は単行本で読んだんですが、文庫本の解説を本屋でちらっと見たところ、なんかネタばれと思しきものが書いてあったような気がする。
杞憂ならそれに越したことはないんだけど、そうでなかったら許せん。
