---
title: 「MPD-PSYCHO/FAKE 多重人格探偵サイコTV〈第1巻〉」、許 月珍、角川書店
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4044191050/daydreaonthen-22">MPD-PSYCHO/FAKE 多重人格探偵サイコTV〈第1巻〉</a>」、許 月珍、角川書店

ごみ。
読まずに捨てたよ。
大塚さんが角川を抜けるにあたって、後継に日本語の怪しい人間を勧めたのは、厭味ったらしくていいよね。
ノベライズなんて所詮そんなもんじゃいって感じで。
