---
title: 「星虫」、岩本 隆雄、ソノラマ文庫
tags: book, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4257769076/daydreaonthen-22">星虫</a>」、岩本 隆雄、ソノラマ文庫

本屋で見かけてパラパラと中見たら面白そうだったので購入。
読んで速攻ファンになりました。
最近ほとんど見かけない（つっても書かれたの10年前なんだけど）SFの王道中の王道。
奇手は一切ないんだけど、すんげえ面白い。
