---
title: 「警察官僚 完全版」、神 一行、角川文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4043533012/daydreaonthen-22">警察官僚 完全版</a>」、神 一行、角川文庫

踊る大捜査線と新宿鮫の副読本として購入。
かなり勉強になりました。
でも、警察の不祥事とからめて売ろうという姿勢は嫌。
警察周りで何か問題がでるたびに改訂して出してるみたい。
あざといなあ。
