---
title: 「天使の非常手段RIO〈1〉」、笹本 祐一、ハルキ文庫
tags: book, review, negative
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4894567555/daydreaonthen-22">天使の非常手段RIO〈1〉</a>」、笹本 祐一、ハルキ文庫

ハルキ文庫のラインナップを揃えるためにたいして売れなかった過去の作品を引っ張り出して、麻宮騎亜のやっつけ仕事を表紙にはっつけただけ。
読む価値なし。
こんなことしてて大丈夫なんか、角川春樹。
