---
title: 「鎮魂歌」、馳 星周、角川文庫
tags: book, review, novel
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4043442025/daydreaonthen-22/">鎮魂歌</a>」、馳 星周、角川文庫

小説「不夜城」を読んだ後、その映画版を見ました。
エンディングでは小説では語られなかったその後が語られるんですが、馬鹿らしくて呆れた。
そんなことで歌舞伎町の覇権を取れるわけないでしょ。
で、本書はその小説「不夜城」の２年後。
例によって読み出すと止らない内容ですが、今回はさすがに忙しくてノンストップというわけにはいかなかった。
劉のその後がちゃんと語られます。
そう、それでなくっちゃね。
