---
title: 「冬の教室」、大塚 英志、徳間デュアル文庫
tags: book, review, scifi
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4199050132/daydreaonthen-22/">冬の教室</a>」、大塚 英志、徳間デュアル文庫

最近、雑評中でどんな話かと言う説明をしてないのに気付く。
まあ、あらすじくらいちょっと検索すれば見つかるのでいいでしょう。
さて、叙情的SFかと思いきや、突如大塚っぽくなりしかも未消化。
大江 公彦まわりのすべてのイベントはいらんと思うぞ。
ノベライズ版だと言い張れないので無理矢理出したのか？なんか、言い訳に言い訳を重ねてるような気がするなあ。
後、文字大きすぎ。
原稿が少なかったんでしょう。
読者なめとる。
