---
title: US出張 その2
tags: travel, business, snow
---
空港に一旦戻って、レンタカー屋で車借りる。今更ながら初めてアメリカで車を運転。
初めての右ハンドルで、すんげえ恐い。お約束だけど逆走一回やってしまう。
ゆっくり走ったので煽られまくり。

で、現地につくものの目的のビルが見つからず2時間近く徒歩でうろつき回る。
キャンパス広過ぎ。

15時ぐらいから雪が降りはじめる。初ドライブで雪っすか。洒落ならん。

18時ぐらいにオフィス出ると10cmぐらい積もってる。
車はノロノロ運転長蛇の列で、歩けば20分のホテルに2時間かかる。

<pre class="address">
<a href="http://marriott.com/property/propertypage/BVUFI">Fairfield Inn Seattle Bellevue</a>
14595 NE 29th Place
Bellevue, Washington 98007 USA
Phone: 1-425-869-6548
Fax: 1-425-881-2861
</pre>

Fairfield Innにチェックインして調べたら中にレストランはおろか売店すらないことに気づく。
車なんか絶対運転したくないので、同じ敷地の隣に立ってるCoutyard Innに行って、カップヌードルとポテチとSamuel Adamsをゲット。

ということで、今日の晩飯。侘しい。

<%= image "cimg3170" %>
