---
title: JANOG 2日目
tags: janog, okinawa, steak
---
シアトルで食えなかったんで、ステーキ食べたくなった。

<pre class="address">
<a href="http://r.gnavi.co.jp/f159100/">ジャッキーステーキハウス</a>
〒900-0036 沖縄県那覇市西1-7-3
098-868-2408
</pre>

<%= image "200701261829" %>
<%= image "200701261735" %>
<%= image "200701261739" %>
<%= image "200701261810" %>

デジカメ忘れたんで携帯で撮影。
