---
title: RSA Conference参加 その3
---
昼飯は近所のソニービルの中華。
これが大外しで、9割残す。写真あるけど、ムカつくので載せない。

で、晩飯。Seafoodのお店。
池田さんがガイドブックから見つけてきたんだけど、
これが大当たり。

<pre class="address">
<a href="http://www.catchsf.com/">Catch</a>
2362 Market St.
San Francisco, CA 94114
(415) 431-5000
</pre>

牡蠣もサラダもワインもメインディッシュまでうまうまでした。

ビールはNewcastle Brownとかいうやつ。

<%= image "cimg9274" %>

牡蠣は4種類から選択。

<%= image "cimg9279" %>

メインのSeafood Stew。ボウルが洗面器サイズ。うまいけど食いきれねえ。

<%= image "cimg9282" %>
