---
title: 昼飯
tags: lunch, tokyo
---
赤坂で昼飯とることが増えたので、携帯で記録をとる。

<pre class="address">
<a href="http://gourmet.yahoo.co.jp/0006794590/U0002042186/">家庭料理　深川</a>
東京都港区赤坂2-14-12 高橋ビル2F
03-6229-4890
</pre>

肉だけ豚生姜焼き定食。800円。

<%= image "200705181255000" %>
