---
title: 今日の昼飯
tags: lunch, curry, buffet
---
<pre class="address">
<a href="http://tokyo.gourmet.livedoor.com/restaurant/info/11430.html">リトルアジア</a>
東京都港区赤坂2-17-73
03-5545-7701
</pre>

ランチバイキング。1000円。

<%= image "200705231434000" %>

味は悪くないんだけど、カレーが3種類とも似たような味なので混ぜる楽しみがない。

あと、焼きたてナンを思いっきり盛ってくれる。
サービスなのか、安いナンで腹膨らませようという作戦なのか。
