---
title: 今日の昼飯
tags: akasaka, lunch, ramen
---
最近、昼飯しか楽しみがねえな。

<pre class="address">
<a href="http://www.ramendb.com/shop/1316">九州じゃんがら 赤坂店</a>
東京都千代田区永田町2-12-8
</pre>

<%= image "200705241229000" %>

ぼんしゃんの味玉めんたい。810円だったかな。

帰りの道中で絶滅寸前の<a href="http://www.imuraya.co.jp/annamillers/shop/index.html">アンミラ</a>発見。行かねば！
