---
title: 今日の昼飯
tags: akasaka, korea, lunch
---
<pre class="address">
<a href="http://www.hyungboo.com/">ヒョンブ食堂</a>
東京都港区赤坂2-13-17 シントミ第2ビル101号
03-5575-3884
</pre>

ウゴジク。945円。

<%= image "200706061247000" %>
