---
title: ランチ
tags: food, lunch, yokohama
---
ダディは家で安静中。嫁と蓮は横浜でランチ。

<pre class="address">
<a href="http://www.create-restaurants.co.jp/shop/00057">Natural Kitchen</a> クイーンズ伊勢丹横浜店
〒220-0005 神奈川県横浜市西区南幸1-5-1 クイーンズ伊勢丹横浜店 B1
045-290-4871
</pre>

<%= image "dsc03058" %>
<%= image "dsc03052" %>
<%= image "dsc03053" %>
<%= image "dsc03055" %>
