---
title: 蓮くん語録
tags: achievement, baby, son
---
2007年10月末現在の蓮くん語録。<a href="../0918-goroku">一ヶ月前</a>から追加・変更された語彙のみ。

- びーび：抜け毛とか小さなゴミとか絵本の切れ端とかいらない物全般。語源不明。新語っぽい。
- ま：「(くる)ま」もしくは「(あんぱん)ま(ん)」もしくは「(ばいきん)ま(ん)」もしくは「(しょくぱん)ま(ん)」を指す。ややこしい。
- す：「(バ)ス」
- にゃーん：犬もしくは猫
- なな：数字の7。1から順に教えてたら、まずこれ覚えた。発音しやすかったらしい。意味は理解してない。
- ドッドーン：電車のおもちゃのこと。ガタンコトンがなまった。
- でんしゃ：電車もしくは車。もう何がなんだか。「ま」はどうなった。
- だい：「ちょう(だい)」のこと。
- べ：「おせん(べ)い」のこと。
- あい：「はい」のこと。
- だい：「(ちょう)だい」のこと。
- あった：何か見つけると「あった」
- ね：「眠いので家族全員寝室に行って俺を寝かしつけろ」の略。みんなで行かないと寝ない。
