---
title: アラクサラ関西オフィス
---
大阪出張のついでに<a href="http://www.alaxala.com/jp/press/20071126.html">ちょっと前にオープン</a>
した関西オフィスに顔を出す。

おしゃれビルのおしゃれオフィスだ。

<%= image "dsc03901" %>

引越し直後なので中はまだ雑然とした状態。

<%= image "dsc03904" %>
<%= image "dsc03905" %>
<%= image "dsc03906" %>
