---
title: まるまるパズル
tags: toy, son, anpanman
---
<a href="http://www.amazon.co.jp/dp/B0002YN3JO/daydreaonthen-22">アンパンマン まるまるパズル</a>ですが、<a href="../0527-toy/">半年前</a>はダディの助けが必要だったんだけど、
気がついたら一人でできるようになってた。

<%= movie "mov04038" %>

たまにズルしてフタ開けて全部突っ込んでます。
