---
title: 保土ヶ谷ランチ
---
娘さんの下校にあわせてラーメン屋。
タイミング良く空いててラッキー。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14068897/">櫻井中華そば店</a>
神奈川県横浜市保土ケ谷区岩井町53 稲村ビル 1F
045-315-2058
</pre>

定番の塩ラーメンと炙りチャーシュー丼。

<%= image "img_6710" %>
<%= image "img_6711" %>
