---
title: 鎌倉ハイキング
tags: Kamakura, trail, Food
---
定点観測。暖かいのでハイキング客が多い。

<%= image "img_6713" %>

小町通りも激混みだけど、さすがにテラス席は空いていた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14079639/">腸詰屋 鎌倉小町</a>
神奈川県鎌倉市雪ノ下1-4-20 アビティ雪ノ下 1F
0467-33-4986
</pre>

<%= image "img_6714" %>

冷えてきたので早々に退散。

