---
title: 箱根 その3
---
帰る前に豚丼。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141001/14074015/">箱根BOOTEA</a>
神奈川県足柄下郡箱根町湯本729
0460-83-9559
</pre>

<%= image "img_6763" %>
<%= image "img_6769" %>
