---
title: ビストロひまわり
tags: Bistro, Lunch, Food
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14010156/">ビストロひまわり</a>
神奈川県横浜市保土ケ谷区岩間町2丁目114
045-331-3888
</pre>

駅前のランチ飽きたので、天王町側攻めることにする。
10年以上ぶりに来訪。オムカツセット。

<%= image "img_6774" %>
