---
title: 東品川ごはん 天下一品
tags: Ramen, Lunch, Food
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13252290/">天下一品 青物横丁店</a>
東京都品川区南品川3-5-3 山崎ビル 1F
03-6433-0919
</pre>

チャーハンセット(こってり)。

<%= image "img_6826" %>
