---
title: 保土ヶ谷ランチ キクバル
tags: food, italian, lunch
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14078126/">イタリアンバル キクバル</a>
神奈川県横浜市保土ケ谷区帷子町2-67-1
045-442-5644
</pre>

ラザニアのランチ。

<%= image "img_6841" %>
