---
title: 天史朗寿司
tags: sushi, odawara, restaurant
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14001483/">天史朗寿司</a>
神奈川県小田原市城山1-6-80
0465-34-0832
</pre>

つまみ三品で常きげんをいただく。大変美味しゅうございました。

<%= image "img_6924" %>
<%= image "img_6926" %>
<%= image "img_6927" %>
<%= image "img_6928" %>

写真取り忘れたけど、地魚握りセットを食べて帰宅。
