---
title: 古奈屋
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14058913/">古奈屋 相鉄ジョイナス店</a>
045-594-8222
神奈川県横浜市西区南幸1-5-1 ジョイナス B1F
</pre>

海老天うどんと、もちうどん。

<%= image "img_7172" %>
<%= image "img_7171" %>
