---
title: やきとりの拓
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14043643/">やきとりの拓</a>
神奈川県横浜市保土ヶ谷区神戸町54-1 第八瀬戸ビル2F
045-334-2586
</pre>

ハムカツとりから定食。

<%= image "img_7479" %>
