---
title: ダラス出張 その3
---
近所のモールで晩飯。

<%= image "img_7511" %>


<pre class="address">
<a href="https://galleriadallas.com/directory/food/charleys-philly-steaks">Charley’s Philly Steaks</a>
</pre>

<%= image "img_7512" %>
