---
title: 東品川ごはん さくら商店
tags: lunch, japanese, shinagawa
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13258633/">唐揚げ専門 さくら商店 品川シーサイド店</a>
東京都品川区東品川3-27-17
03-6718-4800
</pre>

「唐揚げが小さいので一つ追加しておきますね」と言われた。
ただでさえ量が多いのに、嬉しいような嬉しくないような。

<%= image "img_7533" %>
