---
title: ギョウザの萬金
tags: bike, food, sagamihara
---
自転車でおださが行って、ホワイト餃子食って電車で戻る。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1407/A140701/14000783/">ギョウザの萬金</a>
神奈川県相模原市南区相南4-1-7
042-746-5855
</pre>

水餃子初挑戦。これはこれでうまいが、やっぱり焼きだなあ。

<%= image "img_7534" %>
<%= image "img_7535" %>
