---
title: 東品川ごはん すき家
tags: higashi shinagawa, japanese, lunch
---
ウナギ食べたくなったので、うな牛。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13262969/">すき家 品川シーサイド店</a>
東京都品川区東品川4-12-4 品川シーサイドパークタワー
012-049-8007
</pre>

<%= image "img_7639" %>
