---
title: デリー 上野店
tags: curry, dinner, tokyo
---
辛いカレーを食う会。

<%= image "img_7822" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1311/A131101/13003605/">デリー 上野店</a>
東京都文京区湯島3-42-2
03-3831-7311
</pre>

当然カシミールカレーを頼んだけど、辛すぎてルー余らせた。

<%= image "img_7821" %>

2軒目はバーへ。
