---
title: 目黒ごはん ゴンゾ
tags: italian, lunch, meguro
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13237847/">ピッツェリア&トラットリア ゴンゾ 目黒店</a>
東京都品川区上大崎3-2-9 アクア目黒 1F
050-5597-8391
</pre>

[JAWS DAYS 2022](https://jawsdays2022.jaws-ug.jp/sessions/A04/)発表のあと、ピザを食べにいく。

<%= image "img_7848" %>
