---
title: 東品川ごはん 葉月
tags: higashi shinagawa, japanese, lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13046690/">葉月</a>
東京都品川区東品川3-23-18
03-3450-3713
</pre>

生姜焼きランチ。

<%= image "img_7862" %>

生卵残した。
