---
draft: true
title: 鎌倉ハイキング
---
遅い出発になってしまったので、ハイキング前に北鎌倉でランチ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14048657/dtlrvwlst/B455216089/?lid=unpickup_review">花鈴</a>
神奈川県鎌倉市山ノ内395
0467-24-9737
</pre>

<%= image "img_7903" %>

定点観測。秋ですねえ。

<%= image "img_7904" %>

猫に道塞がれた。

<%= image "img_7905" %>
