---
title: 横浜
---
娘と映画見た帰りにランチ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14079394/">2416MARKET PASTA&</a>
神奈川県横浜市西区南幸1-1-1 ニュウマン横浜 6F
045-290-2416
</pre>

<%= image "img_8058" %>
<%= image "img_8059" %>
<%= image "img_8060" %>
<%= image "img_8061" %>
