---
title: OUCC君新年会
---
OUCC君(阪大コンピュータクラブの同期)のメンバーで新年会を
<a href="http://www3.osk.3web.ne.jp/~yamapu/">やまぷ</a>邸で開催。
メンバーは、やまぷ、なみへい、マンデル、画伯、うろう、すみかわ。

PM3時ごろに到着したらプレステのビートマニアで盛り上がってた。持参した
Video CDで初ムトゥを鑑賞した後、Windows98がぶっ壊れたので復旧して、一
向に動かないので白木屋に飲みに行って、
<a href="/diary/1998/1116-dvd/">この前</a>
ボコボコにしてやったマジドロの復讐戦が始まって、ちょい負けて、Windows98の再インストールしながら、
ビートマニア初めて、AM4時頃寝て終り。

<%= image "dsc00191" %>
<%= image "dsc00196" %>
<%= image "dsc00198" %>
