---
title: 牟田夫人と会食
tags: food, okonomiyaki, friend
---
<a href="http://www.geocities.co.jp/SiliconValley-Oakland/1376/">やまぷ</a>邸から朝帰りして
梅田の紀伊国屋で文庫本を漁ってたら、携帯にTELが入った。牟田夫人からで、
実家が引っ越して僕の実家のすぐそばになったとのこと。

で、飯でも食おうということになり、近所のお好み焼き屋へ。豚玉とすじコン。

<%= image "dsc00199" %>
<%= image "dsc00201" %>
<%= image "dsc00202" %>

まあ、しばらく会わない間にすっかりふくよかになられて……。
「できちゃった結婚？」
「ちゃいます」

お好み焼き食いながら結婚式の写真を見る。写真は獣神サンダーライガーとの
ツーショットだった。旦那ではなく、来賓のコスプレーヤーで本職はペンギン
の飼育係だそうだ。
