---
title: 「行きそで行かないとこへ行こう」、大槻 ケンヂ、新潮文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4101429219/daydreaonthen-22">行きそで行かないとこへ行こう</a>」、大槻 ケンヂ、新潮文庫

大槻ケンヂの文章は実に読みやすくてさらっと読み切れちゃうのがいいですね。
自分が住んでたからかもしれませんが、大阪編が面白かった。
大阪って妙な街だと再認識させられます。

さて、本書の一番面白いのは実は本文ではなく解説です。
カレーの話を延々と書いてるのですが、何度か声を出して笑ってしまいました。
解説でこんなに笑ったのは初めてではなかろうか。
田中哲弥の作品の解説も面白いけど、あれは本人が解説してるのでちとズルい。
解説だけでも読む価値あり。
