---
title: 「林さんチャーハンの秘密」、林 政明、角川文庫
tags: book, cooking, non-fiction
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4041827019/daydreaonthen-22">林さんチャーハンの秘密</a>」、林 政明、角川文庫

椎名誠の映画「遠灘鮫腹海岸」の原作、といっても映画は原作の原型留めてません、というか原作の表記は単なるジョークでしょう。
んで、椎名誠関連のキャンプ本読んでるとチャーハンが妙に美味そうそうなので購入。
参考にしてますが、なかなか技術あがりません。
やはり中華は簡単なようで難しいって、何の評価してるんだか。
