---
title: AVアンプが来たぞ
tags: home theater, audio, electronics, movie
---
待ちに待ったAVアンプTA-V55ESが届きました。嬉しー。

<%= image "dsc00002" %>
<%= image "dsc00008" %>

さっそく色々といじくって遊んでみました。本体側の性能には不満がないんで
すが、付属のリモコンが色々と不満。

- 学習リモコンではなく予め登録してあるメーカのリストから選ぶ仕様なので、リストにない機器は使えない。手持ちの機種だとONKYOのMDが使えなかった。学習機能つけてくれえ。</li>
- サポートしてるメーカでも使えない機能が多い。Pioneer DVDのカーソルキーとか、SONYのHi-8、VHS両用デッキの切替えボタンとか、チャンネルとか(自分とこのメーカのくせに)。</li>
- 本体側の操作で、VideoはLD、AudioはDVDとか音と絵で違うソースを選択できるんだけど、リモコンからはその機能が使えない。</li>

結局、山程あるリモコンを手放せない。上位機種用のリモコンかったら幸せに
なるのかなあ……。

TSUTAYAに行って、5.1ch視聴のために存在すると言っても過言ではない「エア
フォースワン」を借りて来る。すげー、前後から音が出るぜ。かっちょいい。
と、幸せ気分満喫。
