---
title: 「serial experiments lain lif.05」、中村隆太郎/Project 2nd.
tags: anime, psychological, sci-fi
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005FXB8/daydreaonthen-22">serial experiments lain lif.05</a>」、中村隆太郎/Project 2nd.

Lain最終巻。
まあ、ラストはこんなもんでしょ。
確かに面白いけど後半まで同じノリなのでちょっと疲れたかな。
全体の評価でみると70点くらい。
