---
title: 「ソニーの法則」、片山 修、小学館文庫
tags: book, non-fiction, business, sony
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4094161112/daydreaonthen-22">ソニーの法則</a>」、片山 修、小学館文庫

まあ、ライバル会社の研究をしておくのもよかろうと購入。
本書は成功した人やプロジェクトの例をあげながら、ソニーの開発や商売のやり方を説明してる本です。
当然ながら成功例ばかりで、その影にはソニーの体質が肌に合わなかったり、好きなことやらしてもらえなかったり、体壊してやめた人もいるだろうけど、学ぶべきところは学んでおきましょう。
やっぱり、主張や戦略のはっきりしているメーカって羨ましいな。
