---
title: 「Truman Show」
tags: movie, drama
---
「<a href="http://www.trumanshow.com/">Truman Show</a>」

ジム・キャリー扮する保険会社に勤める平凡なサラリーマンが、実はトルーマン・ショーなる人気番組のスターだという話。
街は実は巨大なセットで、本人以外の住民全員が役者で、知らぬは本人ばかりなり。

これ、コメディかあ？ テーマ重すぎ。
面白いことは面白いけど何か一味足りないような気がする。
押井守に監督やらしたら面白かったかも。
全然違う作品になると思うけど。
