---
title: 「反逆する風景」

---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062636409/daydreaonthen-22">反逆する風景</a>」、辺見 庸、講談社文庫

久しぶりに目からウロコの落ちる作品。世の中には時折、一切の意味付けを排除した、ただ存るという厳然たる風景が存在するということ。そんな風景を記した本です。

なるほどね。とかく我々はあらゆる事象に意味をつけたがる性癖がありますが、現実はむしろ無意味の連続であると言えます。
小説読んだりテレビを見てても、全てのシーンに意味をつけたがり、脈絡のない展開や無駄なシーンがあると、やれ蛇足だの出来が悪いだの酷評してしまいます。
しかし、小説としての完成度が上がると言うことは、ある意味その小説が現実からどんどん乖離していくことなんですね。などと、色々考えさせられました。

新聞記者をやっていただけあって文章力はありますし、世界中を旅して経験から来る見識は深いです。本書の対になる「もの食う人々」と合わせて一読の価値はあると思います。
