---
title: 「やみなべの陰謀」、田中 哲弥、電撃文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/407310781X/daydreaonthen-22">やみなべの陰謀</a>」、田中 哲弥、電撃文庫

気がついたら新刊が出てた。
大久保町シリーズと本作の間に翻訳物も手掛けていたのね(「悪魔の国からこっちに丁稚 上/下」)。
探さねば。

さて、本作はジャンルの違う短篇5作が実に巧妙に絡み合わさり、壮大な構想に基づいた一つの長編を構成する、と本人がふざけて書いた解説に書いてあります。
相変わらず肩の力の抜け切ったとぼけた文体が素晴らしい。
大好きです。
