---
title: 「ミュートスノート戦記 戦士の掟は炎で刻め」、麻生 俊平、富士見書房
tags: book, fantasy, shumpei aso
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/482912816X/daydreaonthen-22">ミュートスノート戦記 戦士の掟は炎で刻め</a>」、麻生 俊平、富士見書房

友人に勧められて読みましたが、駄目だあ。
会話がやたらと説明くさい。
台詞がクサくなるときがしょっちゅう。
狙ってるわけでは決してない。
キャラの行動がどうも不自然。
たぶん、人物描写の書き込みが足りない。
著者の主義主張が表に出すぎ。
デビュー直後ならこういう作品は仕方なくて、5〜6冊書いたら肩の力が抜けていい感じになるんだけど、この人、富士見だけで12冊も書いてるやん。
よくなるとは思えん。
