---
title: 「低俗霊狩り 上/下」、奥瀬 サキ、小学館文庫
tags: book, review
---
「低俗霊狩り <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4091932118/daydreaonthen-22">上</a>/<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4091932126/daydreaonthen-22">下</a>」、奥瀬 サキ、小学館文庫

漫画文庫で再販したので購入。
発売直後に買わなかったので探すの大変でした。
どうせ数売れないから再刷してないだろうし。
中身は、新書館版全三巻 - 未完の「自動人形」の章 + 短篇4つとなってます。
短篇が良かったので購入して正解。
また連載再開してくれないかなあ。
「自動人形」ってどうなったんだろう、ウイングスかどっかで一瞬、再開してたような気がしたけど、結局、途中まで？

と、思ってクリックしてたら<a href="http://www.lares.dti.ne.jp/~sakki-/rooms/okuse.html">情報</a>ありました。
ヤングアニマル増刊かあ。
やっぱ未完なのね。
