---
title: 「ラッシュアワー」
tags: action, comedy, movie
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005GDUP/daydreaonthen-22">ラッシュアワー</a>」

シカゴ行きの飛行機で上映してた。
爆睡のため途中からしか観てないので、内容についてのコメントは控えますが、香港映画とハリウッド映画の見事な融合という感じがしました。
香港風のアクションと、ハリウッド流のアップテンポで軽快なノリ。
素晴らしい。

さあ、日本映画はどうやってハリウッドに融けこんでいくのだろう。
「コンタクト」や「トルーマン・ショー」で描写されてる日本人を見てると、道は険しそうです。
