---
title: 「レベル7」
tags: book, mystery, miyuki miyabe
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4101369127/daydreaonthen-22">レベル7</a>」、宮部 みゆき、新潮文庫

宮部みゆきは初めて読みました。とてもよろしい。
徐々に解きあかされていく謎、独立した2つの話が緩やかに交差していって、650ページもある分厚い本をスラスラと読まされてしまいました。
いい小説の見本ですな。
しばらく、彼女の作品を色々読んでみようと思います。

特に本作品を読んで強く思ったのですが、最近は出来すぎた小説というものに疑問を持ちはじめています。
本作品は最初から謎だらけです。それが徐々に解きあかされるために読者はハラハラしながら読み進めていきます。
こういう形態の小説って本当にいい小説なのかな。
悪い言い方をすれば、読者にまずストレスを与えて、それを解消させるため強制的に読み進めさせるわけです。
さらに、読者は少しでも情報を得ようと目を皿にして伏線を探したり、前のページに戻って読み直したりと、非常に疲れてしまいます。
なので、近頃のお気に入りは最初っから答えを提示してるにも関わらず、グイグイと引き込まれる小説が好きです。
高木彬光の「白昼の死角」とか、馳星周の「不夜城」とか。
