---
title: 「魔術師の物語」、デイヴィッド ハント、新潮社
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4102179119/daydreaonthen-22">魔術師の物語</a>」、デイヴィッド ハント、新潮社

ファンタジーと思って買ったら、ミステリーものでした。
内容は70点くらいかな。
物語が完結してからぐだぐだと事後談が続くのは、アメリカ小説で時々見かけますが、この手法は好みじゃない。
やっぱり物語はスパッと終らなきゃね。
