---
title: 「ムトゥ 〜踊るマハラジャ」
tags: dvd, indian cinema, movie, muthu
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005FPOM/daydreaonthen-22">ムトゥ 〜踊るマハラジャ</a>」

DVD版発売。めでたい。もう10回ぐらい観てるような気がする。ひどいハマりようだ。周りの人間も10人以上ハメたので、かなり普及活動に貢献したぞ。

さて、DVD版はきちんと16:9で収録されてます。おそらくノーカット。さらに素晴らしいのは、帯のキャストに「スーパースター ラジニカーント」と書いてあること。
また、クレジット途中で「SUPER STAR」のクレジットがあるんですが、そこにもちゃんとインデックスがふってありました。
クレジットの最中にインデックスふってあるLD/DVDってはじめて観た。
かなり分かってるやつが作ったみたいですな。偉い。
