---
title: 「機械(メタルダム)どもの荒野」、森岡 浩之、ソノラマ文庫
tags: book
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4257768061/daydreaonthen-22">機械(メタルダム)どもの荒野</a>」、森岡 浩之、ソノラマ文庫

1997年発売だって。
知らないうちに出てた。
森岡ファンとしては悔しい。

彼の作品を読んでて思うのは、構成力と文章力は十二分にあるが、発想力はさほど高くないということ。
話そのものはかなりオーソドックで、突飛なストーリーや誰もが思いつかない結末などはありません。
しかし、登場キャラクターの描写が実に見事でついついノメり込んでしまいます。
それが魅力ですね。

内容は人間対機械のよくあるSF。
後半はいささか単調かな。
後から出版された割には「星海の紋章」よりも洗練されてない印象を受けました。
とってもデビュー作っぽい。
実際には違うんだけど。
