---
title: PalmV
tags: gadget, software
---
<%= image "dsc00094" %>
<%= image "dsc00096" %>
<%= image "dsc00100" %>

<a href="http://www.palm.com/products/palmv/index.html">PalmV</a>来たよーん。ほほほ。

Palm Pilot Personal(2MB増設済)から乗り換えた印象は、

- 薄くて軽くてかっちょいい。でも、密度が大きくなった分、重量感がある。
- 液晶が4階調から、16階調になった。地図とかの画像を転送して参照するのに便利になった。
- 充電池は確かに便利だけど、Cradleがデカくて持ち運びには不便。<a href="http://palmorder.modusmedia.com/P5/P5-10413U.htm">Travel Kit</a>が別売りであるけど、IrDA Syncを導入すればCradleいらないので、ACアダプターとコネクタだけの製品が欲しい
- 液晶はめちゃんこ見やすくなった。これで、Internet-draftとかバスの中で読む気になりました
- ということで、2MBじゃ全然足りません。8MB化改造サービス受けます

16階調で遊ぼうと<a href="http://www.trends.net/~mu/pilot.html#imgvtopgm">imgvtopnm</a>を改造して、16階調に対応させました。
PalmV側の画像表示ツールは、<a href="http://muchy.com/review/imageviewer.html">Image Viewer</a>が対応してます。
が、これはシェアウェアなので、フリーの<a href="http://muchy.com/review/tinyviewer.html">Tiny Viewer</a>が対応してほしいところです。
Tiny Viewerは、ソースが公開されてるので、ちょっといじってみようかと思ってます。
PalmのProgrammingの勉強にもなるし。

いれたソフト。

- <a href="http://muchy.com/review/launcheriii_j.html">launcher III</a>: ランチャ
- <a href="http://muchy.com/review/train.html">Train</a>: 駅間経路探索ソフト
- <a href="http://muchy.com/review/datraintime.html">DA Train Time</a>: 時刻表表示ソフト
- <a href="http://muchy.com/review/jinfo.html">J-Info</a>
- <a href="http://muchy.com/review/handwrite.html">Hand Write</a>: 手書きメモ
- <a href="http://muchy.com/review/irsync.html">IrSync+</a>: IrDAでsyncできる
- びろがめ: さめがめゲーム
- <a href="http://muchy.com/review/koikoi.html">KoiKoi</a>: こいこい
- Reversi: オセロ
- <a href="http://muchy.com/review/shanghai.html">Shanghai</a>: 上海
