---
title: 「素敵なダイナマイトスキャンダル」、末井 昭、ちくま文庫
tags: book, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4480034757/daydreaonthen-22">素敵なダイナマイトスキャンダル</a>」、末井 昭、ちくま文庫

サイバラの麻雀漫画に出て来る、先物取引でおなじみのすえいどんの自叙伝です。
現在は白夜書房の取締役だそうで。
こういう人の経歴は読んでて楽しい。
ただし、後半はページ数を埋めただけって感じで面白くなかった。
