---
title: すべてがFになる
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062639246/daydreaonthen-22">すべてがFになる THE PERFECT INSIDER</a>」読了。

さいとさんが、しきりにハマッてるので僕も挑戦。内容はミステリーです。作者の本職は大学の助教授で理系。理系ミステリーなどと呼ばれているそうです。

うーん、評価の難しい作品だなあ。
第一印象は面白いけど、好みじゃないというところ。登場人物みんな理系で、話も理系っぽく淡々としてます。
基本的に伏がなく、殺人の描写とかすごくさらっと書いてるし、謎解きもパズル的要素が強い。
もっとこう情念のドロドロしたところとか、猟奇的なところろか、幻ころがあったりすると、僕好みなんだけどね。

自己主張(自説を作品中で披露すること、勝手に定義)が出すぎてるのも、ちょっと嫌いです。
まあ、これは何作か書いてるうちに適度に抑えられてくると思そんなには気にしてません。
いずれにしろ、もう何冊かつき合ってから評価を下したほうがいいような気がする。

あと、登場人物が理系人間ばっかりなのは、普通の読者からすると新鮮なんだろうけど、周りがそういう奴ばっかりで飽きてるんで、小説の中くらいは文系人間に会わしてくれ。
