---
title: 「ブギーポップは笑わない」、上遠野浩、電撃文庫
tags: book, novel, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4840208042/daydreaonthen-22/">ブギーポップは笑わない</a>」、上遠野浩、電撃文庫

ブギーポップは1巻読了。
この手の他面性、並行性の構成は僕も好きなんですが、ドルロイやら、なぎさボーイやらは、二つの物語が時間的に完全に並行で、複数の視点が同一の状況に集まったときに、それぞれの視点での物のとらえ方や、感情が違うから面白かったんだけど、ブギーポップはそれぞれのつながりが疎なので、ちと不満。
一人の人間が知り得る事実なんてこれぐらいの断片しかない。
という作者の主張は理解できますが。
それと話の面白さは、必ずしも一致しない。
構成の斬新さを抜いて、物語そのものを眺めると、大した話じゃないんだよねえ。
まあ、2巻以降に期待かな。
