---
title: PCその後
tags: pc
---
<a href="/diary/1999/0705-bbq/">BBQ</a>の帰りにそのまま町田で下車し、
<a href="/diary/1999/0704-misc/">昨日</a>
ソフマップに持ち込んだマザーボードを受け取りに行く。
ソフマップ側で用意したCPUと持ち込んだマザーボードとの組合せでは起動したが、
画面にノイズが走っていたため、念のため、新品と交換するとのこと。

また、ノイズの問題はこの新品でも解決しておらず、店においてある何枚かでチェックしたが
すべて同じ症状が出ているので、仕様の可能性が高いと言われました。
この新品でも問題が出ていれば別メーカーの品と交換するとも言ってくれました。
非常に好感の持てる対応で感心しました。ソフマップ町田店は大変いいお店です。

家に帰って接続すると無事起動してました。
レポートのあったように右側にノイズが見られますが、
どうせサーバとして使うので気にしないことにします。

<%= image "dsc00183" %>
<%= image "dsc00186" %>

FreeBSD 3.2をインストールしようとしましたが、
昨日と同じくやはりHDDを4GBと勘違いしてくれます。
本来ならデバッグするべきですが、甘ちゃんにもNetBSD 1.4をいれることにしました。
NetBSD君は無事27GBを認識。わーい。

SambaとNFSの設定をして、WinとUNIXの両方から幸せになれるようにする。
手持ちのデータを山程コピーするとあっという間にディスク使用率が50%を
超えました。90%を超えるのも時間の問題な気がする。
やはり、残り容量一定の法則は正しい。

で、Samba経由でデータをコピってると、通信量が激しいとNetBSDが刺さります。
もうこのPCは24時間通電しててもやかましくないように、キッチンに置いてあるため、
ディスプレイケーブルの届かないくて何が起こってるのかよく分からないので、
リセットボタンを押して逃げました。
それから、何度も起こるのでとりあえずシリアルコンソールの設定したいんだけど、
NetBSDは素人なのでよく分からない。
しばらく保留します。

まあ、何にしろ幸せ。後は、CATV インターネットを待つだけですが、
ひたすらトロいので全然進みません。やる気あんのか。
ちったあソフマップ町田店を見習え。
