---
title: 「新ロードス島戦記 序章 炎を継ぐ者」、水野 良、角川スニーカー文庫
tags: book, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4044604215/daydreaonthen-22">新ロードス島戦記 序章 炎を継ぐ者</a>」、水野 良、角川スニーカー文庫

水野良という作者は1作ごとに出来が良くなって来るので、読んでて成長が楽しい作家です。

テーブル・トークRPGをベースにしていたためある程度仕方ないのですが、「ロードス島戦記」の頃は展開の強引さや心理描写の稚拙さが目立ちましたが、本作品は楽しんで読めました。
主人公スパークの成長と併せて、続きが楽しみな一冊。
