---
title: 「Flowers 1」、奥瀬 サキ、幻冬舎
tags: book, manga, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4344800923/daydreaonthen-22">Flowers 1</a>」、奥瀬 サキ、幻冬舎

スコラが潰れて、手には入らないかと思ってましたが、ソニー・マガジンズから再販されて大変めでたい。
うーん、スゴいねえ。
どんどん独自の世界を構築して、絶対に一般ウケしない領域に行っちゃってますな。
がんばって下さい。
で、続き出るの、これ？
