---
title: 「疾風(かぜ)果つる戦場 ミュートスノート戦記」、麻生 俊平、富士見ファンタジア文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/482912864X/daydreaonthen-22">疾風(かぜ)果つる戦場 ミュートスノート戦記</a>」、麻生 俊平、富士見ファンタジア文庫

引っかかるとことなく、すらっと読めました。
お、この著者って成長してるかもしれない。
でも、読後にあんまり印象が残らないんだよなあ……。
