---
title: 「CUBE」
tags: movie, review, thriller
---
「<a href="http://cubethemovie.com/">CUBE</a>」

すっげえ映画ですな。
面白かった。
こういう映画が商業ラインに乗っかるということに素直に感動しました。
これだけ狭い舞台で駆け引きや推理を見せてくれるとはすごい。
金もかかってなさそう。
限定空間ものの究極って気がします。
