---
title: 「ブギーポップ・ミッシング ペパーミントの魔術師」、上遠野 浩平、電撃文庫
tags: anime, book, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4840212503/daydreaonthen-22">ブギーポップ・ミッシング ペパーミントの魔術師</a>」、上遠野 浩平、電撃文庫

冊を重ねるごとによくなってますね。
うんうん。
この作品って主人公の影が薄いところがいいよね。
それから、アニメか決定だそうでおめでとうございます。
