---
title: 「SNAKE EYES」
tags: dvd, movie, review
---
「<a href="http://us.imdb.com/Details?snake+eyes+(1998)">SNAKE EYES</a>」

輸入DVDで字幕無しで2回観たけど、全然意味分かりませんでした。
友達がレンタルで借りて来たので、3回目は日本語字幕ありで観ました。
……なるほど、そういうことだったのか。
やっぱり、今の英語力じゃサスペンスとSFは理解できませんなあ。
精進しよう。
しかし、ニコラス・ケイジってなんで人気あるの？ ただのチンピラやん。
