---
title: 「The Matrix」
---
「<a href="http://www.whatisthematrix.com/">The Matrix</a>」

宣教師<a href="http://www.itojun.org/">itojun</a>に誘われて、茅ヶ崎ワーナーマイカルへ。

良くできてますな。押井守テイストをばりばり感じますので無条件でお気に入り(後で調べたら本当に影響受けてるらしい)。SFと大都市アクションというジャンルを両立させるために、こういう手法があったのかと感心しました。

以降は、本屋で立ち読みしてた押井守のコメントの要約。「Matrixの謎が解ける瞬間をクライマックスに持って来るべきであろう。
前半で謎が解けてしまい、後半はただのアクション映画になってしまっている。
それから、M14で大理石の壁は壊せない。
あれだけ周到に世界を構築しているのにも関わらず、こんな基本的なところで嘘をつくのは演出家としてやるべきことではない」と、監督二人を若ガキだと言ってました。
なるほどね。ううむ、さすが押井守。
