---
title: 「SF(Samurai Ficition)」
tags: movie, video, review
---
「<a href="http://us.imdb.com/Details?Samurai+Fiction+(1998)">SF</a>(Samurai Ficition)」

風邪引いてボロボロなので会社休み。
部屋でメール捌いてると頭クラクラしてきたので、諦めてビデオ鑑賞と読書にいそしむ。
ということで、MTVで放映してた(らしい)Samurai Fictionです。
もっとコメディ色が濃いかと思いきや、まともな映画でした。
ストーリーもきちんとまとまってます。
それにしても、布袋って侍の恰好が似合うなあ……。
