---
title: 「五番目のサリー〈下〉」、ダニエル キイス、早川書房
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4151101039/daydreaonthen-22">五番目のサリー〈下〉</a>」、ダニエル キイス、早川書房

まず、「アルジャーノンに花束を」をはじめ、ダニエル・キイスの諸作品が文庫化されたのを喜ばしく思います。
僕は文庫以外は読まない派なので、これでようやく彼の作品を読む気になれました。
(でも、寡作な彼のための新規にレーベルを興す意味があるのかねえ)

内容はちと平易かなあ、これってビリー・ミリガンと違ってフィクションだよねえ？もうちょっと二転三転してもいいと思うけどね。
2番目のサリーあたりからは、同じ話の繰り返し。
でも、楽しめました。
最後まで一気に読んじゃった。
日本語訳はちと不満です。
