---
title: 「12万円で世界を歩く」、下川 裕治、朝日文庫
tags: book, travel, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4022611847/daydreaonthen-22">12万円で世界を歩く</a>」、下川 裕治、朝日文庫

下川さんの旅行記はとても面白いんですが、似たような話が多いのですぐに飽きてしまいます。
今回は久しぶりに読むので楽しめるかと思いましたが、やっぱりすぐに飽きてしまいました。
