---
title: まぐろ亭＠三崎
tags: restaurant, work
---
今日は、YRP野比に営業出張です。ネクタイ締めるの半年振り。
8回やり直して遅刻しそうになりました。ああ、駄目社会人。
一瞬、会社に顔だしたらウケたり、全然気がついてくれなかったり……。

で、出張先と三崎が近いのでマグロを食って帰ろうかと言うことになりました。
Webとかメールで色々と聞いてまわった結果、
<a href="http://www.sfc.wide.ad.jp/~riho-m/diary/19990917/">なべっち推薦</a>の
まぐろ亭に決定。

ネクタイ騒ぎのせいでデジカメ忘れる。がびん。
ということで、写真なし。メンバーはouraさんと二人きり。
血合いカルビ焼き、骨随、刺身、地魚のてんぷら、
ハコフグをアルミホイルで焼いたやつ。
酒は純米じゃない吟醸くださいとか言ったら、
メニューに載ってないのが出て来た。味はまあまあ。

テレビの撮影してたから、どっかで写ってるかも。
でも、スーツ姿なので誰も気がつかないと思います。

味ですが、どれも水準以上なんですが、おおっとうなりはしなかったですな。
でも、カルビ焼きははじめて食ったのでちょっと感動。
牛と同じ力強さを持ちながら、後味がさっぱりしてる。
