---
title: 「D ダーク・ロード〈3〉吸血鬼ハンター(11)」、菊地 秀行、ソノラマ文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4257768835/daydreaonthen-22">D ダーク・ロード〈3〉吸血鬼ハンター(11)</a>」、菊地 秀行、ソノラマ文庫

例によって惰性なんですが、うーん多少は面白かったかな。
今回のダークロード全三巻を通して、「あなたは……、あなた様は」と「そんな微笑だった」が山のようにありましたが、これは多くても1物語につき1回に自戒すべきだと思うな。
最近の乱発には問題を感じています。
Dの微笑の重みが全然なくなってきた。
