---
title: 「人間失格」、太宰 治
tags: book, novel, review
---
「人間失格」、太宰 治

<a href="http://members.cool.ne.jp/~palmacool/aozorapalmentry.html">青空文庫</a>でデータを取得して、Palm Pilotでちびちびと読んでました。
本作を読むのは、大学時代以来2回目。

ラストにこういうフレーズがあります。
「いまは、自分には、幸福も不幸もありません。
ただ、一さいは過ぎて行きます。
」当時、これを読んだとき、ああこの物語はハッピーエンドなんだと思いました。
今回も改めてそう思います。
それがどんな結論であれ、悟りを得られたのだから。
