---
title: 「冷静と情熱のあいだ Blu(ブリュ)」、辻 仁成、角川書店
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4048731882/daydreaonthen-22">冷静と情熱のあいだ Blu(ブリュ)</a>」、辻 仁成、角川書店

あんまり恋愛小説って読まないんですが、挑戦。

恋愛小説の難しさって、作者と異なる性の心理がいかに巧みに書けるかに尽きると思います。
(たいていの)男って女性心理が理解できないよね？それでも女性を描こうとするので、アラが見えてくる。
逆に少女漫画等で書かれてる男を見て、こんな奴いるかいと思うよね？
つまり、女性、男性の双方が感情移入できる恋愛小説は最難関のジャンルではないかと思います。
作家という人間は一つの性しか持てないのだから、それは当然の帰結。

本小説は江國香織とのコラボレーションという形をとって、その問題をうまく解決しています。
本作は常に男性の視点に徹し、女性心理は描かず、男性の目から見た表面的な事象の描写に徹する。
逆に女性側の心理描写は同タイトルの江國香織版に任せています。同一の物語を二人の作家が二つの視点で描くことによって、恋愛小説の問題を巧みに回避しているわけです。

で、感想。
常に男性側の視点で書かれており神様的な第三者がいないので、結構主人公と一体化してしまい色々考えさせられてしまいました。
うんうん、女って分かんないよなあ。江國版はまだ読んでないのですが、それ読めばちっとは女性心理の分かる男になれるのかねえ。
