---
title: 「ARIEL(エリアル)〈13〉- 昨日の時計と明日の記憶 -」
tags: book, SF, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4257768584/daydreaonthen-22">ARIEL(エリアル)〈13〉- 昨日の時計と明日の記憶 -</a>」、笹本 祐一、ソノラマ文庫

まずタイトルがいいですな。基本的な並列表記で、語のほとんどがア行〜タ行に集中していて非常に響きがよい。濁音が一つぐらい入ってれば、全体が締まって完璧だったか？

内容ですが、怪作「妖精作戦2 ハレーション・ゴースト」に代表される笹本得意のジャンル(と勝手に思っている)の空間、時間ねじ曲がり系。このジャンルは、過去と未来がねじまがったり、物語が2重構成になるため、読者に理解させるのが難解で、非常に構成や描写が難しく作家の力量が問われる分野です。

感想ですが、ちょっと未消化ぎみかなって気がします。2巻構成ぐらいにして、もっと丁寧に書き込めば印象が変わったのではないかな。特に美亜の恋愛心理の描写がとってつけたように感じる。

しかし、ARIELって全然終る気がしないんだけど、ライフワークにしちゃうのかねえ。
