---
title: 「淋しい狩人」、宮部 みゆき、新潮文庫
tags: book, novel, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4101369178/daydreaonthen-22">淋しい狩人</a>」、宮部 みゆき、新潮文庫

海外出張に持っていく本は読み終ったらそのまま捨ててくるので、どうしても読みたいわけではないけど、何となく読んどこうかなというレベルの本を持って来ます。
本書もそんあ感じ、可もなく不可もない。
でも、宮部みゆきの構成力とかプロットの着眼点とかは凄いと思う。
学ぶべきところは多い。

内容ですが、古本屋が舞台で、本を捨てる人が信じられないようなことが書いてあります。
はい捨てまくってます。
だって、2度と読まないかもしれない本を置いておけるほど日本の土地は安くないもの。
