---
title: IETF その3
tags: IETF, museum, sightseeing
---
AM 4:00に起床。
時差ボケ直らんなあ。睡眠が細切れなので辛い。
シャワー浴びて、仕事の続きはじめる。
あーもう、たかだか5分の発表なのにこんなに時間かけてどうする。
AM 6:00ぐらいでやっと燃えて来た。発表原稿書き上げて練習。
AM 7:00にTerminal Roomへ。メール読んで朝飯食って、部屋に戻って最後の詰め。

AM 9:30、ngtrans WGがはじまる。
結局アジェンダが多すぎて、発表時間がなくなった。
なんかそんな予感してたんだよなあ。
あー、何も考えずに遊んどけばよかった。
ということで、幻の<a href="http://www.don.to/presentation/19991108-ietf/">発表資料</a>。

昼はインド飯。<a href="http://www.jinmei.org/photo/19991108/">写真はjinmeiさん</a>。

OSPF WGに顔出す。全然分からん。その後気絶。夜飯も食わずに寝る。
時差ボケ直らん。もう駄目。
今回は隠れキャラとして生きて行こうと決意する。
