---
title: 「笑うカイチュウ 寄生虫博士奮闘記」、藤田 紘一郎、講談社文庫
tags: book, science, essay
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062645114/daydreaonthen-22">笑うカイチュウ 寄生虫博士奮闘記</a>」、藤田 紘一郎、講談社文庫

寄生虫の色んな話を扱ったエッセイ風の啓蒙書。
時折、寒い親父ギャグが飛び出しますが楽しんで読めました。
サナダ虫の感染率が低下したせいで花粉症の人が増加したとか、アニサキスは基本的には人体には無害で痛みさえ散らせば一週間で治るとか、色々と勉強になりました。
