---
title: IETF その6
tags: IETF, food, party
---
夜は、ステーキ屋で16オンス(約400g)のプライム・リブを食う。
店が暗かったので写真はayayaに<a href="http://www.nui.org/ayaya/ukdiary/199911/19991111/">お任せ</a>。

帰って来て、今日は若者だけで飲もうと買い込んだワインでsumikawa部屋へ。
でも全然人が集まらない。どうやら、友達が少ないようだ。
yuoとayayaで3人で飲む。写真は<a href="http://www.nui.org/ayaya/ukdiary/199911/19991111/">こちら</a>。
ワインは3本とも痛みまくり。くそお、あの酒屋は信用できんな。
ベリンジャーとケンドール・ジャクソンだよ、ワインが可哀想。
yuoは速攻激沈して人のベッドで寝る。
何とか我慢して飲めたケンドール・ジャクソンを2人で1本空けて、
残りの2本は捨て捨て。
飲み足りないのでビールに移行。
ayayaは酒強いねえ。朝3時にyuoが戦線復帰。
何時に寝たか記憶ないけど、たぶん4時ぐらいまで飲む。

[1999/12/18 追記] どうも朝6時まで飲んでたらしい
