---
title: 「冷静と情熱のあいだ Rosso(ロッソ)」、江國 香織、角川書店
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4048731769/daydreaonthen-22">冷静と情熱のあいだ Rosso(ロッソ)</a>」、江國 香織、角川書店

辻版に続いて江國版読了。
こっちの方が好みですな。
直情的な表現の辻版に比べ、本作はもっと心情を秘めて書いています。
文章力の差なのか、男女の感覚の違いなのか、たぶん両方かな。

さすがに主人公には感情移入できませんでした。
やっぱし理解不能。
しかし、マーヴの行動パターンには結構考えさせられるものがありました。
