---
title: 「3LDK要塞 山崎家」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4877287930/daydreaonthen-22">3LDK要塞 山崎家</a>」、太田 忠司、幻冬舎文庫

『建売り住宅に住む小学五年生、山崎滋はきわめて平穏な生活を送っていた。
滋にむりやりキャッチボールをさせたりする「普通の家族」コンプレックスの父をのぞいては。
しかしある時、美女、クミコ・エリス・ハスター、率いる戦車隊が山崎家を付け狙いはじめ、そんな日々も一変する。本格推理かつアクションありの家庭内冒険小説。』

という背表紙のあらすじと上記のタイトルを見たら普通買ってしまうわなあ。
はい、買いました。とても、バカらしい内容で良いです。でも単にバカらしいだけ。60点。
