---
title: 「Dance Dance Revolution 2nd Mix Club version Vol.1」、KCET
---
「<a href="http://www.konami.co.jp/kcet/bemani/club1/index.html">Dance Dance Revolution 2nd Mix Club version Vol.1</a>」、KCET

DDRにそろそろ飽きてきたせいもあるんだけど、全然燃えません。
収録曲もいいのないし。
ビートマニアで楽しい曲とDDRで楽しい曲は別だということがよく分かりました。
