---
title: 「交渉人」
tags: movie, review
---
「<a href="http://us.imdb.com/Details?Negotiator,+The+(1998)">交渉人</a>」

出来いいですね。
駆け引きがスリルあります。
でも、日本公開時のキャッチコピー「IQ180の駆け引き」は絶対変。
知能は必要ですが、むしろ経験と人間性の方が重要だと思うんだけど。
