---
title: 「詩的私的ジャック」、森 博嗣、講談社文庫
tags: book, novel, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062647060/daydreaonthen-22">詩的私的ジャック</a>」、森 博嗣、講談社文庫

こんなに波長が合わない本は「日本語練習帳」以来。
「日本語練習帳」は20ページぐらい読んで捨てたけど、本作は一応最後まで読みました。
読んでて辛かったけどね。
ということで、今回は攻撃的に批評します。
……の後で、ずらずらと文句書こうかと思ったけど、言いたいことがうまくまとまらない上に、時間経ったっちゃたので書くのやめました。
また、いずれ。
