---
title: 「Rave Un2 the Joy Fantastic」"RAVE un2 the JOY fantastic"、the aritist fomely known as Prince、NPG records
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000028U0T/daydreaonthen-22">Rave Un2 the Joy Fantastic</a>」"RAVE un2 the JOY fantastic"、the aritist fomely known as Prince、NPG records

HMV行ったら知らないうちに発売されてた元プリンスのアルバム。
10年ぐらい前のノリに近いけだるい感じが良い。
久しぶりに手放しで気に入った。
