---
title: 「Blade」
tags: movie, review
---
「<a href="http://us.imdb.com/Details?Blade+(1998)">Blade</a>」

かっちょいい映画です。
黒服にサングラス、アジアチックなアクションなど妙にMatrixと相似点がありますね(こっちが先だけど)。
ラストは王道でよし。
あ、2000年に<a href="http://us.imdb.com/Details?Blade+2+(2000)">続編</a>やるのね。
