---
title: 「ホリー・ガーデン」、江國 香織、新潮社
tags: book, novel, literature
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4101339147/daydreaonthen-22">ホリー・ガーデン</a>」、江國 香織、新潮社

ちくちく度は「きらきらひかる」よりは低いのですが、ページ数が多いのでじわじわと効いてきます。
日常の何でもないことや、取りとめのない思考を延々と書き続けられる絵國さんの文章力は本当に凄い。
