---
title: 「妖雲群行」、田中 芳樹、角川文庫
tags: book, fantasy, novel
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4041665108/daydreaonthen-22">妖雲群行</a>」、田中 芳樹、角川文庫

7年ぶりの再開。
さて、本人が思うほど復帰してるかどうか見せてもらいましょう。
うーん、まあがんばれって感じですね。
本書のクオリティはそんなに高くありませんが、兆しは感じられます。
前半は読者に媚びてる感じで昔の田中芳樹っぽくないのですが、後半になるにつれてどんどん良くなって来てます。
