---
title: 「落下する夕方」、江國 香織、角川文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4043480016/daydreaonthen-22">落下する夕方</a>」、江國 香織、角川文庫

絵國の作品は似たような話が多いですが、それぞれテーマは異なっているように思えます。
うーん、本作も素晴らしいねえ。
最後の20ページぐらいのこの呆然とした空気が描けるのは本当に凄いと思う。

ところで読んでる間中、良く分からないけど僕の頭の中で椎名林檎の「眩暈」がリフレインされていました。
独断でテーマ曲に決定。
