---
title: 「秘密」
---
「<a href="http://us.imdb.com/Details?Himitsu+(1999)">秘密</a>」

はっきり言って小説の勝ち。
でも、ちょろっとだけ泣きました。
ラストですが、小説で使ってた指輪ネタは画面映えしないので、別手法を選択したのは正しいと思います。
しかし、物語そのものを変えてしまうのはどうかと思う。
あれだと、奥深さが無くなってしまうやん。
