---
title: 最後の夜
tags: food, uk, work
---
ロンドン最後の夜。とりあえずこれ食っとくでしょーと、ドナーケバブ。
もちろん中身は羊の肉。

<%= image "cimg1584" %>
<%= image "cimg1586" %>

ホテルのバーでギネス飲みながらN+Iの<a href="https://ssl.medialive.jp/ni2005fm/jp/seminar_W12.html">プレゼン</a>の資料作り。終わらん。

<%= image "cimg1588" %>
