---
title: 魚ひろ
tags: restaurant, sake, seafood
---
<a href="http://www.uohiro.jp/">魚ひろ</a>に塩水ウニ入荷してたので、ふらふらと食べにいく。
写真ないけど、うまかった。

んで、田酒と出羽桜の氷清が入荷。ロックで飲む珍しい日本酒。
ただし氷があまり溶けないようにこまめに注いで飲むこと。

<%= image "cimg2685" %>
<%= image "cimg2687" %>
