---
title: 煮豚
---
煮豚を作る。いっつも適当に調味料をぶちこむんですが、
珍しく煮豚の神さまが降りてきたのでレシピを控えておく。
ベースのレシピは<a href="http://allabout.co.jp/gourmet/okazu/closeup/CU20021010/index2.htm">ここ</a>からで、さらに家にある材料に変更。

- ロース肉ブロック 約400g
- しょうが 薄切り4〜5枚程度
- にんにく 大1かけを荒くみじん切り
- ごま油 大さじ1
- 長ねぎ（青い部分）
- 豆鼓 10粒程度を荒くみじん切り
- 水 320cc
- 焼酎 200cc
- 醤油 120cc
- オイスターソース 大さじ1
- 鶏がらスープの素 大さじ1
- 乾燥唐辛子 2本
- 味噌 小さじ1
- 砂糖 大さじ6

にんにくと豆鼓を油でいためたところに、ロース肉ブロックをつっこんで表面軽く焼いてから、調味料を全部ブチ込む。
30分ぐらい(うちルクルーゼなんで普通の鍋より早いかも)煮込めばできあがり。
味玉は別途半熟卵を作って、さまったダシに突っ込む。

<%= image "cimg3161" %>

<a href="http://www.yamaken.org/mt/kuidaore/archives/2005/02/post_479.html">
なんばんの粕漬け</a>を載せていっしょに食べるとかなり幸せ。
