---
title: 歯列矯正見積り
tags: health, tooth
---
レントゲンと歯型の結果から<%= static_to "tooth.pdf", "見積り" %>(pdf)が出きたので、
話を聞きにいく。矯正に2年かかって、予算が約70万だそうです(期間と金額は個人差があるので、歯列矯正考えてる人はあくまでも参考にしてください)。

ちなみに行ってる歯医者は<a href="http://www.yonezawa-dental.com/">よねざわ矯正・歯科医院</a>です。
相模大野に住んでたときに近くにあったので利用してましたが、腕もいいし、何よりも虫歯予防に力をいれているので信頼してます。イギリス住んでるときも一時帰国の際は歯のクリーニングしてもらってました。

今の家からだと一時間かかるのですが、通う価値ありだと思ってます。
