---
title: 通販でうどん
---
日本に戻ってきたらぜひやりたかったのが、麺通団のさぬきうどんの<a href="http://www.bellne.com/shp/srvlt/PBelProductDisplay?storeId=10001&amp;catalogId=10001&amp;langId=-10&amp;productId=501046715&amp;orderKbn=3&amp;slk=">通信販売</a>。

ということで申し込みました。今月は「山下」のうどん。

<%= image "cimg3341" %>

うまいけど、コシがありすぎて噛めねえ。
