---
title: アメリカ出張 その2
tags: business, food, travel
---
前のカンファレンス終わった瞬間部屋に戻って晩飯も食わずに爆睡する。
起きたら真夜中でした。うー、"<a href="http://www.wandg.com/">Wallace &amp; Gromitt</a>"みたかったのに。

ルームサービスがはじまるのを待って、早朝からがっつりステーキを食う。

<%= image "cimg3562" %>
