---
title: インデアンカレー
tags: curry, food, tokyo
---
東京駅近辺に出張だったので、久しぶりに<a href="http://www.indiancurry.jp/shop/marunouchi.html">インデアンカレー</a>へ。

<%= image "dsc05857" %>

例によって食い始めてから写真撮ってないのに気づく。

さらに言うとセミナーの写真撮ろうと思ってデジカメ持ってきたのにカレーしか撮ってないことに気づく。
