---
title: アンプ+スピーカー購入
tags: electronics, home, shopping
---
蓮がチューハイぶっかけてAVアンプを壊す。
まあ、<a href="http://www.don.to/diary/1999/0116-avamp/">10年近く使ってた</a>のでよしとしよう。

家の中のケーブルを減らそうとHDMI化計画を立ててたので、
その一環としてYAMAHAの<a href="http://www.yamaha.co.jp/audio/prd/ysp/ysp-600/index.html">YSP-600</a>を購入。
スピーカー一体型なので、スピーカーケーブルもいらなくなって、すっきりしました。

<%= image "dsc07080" %>
