---
title: 火鍋
tags: dinner, hot pot, shinjuku
---
新宿で暑気払い。

<pre class="address">
<a href="http://www.hinabe.net/">小肥羊</a> 新宿店
東京都新宿区歌舞伎町2-26-3　アミモトビル2階
</pre>

<%= image "gyuusuji" %>
<%= image "hinabe" %>

鍋は辛さが三段階で選べるんですが、もちろん一番辛いやつ。
ビールが進む進む。

二次会はワイン。酔っ払ってたんで店覚えてねえ。

<%= image "web" %>
