---
title: ホワイト餃子
tags: food, gyoza, restaurant
---
二郎相模大野店に行ったら、臨時休業でやんの。悔しいので一駅移動して久しぶりにホワイト餃子へ。

<pre class="address">
<a href="http://www.white-gyouza.co.jp/branch/sagamihara.html">相模原 萬金</a>
〒228-0812 神奈川県相模原市相南4-1-7
TEL: 042-746-5855
</pre>

<%= image "a01" %>
<%= image "a02" %>

嬉しくてついつい昼間からビールを頼んでしまう。
