---
title: きのこの歌
tags: hoikuen, kids, song
---
保育園で習ってる<a href="http://tara2to.exblog.jp/5623923/">きのこの歌</a>。耳にこびりついて離れん。

<%= movie "mov07801" %>
<%= movie "mov07804" %>
<%= movie "mov07805" %>

その他の歌。合ってるんだか合ってないんだかさっぱり分からん。

<%= movie "mov07802" %>
