---
title: 東京厨房
tags: food, lunch, restaurant
---
飯田橋でお昼ご飯。

<pre class="address">
<a href="http://gourmet.suntory.co.jp/shop/0X00029180/index.html">モダン食堂 東京厨房 飯田橋店</a>
東京都千代田区富士見2丁目11-11 峰ビル1Ｆ
03-3238-5366
</pre>

ガーリックチキンステーキ定食。

<%= image "image_004" %>
<%= image "image_003" %>
