---
title: TESCOで買いもの
tags: cooking, life, shopping, uk
---
会社の帰りに<a href="http://www.tesco.com/">TESCO</a>で買いもの。
ひさしぶりに料理意欲が湧いたので色々と買うことに。

まずは今日の晩飯。ステーキと野菜いため。
野菜の量多過ぎ。ちっこいのありませんでした。

<%= image "img_0148" %>

料理してる横でカレーでも煮込もうかと豚肉購入。

<%= image "img_0147" %>

さらに真のイギリス人となるべく冷凍食品を物色。

<%= image "img_0146" %>

生パスタ発見。うまそうなので購入。

<%= image "img_0149" %>

んで、水のコーナーに行ったら普段は山盛りあるはずの水が全部売り切れてるのでビビる。
くそー、みんな戦争対策してやがる。乗り遅れた。
