---
title: 会社飲み
tags: religion, thai, work
---
某社のすんげえ分厚い調達仕様がやっと片付いたので、会社のメンバーで打ち上げ。
場所は会社そばのタイ料理屋。
よくよく考えたら国際色豊かなメンバー構成。
イスラエル生まれのアメリカ人Uriと、
去年までアメリカで働いていたフランス人のShaiと、
オランダ人のSteveと、
親が南アメリカから来たイギリス人Paulと僕の5人。

ドイツ人ステファンは家族会議で飛行機乗るなと言われたらしいので今回は欠席。
欠席するとネタにされるのは世界共通らしくステファンネタでしばらく盛りあがる。
うーむ何だかんだ言いながらみんな彼には言いたいことがあるようだ。

んで、例の件をバラしたら更に盛りあがる。楽しゅうございました。

会話の流れからいつのまにか宗教の話になって、
日本の宗教について説明を求められたんだけど、返答に窮す。
西洋の人達に日本の宗教説明するのはすごい難しいす。
後日、web漁ったらとてもいい<a href="http://www2.kanawa.com/japan/religion.html">ページ</a>見付けたんで、ご紹介。

"Kami"と"God"が言葉としてイコールじゃないところがまったくもって正しい
と思う。

遥か昔にGodという概念を輸入したときに「神」が訳語として当てられたせいで、
ついつい日本の神さまを英語で説明するときに"God"って言ってしまうけど、完全に別概念だ
よなと思う今日この頃。
天照は英語の"God"に近い概念だけど、
お米の神さまとか竜神さんとか町の神社の神様はそうじゃない。
日本ではそういうのも全部ひっくるめて"Kami"と表現するので、
"God ⊂ Kami"が成り立つ。だから、"God"を神と訳すのは正しいけど、
"Kami"を"God"と逆に訳すのは間違ってると思います。

八百万の神を差して"We have millions of gods in Japan."なんて言っても、
godという言葉が的を外してる上に、
Christian(もしくは唯一神の宗教)がたぶん不快感感じると思うので、
誰にとっても嬉しくない表現ですね。
