---
title: 掃除機購入
tags: life, uk
---
炊飯器に続いて掃除機も購入。家には備え付けの掃除機があるんですが、
古くてあまり調子が良くないので、前回奥さんがイギリスに遊びに来たときにも
すこぶる評判が良くありませんでした。
あ、そういえば奥さんが2002年冬にイギリスに来てたことは内緒にしてたので<a href="../../2002/1116-afternoontea/">証拠写真</a>追加。

一応、大家のニコスには掃除機の調子が悪い旨を伝えたんですが、
「こうやってガリガリこすればちゃんと吸えるやん」と言われてあえなく敗退。

で、買っちゃいましたよdyson。やっぱエンジニアだったらこれ買っちゃうでしょー。
同じモデルでも色違いで4種類あってしかも値段が全部違うので、
何が機能的に違うのかさっぱりわからなかったんだけど、カタログをゲットして納得。
要はturbo brushあり/なしと、HYPO filterあり/なしの4種類だそうで。

悩んだけど結局最上位機種買っちゃったよ。はっはっはー。

<%= image "img_0188" %>
<%= image "img_0189" %>
<%= image "img_0190" %>

はじめスイッチ入れたとき、
吸い込みが今イチだったのであれこんなもんかと思ったんだけど、
クズ入れの部分のフタが少しずれて空いていました。閉じた途端凄い勢い。
おー、吸い取る吸い取る。

部屋全部掃除終わると結構ビビるぐらいゴミが吸い取られてた。すげえすげえ。

<%= image "img_0192" %>

そういえば、もう一個dysonのすごいところ。
なんと電源ケーブルを巻き取ってくれます。
首かしげるなかれ。いまだにイギリスでは電源ケーブルが巻き取れない掃除機がほとんどなのだ。

いやあ、いい買物したぞ。新妻向かえる準備は着々と進行中。
