---
title: イギリスで大往生
tags: game, uk
---
4/10日発売のPS2版の<a href="http://www.arika.co.jp/product/daiojyo/">怒首領蜂 大往生</a>
をプレイするために、日本に帰ったタイミングでPS2を購入しようと思い立つ。
こっちで本体購入も考えたけど、どうせ地域プロテクトかかってるはずで、プロテクト外すのも面倒くさいので、日本から持ち込むことにしました。

しかーし、春限定カラー品切れのあおりをくらってノーマル版の黒色PS2も見付からず。
このままだと1か月後にイギリスにやってくる新妻の嫁入り道具にPS2を入れてもらわないといけない。
「あたしと大往生とどっちが大事なの！？」的な事態を避けるためにも、
新妻が来る前にプレイし飽きてないといけない。必死で探したところ、
イギリスに戻る前日に相模大野でオープンしたてのさくらやで発見。
しかも最後の一個だった春限定カラー発見。
ついでに動作チェック用に<a href="http://www.sega-am2.co.jp/vf4evo-ps2/">VF4 evo</a>もゲット。
4/9の朝に僕はイギリスに戻っちゃったので、
大往生自体は新妻に送付を依頼する。

<%= image "img_0175" %>

イギリスで日本版のPS2をプレイするにはさらに二つの問題があります。

* 電圧問題
 - 単純に変圧器をかますことで解決。世の中には基板の電源を入れ換えちゃう技もあるらしい。パーツ売ってるwebサイトありました。
* NTSC/PAL問題
 - イギリスのTVはいまだにRGB 21ピンが現役なので、RGBケーブルを日本で買って持ち込む。どうせドット避けするにはこれは必須だし。

<%= image "img_0177" %>

ところが、RGBケーブルつなげても移らず。
webで調べたら日本とヨーロッパではピン配置が違うらしい。
結局、地元のゲームショップでRGBケーブルを購入したら写りました。

が、さらに問題。画面が緑色です。
やべえ、本体側もピン配置が違うのかとビビるがよくよく画面見ると
色が薄いだけでちゃんと赤色も出てる。おやと思って調べたら単にPS2の設定問題でした。
デフォルトはYCbCrになっていて、これをRGBに変えないといけない。

<%= image "img_0185" %>

ということで、ちゃんと写りました。
ただし、DVDの再生はコピープロテクトのため緑色かかったまんまです。
これは仕様なので諦める。
後は、大往生を待つのみ。新妻はちゃんと発売日に送ってくれました。ありがとー。

<%= image "img_0186" %>

んで、月曜日出社して仕事してたらセキュリティから電話がかかる。

「ハロー」  
「ヘイ、スミカワ。大往生が届いてるぜベイベー(超意訳)」

キターーーーッ！ ダッシュで家に帰る。帰りの高速は新記録の105mph出てました。
緩いカーブで不安になるくらいGかかるので、もうこれ以上は出せません。

とりあえず付属のDVD鑑賞。現時点で全国一のスコアのプレイです。
すんげえです。人は神になれるんだ。
これだけでも5800円の値打ちあり。
ゲームの方も申し分なしの移植度。
シューティングは作ってもあんまり売れないらしいので、各メーカーがどんどん撤退していってます。
シューティングの未来を絶やさないためにもみんな買うべし。

P.S. PS2の<a href="http://www.watch.impress.co.jp/av/docs/20030414/scei.htm">新製品</a>が発表された。やられた。
プログレッシブはともかく、ファンノイズ低減が悔しい。
