---
title: イチゴ狩
tags: brighton, farm, strawberry
---
旬に入ったため、スーパーにイギリス産のイチゴが出回りました。
それまでは売られていたのはスペイン産で味はまあそれなりだったんだけど、
イギリス産食ったらもううめえのなんのって。

ということで、雑誌に載ってた<a href="http://www.tulleysfarm.com/">Tulley's Farm</a>にイチゴ狩に出かけることに決定。電話で問い合わせたらちょうど今日がイチゴ狩の初日だそうで、ラッキー。

車で一時間ぐらい飛ばして現地に到着。
デジカメは持っていったんだけど、電池入ってないことに車の中で気づく。あう。
農場にはPYOって看板が出てて何じゃらほいと思いましたが、"Pick Your Own"の略でした。
なるほど。

農場につくと、カゴもらってイチゴを採集します。
日本のイチゴ狩と違って採りながら食べるのはなし。
ハウス栽培じゃなくて、単に畑で作ってるだけだからねえ。
しかも、雑草とか普通に生えてるし、手入れしてるのかしらん。

買ったイチゴは計り売り。
kg当たりで2.5ポンドだったかな。
初日だけあってまだ青い実が多い。
完全に熟して実はなかなか見つからず。
農場のおばちゃんに葉の下が狙い目と言われたので、そこを集中的に探す。
おお、結構あるじゃん。ということで、2カゴ分ゲット。7.5ポンドだったかな。

<%= image "img_1169" %>

味はウマいことはウマいんだけど、感動するほどではなし。
ちょっと時期が早かったかな、今度はゴザとイチゴ洗う水持って、ピクニック気分で来よう。

さらに、近所のパブで昼飯食ったあと、イギリス南部の町Brightonへ。
海辺の保養地です。
いい天気だけあって、すんげえ人だかりでした。
イギリス中の人間が日差し浴びに来たって感じ。
まあ、海辺にいて気持いいのは今だけだからねえ。
Pierとかブラブラしたり、ジェットコースター乗ったり、
海辺でビール飲んでうだうだしてから帰る。
充実した週末であった。
