---
title: 今度こそイギリスで一番暑い日
tags: Pimms, beer, summer
---
新聞によると今日が<a href="http://www.sankei.co.jp/news/030810/0810kok103.htm">観測史上初</a>
の暑さだったそうで。
クーラーがないのが一般的なイギリスではもう暑さでバテバテです。
冬の寒さ対策のため、機密性の高さとあいまって窓を全開にしても暑さが抜けてくれません。
かえすがえすもスコットランドに行きそびれたのが悔やまれる。

PM6:00頃一向に涼しくならないので、近所のバーへ繰り出す。
ここもクーラーなかったけどねー。

一杯目、Pimm's。イギリスでは夏の定番カクテルらしい。

<%= image "img_1606" %>

僕らも初挑戦なので、横目で見ながらレシピ盗む。

<ol>
<li> グラスに氷をいれる。</li>
<li> <a href="http://www.webtender.com/db/ingred/150">Pimm's</a>を1ショットもしくは2ショット(なぜか僕のグラスとマイワイフのグラスでは量が違った。当然、マイワイフが2ショット)</li>
<li> レモン 1/4切をしぼる</li>
<li> キュウリの細切りをいれる(これポイント)</li>
<li> ジンジャーエールをグラスいっぱいに注ぐ。</li>
<li> 上にレモンのスライス乗せてできあがり。</li>
</ol>

サングリアもありました。わーい。

<%= image "img_1608" %>
