---
title: 辛唐揚に挑戦
tags: cooking, chicken, Chinese
---
北京で食った辛唐揚が今イチだったので自分で挑戦。

<ol>
<li> 低温油に赤唐辛子を大量に突っ込む</li>
<li> パリパリになるまで揚げる</li>
<li> 真っ赤になった油で普通に鳥唐揚げを作る。</li>
</ol>

で、完成品。

<%= image "img_1906" %>

むう。味はいいんだけど、鳥唐揚自体の出来が今イチでした。油低温にしすぎた。
ということで、またそのうち挑戦。

他のメニューもついでに撮る。

<%= image "img_1907" %>
<%= image "img_1908" %>
