---
title: FreeBSDでiPod
---
ふと気づくと手持ちのCardbusのfirewireカード(玄人志向製。安かったの)が
FreeBSD-currentで認識されてた。

<%= image "img_2086" %>

ということで、40GB iPod(Windowsフォーマット)をさしこんでみる。
以下はdmesgの一部を抜粋。

<pre class="terminal">
cardbus0: Resource not specified in CIS: id=10, size=800
cardbus0: Resource not specified in CIS: id=14, size=80
cardbus0: Resource not specified in CIS: id=18, size=100
start (88000000) &lt; sc-&gt;membase (c0200000)
end (ffffffff) &gt; sc-&gt;memlimit (cfffffff)
start (88000000) &lt; sc-&gt;pmembase (e8000000)
end (ffffffff) &gt; sc-&gt;pmemlimit (cfffffff)
fwohci0: &lt;VIA VT6306&gt; port 0x1100-0x117f mem 0x88000800-0x880008ff,0x88000000-0x880007ff irq 5 at device 0.0 on cardbus0
start (88000000) &lt; sc-&gt;membase (c0200000)
start (88000000) &lt; sc-&gt;pmembase (e8000000)
fwohci0: [MPSAFE]
fwohci0: OHCI version 1.0 (ROM=1)
fwohci0: No. of Isochronous channel is 8.
fwohci0: EUI64 00:01:08:10:00:00:8d:b9
fwohci0: Phy 1394a available S400, 3 ports.
fwohci0: Link S400, max_rec 2048 bytes.
firewire0: &lt;IEEE1394(FireWire) bus&gt; on fwohci0
if_fwe0: &lt;Ethernet over FireWire&gt; on firewire0
if_fwe0: Fake Ethernet address: 02:01:08:00:8d:b9
sbp0: &lt;SBP-2/SCSI over FireWire&gt; on firewire0
fwohci0: Initiate bus reset
fwohci0: BUS reset
fwohci0: node_id=0xc000ffc0, gen=1, CYCLEMASTER mode
firewire0: 1 nodes, maxhop &lt;= 0, cable IRM = 0 (me)
firewire0: bus manager 0 (me)
start (88000000) &lt; sc-&gt;membase (c0200000)
end (ffffffff) &gt; sc-&gt;memlimit (cfffffff)
start (88000000) &lt; sc-&gt;pmembase (e8000000)
end (ffffffff) &gt; sc-&gt;pmemlimit (cfffffff)
start (88000000) &lt; sc-&gt;membase (c0200000)
end (ffffffff) &gt; sc-&gt;memlimit (cfffffff)
start (88000000) &lt; sc-&gt;pmembase (e8000000)
end (ffffffff) &gt; sc-&gt;pmemlimit (cfffffff)
fwohci0: BUS reset
fwohci0: node_id=0x8000ffc0, gen=2, non CYCLEMASTER mode
firewire0: 2 nodes, maxhop &lt;= 1, cable IRM = 0 (me)
firewire0: root node is not cycle master capable
firewire0: bus manager 0 (me)
firewire0: New S400 device ID:000a27000251455f
sbp0:0:0 No additional information to report
sbp0:0:0 No additional information to report
sbp0:0:0 No additional information to report
GEOM: create disk da0 dp=0xc551e450
sbp0:0:0 No additional information to report
sbp0:0:0 No additional information to report
sbp0:0:0 No additional information to report
sbp0:0:0 No additional information to report
sbp0:0:0 No additional information to report
da0 at sbp0 bus 0 target 0 lun 0
da0: &lt;Apple Co iPod 2700&gt; Removable Simplified Direct Access SCSI-2 device 
da0: 50.000MB/s transfers, Tagged Queueing Enabled
da0: 38147MB (78126048 512 byte sectors: 255H 63S/T 4863C)
</pre>

お、認識するじゃん。

<pre class="terminal">
% mount_msdosfs /dev/da0s2 /ipod
% ls /ipod/
Calendars/      Contacts/       Notes/          XPlay music/    iPod_Control/
</pre>

<a href="http://gtkpod.sourceforge.net/">gtkpod</a>で遊んでみる。いい感じ。

<%= image "img_2088" %>
