---
title: 鶏煮込みそば
tags: Roppongi, lunch, restaurant
---
六本木で昼飯

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1307/A130701/13001271/">香妃園</a>
東京都港区六本木3-8-15 瀬里奈ビレッジ 2F
03-3405-9011
</pre>

<%= image "img_0032" %>
