---
title: 六本木ランチ
---
和食メニュー5種類から選べる。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1307/A130701/13010458/">旬菜魚 藍</a>
03-3403-3014
東京都港区六本木4-4-3 六本木協和ビル西館 1F
</pre>

<%= image "img_0045" %>
