---
title: ちっちゃいWiFiルーター
---
出張時にホテルで使う無線ルーターとして今まではAirMacExpressを使ってましたが、イケてるのが発売されたので購入。
プラネックスの<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B004G8Q7DQ/daydreaonthen-22">MZK-RP150N</a>です。
横の10円玉と比べると笑うほど小さい。

<%= image "img_0186" %>

このサイズでLAN側のポートまでついてる。まあ、使うことないと思うけど。

<%= image "img_0183" %>

給電はUSB。コネクタはいまどきのMicro USB。1A必要なので注意。

<%= image "img_0185" %>
