---
title: ジャンクガレッジ
---
量が手頃な二郎って感じ。大変よろしい。

<pre class="address">
<a href="http://r.tabelog.com/chiba/A1201/A120102/12025058/">ジャンクガレッジ プレナ幕張店</a>
千葉県千葉市美浜区ひび野2-4 プレナ幕張 1F
043-296-0133
</pre>

<%= image "img_0243" %>
