---
title: 日本橋で昼飯
---
JANOG28の会場でランチ。

<pre class="address">
<a href="http://mi-mo.jp/store.php?iid=0013&tid=00000281">和牛一頭焼肉 盛岡手打冷麺 房家</a>
東京都中央区日本橋室町2-2-1 コレド室町 3F
TEL 03-6225-2347 
</pre>

<%= image "img_0334" %>
<%= image "img_0337" %>
