---
title: JANOG28
tags: conference, janog, tempura
---
トイレに行ってたら、飯友を探すタイミングを逃したので、一人で付近を探索。
天ぷら屋発見。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1302/A130202/13044634/dtlrvwlst/434355/">天ぷら 天万</a>
03-3241-6618
東京都中央区日本橋室町1-11-13
</pre>

これで700円。コストパフォーマンス高し。カウンターにいたのでめちゃ暑い。汗だくで食う。

<%= image "img_0339" %>
<%= image "img_0338" %>

JANOGじゃがりこ。

<%= image "img_0340" %>

帰りがけに1Fの店のぞいたら、COEDOのビンを発見。お土産に買って帰る。

<pre class="address">
<a href="http://mi-mo.jp/store.php?iid=0013&tid=00000271">にんべん 日本橋本店</a>
東京都中央区日本橋室町2-2-1 コレド室町 1F
TEL 03-6225-2347 
</pre>

<%= image "img_0343" %>
