---
title: mango tree cafe
tags: family, food, restaurant
---
両親が大阪から遊びに来たので横浜で晩ご飯。

<pre class="address">
<a href="http://www.hotpepper.jp/strJ000697860/">mango tree cafe</a> ルミネ横浜店
神奈川県横浜市西区高島2-16-1 ルミネ横浜6F
050-5816-5165
</pre>

<%= image "img_0428" %>
<%= image "img_0429" %>
<%= image "img_0430" %>
<%= image "img_0433" %>
