---
title: 天丼
---
東大に来たんで、天丼。
定期的にやたらと天丼を食べたくなるんだけど、油と甘ったるいタレのせいで食い終わる前に既に気持ちが悪くなってる。
これでまた当分見たくもない。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1310/A131004/13015466/">天扶良まるやま</a>
東京都文京区西片2-21-4
03-5684-5188
</pre>

<%= image "img_0486" %>
