---
title: 横浜こども科学館
tags: family, museum, yokohama
---
蓮くんとお母さんが二人でおでかけ。

<pre class="address">
<a href="http://www.sciencemuseum.jp/yokohama/">横浜こども科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

<%= image "img_1757" %>
<%= image "img_1761" %>
<%= image "img_1763" %>
<%= image "img_1766" %>
