---
title: 新宿御苑でラーメン
tags: food, ramen, tokyo
---
某ユーザ会の帰りに晩飯。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1304/A130402/13121802/">俺たち越後や!</a>
東京都新宿区新宿1-19-6 ISビル1F
03-5919-0506
</pre>

<%= image "img_0029" %>
