---
title: Tokyo6to4忘年会
tags: party, tokyo
---
<pre class="address">
<a href="http://www.hinabe.net/">小肥羊</a> 新宿店
東京都新宿区歌舞伎町2-26-3 あみもとビル2F
</pre>

<%= image "img_0252" %>
<%= image "img_0254" %>
<%= image "img_0255" %>
