---
title: 草津ワーケーション その4
tags: kusatsu, tonkatsu, workation
---
休みをとってがっつり湯治の日。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10001016/">とん香</a>
群馬県吾妻郡草津町草津23-90
0279-88-6139
</pre>

開店直後に入ってジャンボロースカツ定食。
店を出たらもう売り切れだった。

<%= image "img_9553" %>
<%= image "img_9551" %>
<%= image "img_9552" %>

<%= image "img_9554" %>
