---
title: ダラス出張 その1
---
ダラス出張。

UberでGalleriaへ移動。前回と同じホテル。

<pre class="address">
<a href="https://www.marriott.com/en-us/hotels/dalmd-le-meridien-dallas-by-the-galleria/overview/">Le Meridien Dallas by the Galleria</a>
13402 Noel Road, Dallas, Texas, USA, 75240
</pre>

<%= image "img_9730" %>
<%= image "img_9728" %>
<%= image "img_9727" %>
<%= image "img_9729" %>

ブラっと歩いて改めて車がないと何もできないことを実感する。
マクドナルドで晩飯食おうとおもったらテイクアウトのみだった。

ハンバーガー食いながら歩いてホテルに戻る。
WiFi何やってもつながらず明日には解消してることを期待して寝る。
