---
title: ダラス出張 その2
tags: businesstrip, dallas, restaurant
---
朝起きてもWiFiつながらず、切り分けしたら部屋に入った瞬間にIPアドレスが取れなくなる。
フロントに言って部屋を変えてもらったらあっという間に解消。

<%= image "img_9731" %>

仕事とミーティングしてから、早めにレストランに行って、<a href="https://www.northitalia.com/locations/dallas-galleria-tx/menus/happy-hour-menu/">ハッピーアワー</a>で晩飯。
物価高すぎるねん。

<pre class="address">
<a href="https://www.northitalia.com/locations/dallas-galleria-tx/">North Italia</a>
13270 Dallas Parkway Suite #1155
Dallas, TX 75240
(972) 788.3230
</pre>

<%= image "img_9732" %>
