---
title: デイキャン
tags: Camping, Day Camp, Bonfire
---
今日だけ晴れたので、いつもの<a href="https://www.shizenkanizumi.jp/">ベリーキャンプ場</a>へ。
予約無しの当日受付。ガラガラでフリーエリアは貸し切り状態だった。

<%= image "img_9766" %>

最小限の荷物で、コンビニ飯と酒で焚き火する。

<%= image "img_9767" %>
<%= image "img_9768" %>
