---
title: いさりび
tags: aomonoyokocho, higashi shinagawa, restaurant, sake
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13234843/">いさりび 青物横丁店</a>
東京都品川区南品川2-7-18 TYビル 2F
03-6718-4920
</pre>

酒の写真しか撮ってなかった。

<%= image "img_9780" %>
