---
title: とりいちもんじ
tags: Restaurant, Celebration, Food
---
快気祝いでとりいちもんじ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14061002/">とりいちもんじ</a>
神奈川県横浜市保土ケ谷区岩間町2-162
045-459-9464
</pre>

<%= image "img_9867" %>
