---
title: 豚山
---
初豚山。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14078246/">豚山 横浜西口店</a>
神奈川県横浜市西区南幸2-9-1
非公開
</pre>

小野菜少なめにしたけど、子ぶたにすればよかった。

<%= image "img_9994" %>
