---
title: 東品川ごはん 裏大輝家
tags: Ramen, Yokohama Iekei, Work, higashi shinagawa
---
1ヶ月休み明けの出勤。
これだけ休んだの考えたら人生で初めてだな。

とはいえ、ゴロゴロするしかなかったので、あっという間だった。

<%= image "img_0017" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13289489/">横浜家系ラーメン 裏大輝家 青物横丁店</a>
東京都品川区南品川5-4-5
</pre>

特製ラーメン。

<%= image "img_0019" %>

朝ラーメンはじまるとのこと。

<%= image "img_0018" %>
