---
title: 横濱丿貫
tags: Ramen, Lobster, Yokohama
---
人間ドックのあと、オマール海老のラーメン。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14075484/">横濱丿貫 アソビル店</a>
神奈川県横浜市西区高島2-14-9 アソビル 1F
</pre>

<%= image "img_0020" %>
