---
title: 権八
tags: Dinner, Restaurant
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1307/A130701/13005298/">権八 西麻布</a>
東京都港区西麻布1-13-11
050-5443-1691
</pre>

外タレが来たのでディナーパーティーに呼ばれる。
キル・ビルのロケ地のモデルになった店。

<%= image "img_0103" %>
<%= image "img_0104" %>
<%= image "img_0105" %>

