---
title: Solution Architect Professionalゲット
tags: AWS, Certification
---
AWS Solution Architect Professional取得した。IT業界で認定とったの人生初だ。

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3c04f055-ac37-4e48-88bd-158a7d319c96" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

ついでに社内認定制度のバッジも貼っておく。

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2cf1afda-667f-4228-a082-46d1037ddfa9" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="7fb380d7-5760-4043-b1c4-2555d993a961" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
