---
title: 東品川ごはん うちば
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13231283/">そば切り うちば</a>
東京都品川区東品川3-27-24 KAHARA品川 1F
03-6712-3388
</pre>

そういや冷やし肉そば食ってなかったなと注文。

<%= image "img_0432" %>
