---
title: 目黒ごはん 麺家 黒
tags: lunch, meguro, ramen
---
所用で目黒オフィスに来たので黒へ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13020309/">麺家 黒</a>
東京都目黒区目黒1-6-12 ワンエム目黒 1F
03-3490-1196
</pre>

並の油少なめ。

<%= image "img_0435" %>
