---
title: 伊勢屋
tags: katsudon, lunch
---
カツ丼納め。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

<%= image "img_0480" %>
