---
title: うなちゃ
---
せっかく浜松来たので悔しいので鰻茶を食いにいく。

<pre class="address">
<a href="http://www.tokai.or.jp/yaotoku/">八百徳</a>本店
浜松市板屋町２５２
TEL: 053-452-5687
</pre>

3時ごろ行ったんで支店の方が閉まっててあせったけど本店が開いててよかった。

<%= image "cimg5128" %>
<%= image "cimg5132" %>
