---
title: うなちゃ
tags: restaurant, shizuoka
---
せっかく浜松来たので悔しいので鰻茶を食いにいく。

<pre class="address">
<a href="https://tabelog.com/shizuoka/A2202/A220201/22000071/">八百徳 本店</a>
静岡県浜松市中央区板屋町655
053-452-5687
</pre>

3時ごろ行ったんで支店の方が閉まっててあせったけど本店が開いててよかった。

<%= image "cimg5128" %>
<%= image "cimg5132" %>
