---
title: ハイテクベビーチェア購入
tags: baby, shopping, pregnancy
---
ハイテクグッズには金に糸目をつけない角川家は、<a href="http://www.combibaby.com/goods/chair/roanju_auto_swing.html#RU-700">ハイテクベビーチェア</a>を購入。

電動でベッドが揺れてくれます。

<%= image "cimg5394" %>
<%= image "cimg5392" %>

おまけ。ちらしを見ながら怒りを露にする臨月の妊婦。

<%= image "cimg5388" %>
