---
title: 加藤姉妹
tags: baby, friends, health
---
湿疹がデコに拡がってきた。生まれて今までで一番ブサイク。

<%= image "cimg6036" %>

さて、今日は嫁の幼なじみの加藤姉妹が遊びにきたので、記念撮影。蓮がおっぱい狙っとる。

<%= image "cimg6039" %>
<%= image "cimg6045" %>

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B0002ZFVIO/daydreaonthen-22">すやすやベビー ミッキー</a>をおみやげに頂く。
胎内音で赤んぼを寝かせつけるハイテク兵器。
ハイテクベッドのダブル攻撃で蓮もぐっすりだ！

<%= movie "ncimg6046" %>
