---
title: 絵本
---
嫁がwebで色々調べて絵本買って話して聞かせてます。
1ヶ月半の赤ん坊に効果あるのかしら。

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4906195113/daydreaonthen-22">
  <img src="http://images-jp.amazon.com/images/P/4906195113.09.MZZZZZZZ.jpg" alt="うたえほん" />
</a>  
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4906195113/daydreaonthen-22">うたえほん</a>」、つちだ よしはる、グランまま社

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4834006840/daydreaonthen-22">
  <img src="http://images-jp.amazon.com/images/P/4834006840.09.MZZZZZZZ.jpg" alt="きゅっきゅっきゅっ" />
</a>  
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4834006840/daydreaonthen-22">きゅっきゅっきゅっ</a>」、林 明子、福音館書店

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4198612757/daydreaonthen-22">
  <img src="http://images-jp.amazon.com/images/P/4198612757.09.MZZZZZZZ.jpg" alt=" ぎゅっ" />
</a>  
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4198612757/daydreaonthen-22">ぎゅっ</a>」、ジェズ オールバラ,Jez Alborough、徳間書店

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4052015908/daydreaonthen-22">
  <img src="http://images-jp.amazon.com/images/P/4052015908.09.MZZZZZZZ.jpg" alt=" はじめてのあかちゃんあそびえほん いないいないばあ" />
</a>  
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4052015908/daydreaonthen-22">はじめてのあかちゃんあそびえほん いないいないばあ</a>」、La ZOO,あらかわ しずえ、学習研究社

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4494001031/daydreaonthen-22">
  <img src="http://images-jp.amazon.com/images/P/4494001031.09.MZZZZZZZ.jpg" alt="もうねんね" />
</a>  
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4494001031/daydreaonthen-22">もうねんね</a>」、松谷 みよ子,瀬川 康男、童心社

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4580811402/daydreaonthen-22">
  <img src="http://images-jp.amazon.com/images/P/4580811402.09.MZZZZZZZ.jpg" alt="もこ もこもこ" />
</a>  
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4580811402/daydreaonthen-22">もこ もこもこ</a>」、谷川 俊太郎,元永 定正、文研出版
