---
title: 宅配食材屋
tags: food, life, baby
---
赤んぼが生まれてから、ひきこもり生活が続いていますが、
夕食は<a href="http://www.yoshikei-dvlp.co.jp/index.html">ヨシケイ</a>という宅配食材屋をつかってます。

人数分の食材がこんな箱に入って小分けにされて送られてくるので、後は調理するだけ。

<%= image "cimg6399" %>

中身。

<%= image "cimg6381" %>

今日は宮保鶏丁といかの中華サラダ。メニューは複数から選べます。

<%= image "cimg6384" %>

野菜がたっぷり入っててすんげえヘルシーです。
赤ん坊が生まれてから人生で一番健康的な食生活を送ってると思う。
