---
title: ミルク練習中
tags: baby, ren
---
保育所に預けたり、ダディが4時間以上留守番できるようにミルク練習中。

<%= image "cimg71521" %>

退院してからは、ずーっと母乳しかやってなかったんで、すっかりミルク嫌いになってしまいました。
作っても飲んでくれない銘柄がほとんど、いろいろ試した中では
<a href="http://www.meinyu.co.jp/product/childcare/hohoemi/">明治のほほえみ</a>
がまだマシみたい。それでも嫌々飲んどる。哺乳びんに母乳いれたときの半分以下のスピード。

ダディも母乳含めて飲み比べてみましたが、母乳が一番甘味がありますな。
銘柄によっては粉っぽいのもあって、まずい。
