---
title: デジカメ購入
---
<a href="../../2004/1016-exlim/">前回購入</a>して2年弱でフォーカス周りのメカが壊れたので、<a href="http://dc.casio.jp/product/exilim/ex_s600/">EX-S600</a>を購入。
ソニーのDSC-T9 or T10にしようかと思ったけど、メモステ機にするといらん出費が増えるので却下。

動画が640x480でmpeg4対応になってました(EX-S100はmotion jpeg)。これで、再エンコード無しでwebにupできる。
でも、標準で2Mbpsなので結構ファイルサイズがデカなるなあ。

ということで、風呂あがりの蓮を試し撮り。

<%= movie "cimg7217" %>

なんか撮り終わりにゴミがくっつくなあと思ったら、
動画の撮影終了のときにシャッターボタン押してたからでした。

液晶大きくなって動画も見やすくなったし、簡単な編集もデジカメで閉じてできるので便利。
