---
title: US出張その6
tags: hotel, travel, us
---
午前中に打ち合わせをしてから、シアトルへ移動。こっからサンフランシスコまでは一人旅。

<pre class="flight">
09/18 Mon Sioux City -> OMA (Drive)
09/18 Mon OMA 15:45 -(UA317)- 18:48 SEA 31C
</pre>

一面の畑。

<%= image "cimg7483" %>

シアトル直行便かと思ったら、デンバーで一回降ろされて、もう一度同じ機材に乗る。
予想より全然早く空港に降りたので焦った。

Bellevueのホテルへ。

<pre class="address">
<a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1555">The Westin Bellevue</a>
600 Bellevue Way NE Bellevue, Washington 98004
Phone: (425) 638-1000 
</pre>

最近出来たみたいで作りが近代的。

<%= image "cimg7487" %>
<%= image "cimg7488" %>
<%= image "cimg7489" %>

夜は近所のオシャレ系中華料理。写真なし。
