---
title: 絵本
tags: baby, book
---
一冊分なら楽しそうに聞いてます。特に「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4033280103/daydreaonthen-22">はらぺこあおむし</a>」がお気に入り。

<%= image "cimg7561" %>
<%= image "cimg7552" %>

2冊目は集中力が続かない。
