---
title: 麺屋武蔵 神山
tags: lunch, ramen, kanda
---
月イチの出張があるので神田を攻める作戦。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13061115/">麺屋武蔵 神山</a>
東京都千代田区内神田3-8-7 グラン・フォークス神田ビル
03-3256-3634
</pre>

<%= image "img_2686" %>
