---
title: 目黒ごはん 麺屋 藤しろ
tags: lunch, meguro, ramen
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13143426/">麺屋 藤しろ</a>
東京都品川区上大崎2-27-1 サンフェリスタ目黒
03-3495-7685
</pre>

濃厚鶏白湯ラーメン。

<%= image "img_2770" %>
