---
title: 目黒ごはん 辛麺屋一輪
tags: food, meguro, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13206755/">辛麺屋一輪</a>
東京都目黒区目黒1-4-8
03-6420-0661
</pre>

パクチー辛麺、1辛。

<%= image "img_2872" %>
<%= image "img_2871" %>
