---
title: 目黒ごはん 鉄板焼き 鉄仁
tags: food, meguro, restaurant
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13195538/">鉄板焼き 鉄仁</a>
東京都目黒区目黒1-6-13
050-5593-1054
</pre>

生姜焼ランチ。

<%= image "img_2882" %>
