---
title: 目黒ごはん LAND
tags: food, restaurant, sakura, meguro
---
目黒川は満開でした。

<%= image "img_2897" %>
<%= image "img_2899" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13183292/">LAND</a>
東京都目黒区下目黒2-21-28 セントヒルズ目黒 2F
070-5518-7621
</pre>

ポークカレー。

<%= image "img_2902" %>

発見。

<%= image "img_2904" %>
