---
title: 角打ち
tags: drink, sake, yokohama
---
天王町の<a href="http://hamarepo.com/ichioshi/84572.html">福屋尾崎商店</a>で角打ちをやってるという情報を入手したので行ってみる。

<%= image "img_2916" %>

もう無くなってしまう日本酒だそうで。

<%= image "img_2918" %>
