---
title: 鯨の胃袋
tags: lunch, seafood
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1308/A130802/13139357/">鯨の胃袋</a>
東京都港区西新橋2-14-7 笠井ビル 2F
03-6206-1185
</pre>

しらす丼。

<%= image "img_3102" %>
