---
title: 電動スタンディングデスク購入
tags: home, life, gadget
---
いつの間にか日本IKEAが電動スタンディングデスクを取り扱っていて、しかも通販できるようになっていたので購入。

<a href="http://www.ikea.com/jp/ja/catalog/products/S89187711/">BEKANT</a>というやつです。
ワークスペース大きくしたかったんで天板は大きいやつにした。

<%= image "img_3108" %>
