---
title: シアトル出張 3日目
tags: businesstrip, food, ramen, seattle
---
天々有がオープンしてた。

<pre class="address">
<a href="http://www.tentenyu-us.com/">Tentenyu CAPITOL HILL</a>
1510 Belmont Ave, Seattle, WA 98122
206-257-4289
</pre>

<%= image "img_4338" %>

地ビール、唐揚げ、餃子、ラーメンのコンボ！

<%= image "img_4339" %>
<%= image "img_4340" %>
<%= image "img_4342" %>
