---
title: シアトル出張 5日目
---
チームディナー。シェラスコ料理です。細切れな肉ばっかりなので写真一枚しかなし。

<pre class="address">
<a href="http://seattlegrillfromipanema.com/">The Grill From Ipanema</a>
2313 1st Ave, Seattle, WA 98121
206.457.4885
</pre>

<%= image "img_4353" %>
<%= image "img_4354" %>
