---
title: 目黒ごはん 壱富士
tags: lunch, ramen, meguro
---
壱富士ラーメン

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13204617/">ONLY ONE NOODLE 壱富士</a>
東京都品川区上大崎2-27-1 サンフェリスタ目黒 B1F
03-6303-9465
</pre>

<%= image "img_4386" %>
