---
title: 目黒ごはん 焼肉大昌苑
tags: lunch, meguro, yakiniku
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13107575/">焼肉大昌苑</a>
東京都目黒区下目黒2-16-25
03-3491-9946
</pre>

生姜焼き丼。

<%= image "img_4398" %>
