---
title: 目黒ごはん とん豚テジ
tags: korea, lunch, meguro
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13112532/">とん豚テジ 目黒店</a>
東京都目黒区下目黒1-2-22 B1
050-5890-1972
</pre>

サムゲタン定食。寝不足だったので体に優しい物を。

<%= image "img_4424" %>
<%= image "img_4423" %>
