---
title: 春日亭
tags: kanda, lunch, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13168973/">油そば専門店春日亭 神田店</a>
東京都千代田区内神田3-9-6
03-6206-0837
</pre>

神田で昼飯。鳥豚(とりとん)油そば。

<%= image "img_4427" %>
