---
title: おにやんま
tags: lunch, tokyo, udon
---
新卒採用イベントが五反田であったので、お昼ごはんはおにやんまへ。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131603/13111869/">おにやんま</a>
東京都品川区西五反田1-6-3
</pre>

肉うどんプラス鳥天。

<%= image "img_0071" %>
