---
title: 花束
---
ホワイトデーにたまたま都内に用事があったので、帰りに妻が欲しがってた恵比寿のおしゃれ系花屋にいく。

<pre class="address">
<a href="http://www.kusakanmuri.com/">kusakanmuri</a>
東京都渋谷区 恵比寿西1-17-2
03-6415-4193
</pre>

<%= image "img_0708" %>
<%= image "img_0707" %>

花買うのなんて十年ぶりぐらい？
値段の相場が全然分からん。まあ、喜んでいただけたようで何より。

<%= image "img_2722" %>
