---
title: インド飯
tags: curry, food, tokyo
---
JANOG29.5で昼飯。近場で有名なカレー屋があるらしくて行ってみた。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1307/A130704/13019915/">Nirvanam</a>(ニルヴァナム ニルワナム)
東京都港区虎ノ門3-19-7 大手ビル 2F
03-3433-1217
</pre>

南インド料理のようです。
北インド派の僕にはちょっと慣れてない味付けですが、美味しかった。

<%= image "img_0760" %>
<%= image "img_0761" %>
