---
title: 辻堂海浜公園
tags: park, bicycle, rain
---
自転車で遊んでたら、急に土砂降りになったので交通会館へ避難。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/tujidou/">辻堂海浜公園</a>
神奈川県藤沢市辻堂西海岸3-2
TEL 0466-34-0011
</pre>

<%= image "img_3404" %>
<%= movie "hdimg_0933" %>
