---
title: コメダ珈琲
---
嫁と所用で横浜へ。コメダ珈琲で昼飯。入店が11時前だったので、モーニングになった。

<pre class="address">
<a href="http://www.komeda.co.jp/">コメダ珈琲</a> 横浜西口北幸店
神奈川県横浜市西区北幸2-9-11 相鉄本社ビル1F
045-321-7737
</pre>

<%= image "img_0970" %>
<%= image "img_0972" %>
<%= image "img_0974" %>
