---
title: 足付き紙飛行機
tags: craft
---
ニコニコ動画を見て、面白そうなので作ってみた。

<%= image "img_4234" %>

<script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm18508945"></script><noscript><a href="http://www.nicovideo.jp/watch/sm18508945">【ニコニコ動画】脚のはえた紙飛行機の折り方</a></noscript>
