---
title: 野郎ラーメン
tags: kawasaki, ramen, restaurant
---
二郎の京急川崎店いったら休みだったので、インスパイア店に行く。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1405/A140501/14043935/">野郎ラーメン 川崎店</a>
神奈川県川崎市川崎区駅前本町26番地2 アゼリア内グルメウォーク5
044-246-0086
</pre>

<%= image "img_1297" %>
<%= image "img_1298" %>
