.edit-button, .github-button {
  position: absolute;
  top: 8px;
  z-index: 1000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.edit-button {
  right: 10px;
  padding: 5px 15px;
  background-color: #007bff;
}

.github-button {
  right: 80px;
  padding: 5px 10px;
  background-color: #333;
}
