@charset "UTF-8";
/* -*- coding: utf-8 -*-  */
body {
  background-color: #efefef;
  font-family: "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, Helvetica, Arial, "MS PGothic", sans-serif; }

div#krb-amzlt-box {
  background-color: #ffffff; }

div#dayd, div#doyou {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1;
  text-align: center; }

div#dayd {
  margin-top: 20px;
  font-family: "IM Fell English", serif;
  font-size: 32pt; }

div#doyou {
  margin-bottom: 20px;
  font-family: "Reenie Beanie", serif;
  font-size: 28pt; }

pre {
  border-style: none;
  border-color: #f06000;
  border-width: 2px 2px 2px 2px;
  background-color: #eeeeee;
  width: 80%;
  margin-left: 20px; }

pre.terminal {
  padding: 10px;
  margin-left: 20px;
  border: 0px ridge;
  color: white;
  background-color: black;
  line-height: normal;
  font-family: Ubuntu Mono;
  font-size: smaller;
  width: 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px; }

a {
  background-color: transparent;
  text-decoration: none; }
  a:link {
    color: #295c72; }
  a:visited {
    color: #990419; }
  a:active {
    color: #190466; }
  a:hover {
    color: #000000;
    background-color: #8888ff; }

div#name {
  font-family: "Reenie Beanie", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1;
  margin-bottom: 10px; }

@media screen and (min-device-width: 481px), screen and (min-width: 481px) {
  h1, h2 {
    color: #2d5ac3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 1px -1px 0px white; }

  .container {
    width: 100%;
    display: flex;
    display: box;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; }

  .titleblock {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    background: #eeeeee;
    /* Old browsers */
    background: linear-gradient(-45deg, #eeeeee 0%, #dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border: 2px solid white;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 5px; }

  .mainblock {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    background: #eeeeee;
    /* Old browsers */
    background: linear-gradient(-45deg, #eeeeee 0%, #dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border: 2px solid white;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    min-height: 450px; }

  .centerblock {
    box-flex: 1;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    -ms-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -o-box-ordinal-group: 2;
    order: 2; }

  .leftblock {
    margin-right: 5px;
    width: 150px;
    overflow: hidden;
    box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -ms-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    order: 1; }

  .eachindexblock {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    background: #eeeeee;
    /* Old browsers */
    background: linear-gradient(-45deg, #eeeeee 0%, #dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border: 2px solid white;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 5px;
    overflow: hidden; }

  h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    border-bottom: 0px solid rgba(0, 0, 0, 0.4); }

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal; }

  h3 {
    color: #2d5ac3;
    background-color: transparent; }

  hr {
    border-bottom: 0px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

  pre {
    margin-left: 20px; }

  pre.flight {
    margin-left: 20px;
    background-color: rgba(196, 255, 196, 0.3); }

  ul, ol, dl {
    margin-top: 5px;
    margin-bottom: 5px; }

  dt {
    line-height: 120%; }

  dd {
    text-indent: 1.0em;
    line-height: 110%; }

  li {
    line-height: 120%;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
    list-style-position: outside; }

  .indent {
    margin-left: 10%;
    margin-right: 5%; }

  .filename {
    font-family: monospace, courier; }

  img {
    border: none; }

  span.warning {
    color: red; }

  span.fontsizeplus {
    font-size: x-large; }

  span.fontsizeplusplus {
    font-size: xx-large; }

  .nav ul {
    padding-left: 0; }
  .nav li {
    padding-left: 0.5em; }

  pre.address {
    margin: 10px;
    padding: 10px 10px 10px 15px;
    background: #f3f3f3;
    background: linear-gradient(0 0 270deg, #f3f3f3, #f3f3f3 10%, white);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2); }

  /* Media Queries for adapting to various screen widths */ }
@media screen and (min-device-width: 481px) and (max-device-width: 800px), screen and (min-width: 481px) and (max-device-width: 800px), screen and (min-device-width: 481px) and (max-width: 800px), screen and (min-width: 481px) and (max-width: 800px) {
  pre.address {
    width: 80%;
    float: none; }

  .titleblock {
    display: none; }

  .leftblock {
    width: 110px; }

  .mainblock {
    font-size: medium; } }
