---
title: 目黒ごはん 大宝
tags: lunch, tonkatsu, meguro
---
とんかつー。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13007463/">大宝</a>
03-3491-9470
東京都目黒区目黒1-6-15
</pre>

<%= image "img_2751" %>
