---
title: 目黒ごはん 濱の屋
tags: lunch, meguro, seafood
---
1000円の海鮮丼。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13022584/">濱の屋 目黒店</a>
東京都目黒区目黒1-5-17 ヤマザキビル 2F
03-3490-3348
</pre>

<%= image "img_2784" %>
<%= image "img_2783" %>
