---
title: 湘南台文化センター こども館
---
<pre class="address">
<a href="http://www.kodomokan.fujisawa.kanagawa.jp/">湘南台文化センター こども館</a>
神奈川県藤沢市湘南台1丁目8番地
0466-45-1500
</pre>

<%= image "img_8929" %>
<%= image "img_8937" %>
<%= image "img_8949" %>
<%= image "img_8953" %>
