---
title: 目黒ごはん めっちゃタンメン
tags: lunch, ramen, meguro
---
みそ納豆タンメン(中)。味が濃いのと、納豆のねばりと油で胸一杯になって結構残してしまった。次回は普通のタンメンにします。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13163055/">めっちゃタンメン</a>
東京都目黒区下目黒2-21-17 sunrise目黒 1F
03-6303-9199 （お問い合わせ専用番号）
</pre>

<%= image "img_2800" %>
<%= image "img_2803" %>
