---
title: 目黒ごはん タスパ
tags: lunch, meguro, pasta
---
勢いでがっつりパスタの唐揚げにしてみたが、ノーマルのパスタにすればよかった。太麺もっちり系。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13128229/">タスパ 目黒店</a>
東京都目黒区目黒1-5-17 パルテノンビル2F
03-5719-5729
</pre>

<%= image "img_2804" %>
