---
title: 絵本飲み
tags: dinner, drinking, family
---
絵本読みながら外食で飲む。

<pre class="address">
<a href="http://r.gnavi.co.jp/g863251/">龍馬 軍鶏農場</a>
〒240-0013 神奈川県横浜市保土ケ谷区帷子町1-43-3 甲陽保土ヶ谷ビル3F
050-5797-2916
</pre>

<%= image "img_9116" %>
<%= image "img_9117" %>
