---
title: アメイジングワールド
tags: children, indoor, kohoku
---
<pre class="address">
<a href="http://www.amazingworld.jp/">アメイジングワールド</a> ルララ港北店
神奈川県横浜市都筑区中川中央2-2-1
</pre>

<%= image "img_9121" %>
<%= image "img_9135" %>
