---
title: 目黒ごはん 野方ホープ
tags: lunch, meguro, ramen
---
<pre class="address">
<a href="http://soryu1988.jp/nogata-hope/stores/meguro/">野方ホープ 目黒店</a>
東京都目黒区目黒1-5-16
03-3494-7736
</pre>

うまから麺に挑戦。ノーマルの方が好みだった。キムチがなくなって、キュウリの漬け物に変わっていたのが悲しい。

<%= image "img_2869" %>
