---
title: US出張 その9
tags: seattle, shopping, travel
---
<a href="http://seattletimes.com/html/technologybrierdudleysblog/2019204275_amazon_gets_colorful_-_and_gre.html">新ビル建設予定地</a>らしい。

<%= image "img_3043" %>

夜にモールに行って、<a href="http://www.lecole.com/2011-cabernet-sauvignon">おみやげワイン</a>を購入。
