---
title: US出張 その10
tags: travel, seattle, seafood
---
今日は最終日。

職場で月一のパーティーをやってるのでのぞいてみた。

<%= image "img_3054" %>
<%= image "img_3053" %>

ダンジネスクラブもう一回食べたかったので、一人で行く。

<pre class="address">
<a href="http://www.yelp.com/biz/taylor-shellfish-farms-seattle">Taylor Shellfish Farms</a>
1521 Melrose Ave Seattle, WA 98122
206-501-4321
</pre>

<%= image "img_3062" %>
<%= image "img_3063" %>
