---
title: 目黒ごはん とんき
tags: katsu, lunch, meguro
---
目黒最強トンカツ屋きましたよ。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13002040/dtlmap/">とんき 目黒店</a>
東京都目黒区下目黒1-1-2
03-3491-9928
</pre>

<%= image "img_3072" %>
<%= image "img_3071" %>

個人的には上品過ぎるイメージ。
