---
title: 金沢文庫で鰻
tags: lunch, restaurant, unagi
---
<pre class="address">
<a href="http://tabelog.com/kanagawa/A1403/A140310/14000956/dtlmap/">隅田川</a>
神奈川県横浜市金沢区町屋町5-7
045-701-8621
</pre>

<%= image "img_3082" %>
