---
title: 目黒ごはん ばく 目黒店
---
家系の店が新規オープンしてた。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13167838/dtlrvwlst/6257528/">ばく 目黒店</a>
東京都目黒区目黒1-4-15
03-3491-3734
</pre>

<%= image "img_3087" %>
