---
title: 目黒ごはん 東京うどん
tags: lunch, meguro, udon
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13090951/">東京うどん</a>
東京都目黒区目黒1-6-12
03-5487-0143
</pre>

牛スジ煮込み定食。

<%= image "img_3088" %>
