---
title: 目黒ごはん 大陸食堂
tags: chinese, lunch, meguro
---
卵チャーシュー定食。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13034009/">大陸食堂</a>
東京都目黒区目黒1-5-19
03-3779-0839
</pre>

<%= image "img_3191" %>
