---
title: マハロハ
---
家族で保土ヶ谷ハワイアン。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1403/A140301/14040601/">マハロハ</a>
神奈川県横浜市保土ケ谷区岩間町2-162
045-442-7639
</pre>

<%= image "img_0521" %>
<%= image "img_0523" %>
