---
title: 目黒ごはん ラーメン田丸
tags: lunch, meguro, ramen
---
チャーシュー麺。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13002049/">らーめん田丸</a>
東京都目黒区下目黒1-5-20
03-3493-3978
</pre>

<%= image "img_3272" %>
