---
title: 目黒ごはん 椿華亭
tags: lunch, meguro, chinese
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13014646/">椿華亭 目黒権之助坂店</a>
東京都目黒区目黒1-5-19 目黒第1ビル 1F
03-3493-5286
</pre>

チキンカツ坦々飯。凶悪だ。

<%= image "img_3312" %>

さすがに残しました。
