---
title: 瞠 恵比寿店
tags: ebisu, lunch, ramen
---
出社前に恵比寿へ。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1303/A130302/13032533/">瞠 恵比寿店</a>
東京都渋谷区恵比寿1-4-1 アーバンハウス 1F
03-3444-2274
</pre>

油そば。

<%= image "img_3401" %>
