---
title: スパイスプラス
tags: asian, lunch, yokohama
---
ジムの後、寄ってみた。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140301/14055091/">スパイスプラス 横浜ビジネスパーク店</a>
神奈川県横浜市保土ヶ谷区神戸町134 横浜ビジネスパーク プレッツォ 1F
045-335-7417
</pre>

シンガポールチキンライス。

<%= image "img_3402" %>
<%= image "img_3403" %>
