---
title: 目黒ごはん 東京うどん
tags: udon, dinner, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13090951/">東京うどん</a>
東京都目黒区目黒1-6-12
03-5487-0143
</pre>

東京うどん。
定食食べるつもりだったんだけど、メニューが整理されて無くなってた。
まあ、オペレーション回ってなかったから正解だよな。

<%= image "img_3404" %>
