---
title: 目黒ごはん めっちゃタンメン
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13163055/">めっちゃタンメン</a>
東京都目黒区下目黒2-21-17 sunrise目黒 1F
03-6303-9199
</pre>

肉野菜定食。

<%= image "img_3433" %>
