---
title: 目黒ごはん 椿華亭
tags: Meguro, lunch, Chinese, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13014646/">椿華亭 目黒権之助坂店</a>
東京都目黒区目黒1-5-19 目黒第1ビル 1F
03-3493-5286
</pre>

ブラック辣チャーハン。

<%= image "img_3452" %>
