---
title: Vegeけなりぃ
tags: Shinagawa, lunch, Korean
---
サムギョプサル丼。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1314/A131403/13123517/">Vegeけなりぃ</a>
東京都港区高輪3-26-27 エキュート品川サウス
03-5421-8009
</pre>

<%= image "img_3482" %>
