---
title: ベアード・タップルーム 馬車道
tags: beer, family, yokohama
---
家族でビアパブへ。和室の個室を予約した。家飲み気分。

<pre class="address">
<a href="http://bairdbeer.com/ja/tap/bashamichi.html">ベアード・タップルーム 馬車道</a>
神奈川県横浜市中区住吉町5-63-1
</pre>

<%= image "img_2456" %>
<%= image "img_2463" %>
<%= image "img_2459" %>
<%= image "img_2461" %>
