---
title: 家族でラーメン屋
tags: ramen, family, yokohama
---
カウンターしかないラーメン屋にとうとう家族で入れるようになりましたよ。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140301/14000397/">光家</a>
神奈川県横浜市西区浅間町5-381-10
045-311-3315
</pre>

<%= image "img_2571" %>
<%= image "img_2574" %>
<%= image "img_2575" %>
