---
title: 麺場 浜虎
tags: ramen, son, yokohama
---
<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14000361/">麺場 浜虎</a>
神奈川県横浜市神奈川区鶴屋町2-12-1 鶴屋町第二ビル 1F
045-311-3336
</pre>

蓮と二人で横浜でラーメン。

<%= image "img_3660" %>
<%= image "img_3661" %>
