---
title: 目黒ごはん 龍門
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13051024/">龍門 目黒店</a>
東京都品川区上大崎2丁目27-3 山田ビルB1
03-3493-8771
</pre>

麻婆豆腐定食。ちょー痺れた。食い切れず。

<%= image "img_3789" %>
