---
title: 目黒ごはん ラーメン二郎
tags: jiro, meguro, ramen
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13003449/">ラーメン二郎 目黒店</a>
東京都目黒区目黒3-7-2
03-3793-2785
</pre>

小ぶたニンニクなし。
やたら麺の盛りが多くて残してしまった。

<%= image "img_3915" %>
