---
title: 目黒ごはん すだ屋
tags: lunch, meguro, yakisoba
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13117236/">目黒げんき酒場 すだ屋</a>
東京都品川区上大崎2-27-1 サンフェリスタ目黒 B1F
03-6303-9465
</pre>

富士宮やきそば定食。

<%= image "img_3942" %>
<%= image "img_3941" %>
