---
title: 無料プロバイダに入る
---
<a href="http://www.freeserve.com/">Freeserve</a>っていうイギリスの無料プロバイダに入りました。
tracerouteするとこんな感じ。結構日本のお家までが近い。

<pre class="terminal">
traceroute to don.to (210.20.134.46), 64 hops max, 40 byte packets
 1  bursa-trigger.watford.access.planet.net.uk (195.92.66.37)  147.171 ms  149.803 ms  1399.927 ms
 2  Carrot.AS5388.NET (195.92.66.3)  150.053 ms  1079.194 ms  149.943 ms
 3  195.80.72.222 (195.80.72.222)  142.475 ms  159.622 ms  139.739 ms
 4  Pumpkin.AS5388.NET (195.92.201.147)  149.321 ms  216.593 ms  150.085 ms
 5  BNR-2.TCL.AS5388.NET (195.92.200.195)  141.639 ms  132.033 ms  1218.187 ms
 6  artichoke.AS5388.NET (195.92.200.196)  152.136 ms  128.880 ms  180.725 ms
 7  195.66.225.112 (195.66.225.112)  159.896 ms  1487.562 ms  191.660 ms
 8  pos0-1-155M.ar2.LON2.gblx.net (208.49.136.21)  161.190 ms  159.489 ms *
 9  so-3-2-0-622M.cr2.LON3.gblx.net (208.49.136.57)  189.748 ms  162.325 ms *
10  so1-3-0-622M.cr2.NRT1.gblx.net (203.192.128.193)  1999.947 ms  1682.706 ms  412.600 ms
11  so5-0-0-2488M.ar3.NRT1.gblx.net (203.192.128.234)  397.637 ms  967.296 ms  397.624 ms
12  AtHome.ge-0-2-0.ar3.NRT1.gblx.net (203.192.131.78)  459.670 ms  429.926 ms  409.871 ms
13  bb3.pos9-0.rdc1.kt.home.ne.jp (203.165.0.170)  2119.572 ms  439.376 ms  1559.988 ms
14  bb2-pos3-0.itabs1.kn.home.ne.jp (203.165.0.126)  390.032 ms  382.274 ms  389.699 ms
15  210.228.0.98 (210.228.0.98)  397.529 ms  387.664 ms  399.940 ms
16  ubr5.sagam1.kn.home.ne.jp (203.165.11.43)  412.013 ms  391.983 ms  399.985 ms
17  cj3096656-b.sagam1.kn.home.ne.jp (210.20.134.46)  409.792 ms  397.637 ms  401.896 ms
</pre>

tipsは以下。

- 0845-0796-6992 にpppする。username: freeservesignup、password: signup
- nameserver: 194.152.64.68 にして、 `https://signup.freeserve.net/` にアクセス
- 後は画面の指示通り
