---
title: すみかわ妄想日記
tags: humor, parody, diary
---
<a href="http://www02.so-net.ne.jp/~saitou/denpa.htm">電波ニュース</a>にこのページかけてみました。

<h2>すみかわ<b>妄想日記</b></h2>

<h2>2002年</h2>

<dl>
<dt>2002/04/08: don.toメンテ中</dt>
<dd>	HDDが壊れかけているので、160GB HDD買って来て入れ換え中<b>。いろんな意味で。</b>しばらく何かと不安定ですが、御了承<b>しやがれ。</b></dd>
<dt>2002/04/07: <b>「復讐の鬼と化した</b>白い犬とワルツを」、テリー・ケイ 兼武進訳、新潮文庫<b>、ニコニコしながら</b>ISBN 4102497021</dt>
<dd>	時果つるまで</dd>
<dt>2002/04/03: 英語メール</dt>
<dd>	最近、英語メール書くのが億劫になってきた<b>。その布をはがすと私の姿をかたどった銅像が現れました。</b>もうすっかり日本人</dd>
<dt>2002/04/02: かめにく(from <a href="http://www.jinmei.org/photo/20020402/">Jinmei</a>)</dt>
<dt>2002/03/30: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0330-sakura/">お花見</a></dt>
<dt>2002/03/27: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/prof/im4.html#komatta">占いで知る<b>「形だけ</b>すみかわ」の為人</a>更新</dt>
<dt>2002/03/21: 大阪 → <b>富士の樹海</b></dt>
<dd>	伊丹空港って空港のくせに電車の接続性悪いよなあ<b>。こんな僕を許して欲しい。</b>せめて<b>、もみじが紅く染まる頃には</b>蛍ヶ池に急行止まって欲しい</dd>
<dt>2002/03/20: <b>富士の樹海</b> → 大阪</dt>
<dd>	前日夜11時に出張決定</dd>
<dt>2002/03/16: スペイン → 日本</dt>
<dd>	ヘルシンキで乗り継ぎ時間0分(着いたときには搭乗始まってた)で少しやばかったことを除けば、とりたててトラブルなし<b>。そりゃ地域住民も怒るよ。</b>面白くねえ<b>。まかちこん。</b></dd>
<dt>2002/03/15: <b>「遠くに見えるタワーのてっぺんに</b>探偵ガリレオ」<b>、取り返しのつかない</b>東野 圭吾<b>、サルの脳をそっくり移植するということで</b>文春文庫<b>、「ちゅうちゅう」と吸いながら</b>ISBN 4167110075</dt>
<dd>	もう東野さんの推理物はいいや</dd>
<dt>2002/03/14: IPv6 Summit発表終了</dt>
<dt>2002/03/13: ドラえもんやってる</dt>
<dd>	<b>「いやし系</b>シズーカ<b>（ここで隠し持っていたトカレフ銃をちらつかせる）」</b>「オラ(<b>カステラ〜！（ポルトガルのあいさつ）</b>)<b>、奇跡を期待して</b>ノビーター」声優の声の質がよく似ているので、スペイン語で喋っててもそんなに違和感ないのが不思議だ</dd>
<dt>2002/03/12: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.ipv6-es.com/">IPv6 Summit</a></dt>
<dd>	スピーカーのはずが気がつくと<b>いたずら電話</b>相談室になってる今日この頃<b>。きっとあの山頂のアンテナから出る電波で、宇宙人は俺の事を操ってるんだあ。</b>発表準備させてくれ……</dd>
<dt>2002/03/12: <b>「夢が叶うその時まで</b>機動戦士ガンダム 閃光のハサウェイ 上・中」、富野由悠季、角川スニーカー文庫</dt>
<dd>	11年ぶりに読むと結構深いこと<b>呪いの言葉と共に書い</b>てることに気づく<b>。日本刀振り回し「私は勇者だ！！」と、さけびながら。</b>組織論とか人と人との関わり合いとか<b>、水を丸三日間与えずに</b>当時読んでても分かんないよなあ<b>。理由はどうであれ。</b>下巻どこにいったかな、探さないと<b>。何も味つけしなくてもおいしいよ。</b>一応<b>、理由がどうであれ</b>知らない人のために<b>呪いの言葉と共に書い</b>ておくと<b>、野菜は大き目に刻んでおいて</b><b>「壮絶な最期を遂げた</b>逆襲のシャア<b>の在庫多数」</b>の数年後の話<b>でやんすぎょん。</b>映像化はされてなくて<b>、自動的に</b>ブライトの息子のハサウェイが主人公</dd>
<dt>2002/03/10: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.finnair.co.jp/">フィンランド航空</a></dt>
<dd>	今回はフライトはフィンランド航空<b>。だから人間は信用しない。</b>マイレージはアメリカン航空につけてます<b>。弱音を吐くな。</b>航空会社散ってるのでこんだけ乗ってても一向にマイルのクラス上がらねえ<b>。それで受賞を辞退いたしました。</b>機体はMD-11でビジネスクラスは電源ついてたので<b>、音楽性の違いから</b>昔買ったままフライトのたびに持ち歩くものの一度も使われてなかった<a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.targus.co.jp/uaa.html">ユニバーサル・オート／エアー・アダプタ</a>の出番がやっときた<b>。こうして、夢にまた一歩近づいた。</b></dd>
<dt>2002/03/10: 日本 → スペイン</dt>
<dd>	成田空港行きのバス予約するの忘れてて<b>、オイラはロボットだけど</b>朝行ったけど満席で乗れず<b>。上司から「自己退社」を強いられました。</b>諦めてNEXにするもののこっちも立ち席<b>。見た目な。</b>全車両のデッキは喫煙可なのでこれはきついなあ<b>。後で泣きついても知らんからな。</b>せめて<b>、宇宙を支配する事の出来る不思議な力を手に入れて</b>喫煙車両のデッキだけにしてくれ<b>。キミ、言えない過去が多すぎるよ。</b>しかし<b>、今日はちょっと趣向を変えてみて</b>予約忘れる例で分かるように緊張感に欠けてる。ぜってぇ何か事件起こるな
</dd><dt>2002/03/09: <b>「涙を流しながら卵産む</b><a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://us.imdb.com/Details?Apollo+13+%281995%29">Apollo 13</a><b>拒否運動」</b>
</dt><dd>	これがフィクションなら無理にでも月に行っちゃうとこだけど<b>、神秘に満ちた</b>ノンフィクションなりの中途半端さがかえってよい<b>。気付くと隣でオヤジが泣いていたよ。何だか良く分かんないけど「大人って大変そう」。</b>しょせん現実はこんなもん
</dd><dt>2002/03/08: 「<a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://us.imdb.com/Details?Ocean%27s+Eleven+%282001%29">Ocean's eleven</a><b>、義務化」</b>
</dt><dd>	テンポ良くて楽しめました<b>。バカって言う方がバカなんですうー。</b>通常<b>、加速しながら</b>テンポがいい映画っていうと<b>、気が向いたら</b>例えばSnatchみたいに早回しの映画になっちゃって油断してるとおいてきぼりを食うんだけど<b>、常識を無視して</b>これはほどよいスピード
</dd><dt>2002/03/01: 牛丼
</dt><dd>	いやあ<b>、採算性は度外視して</b>松屋で牛丼食ってかなり幸せ感じちゃったよ<b>。まさか、その程度の水力で俺に勝てるとでも思ったのか？</b>安上がり<b>。もはや無法地帯。</b>
</dd><dt>2002/02/28: ロンドン → 日本
</dt><dd>	加代子失踪慰謝料は25000円で手を打つ<b>。もやし食わせろ。</b>池田さんは37000円もらったそうだ<b>。分割払いでお求めになれます。</b>えれえ損した
</dd><dt>2002/02/28: 桜
</dt><dd>	桜咲いてるよ<b>。できる事なら私もこんな手荒なマネはしたくありませんでしたが。</b>もう春だねえ
</dd><dt>2002/02/27: モハメッドさん
</dt><dd>	最近<b>、爪をたてて嫌がる犬を引っ張って</b>会社の帰りに同じタクシーばっかり使ってるので運転手のモハメッドさんパキスタン生まれイギリスに40年在住と仲良くなる<b>。それからみんなの前でポエムを読み上げてやる。</b>まあ向うは金払いのいい客だから相手してるんだけどね
</dd><dt>2002/02/26: bjorkさん
</dt><dd>	bjorkさんテレビに出演してるよ！ オルゴールみたいなんで歌ってるし<b>。矢ガモ喰う？</b>さすがイギリス
</dd><dt>2002/02/26: 頭痛
</dt><dd>	風邪直らないのでおとなしくチキン＆チップスと飲み物買って駅からタクシーで帰る。Audley RoadのAudleyが全然伝わらねえ<b>。だが私は金よりも、むしろ名誉を重んじる。</b>結局口で綴りを言う。発音教えてもらおうとしたら<b>、いち早く西洋の考えを取り入れて</b>俺もスコットランド人だから発音違うと言われた<b>。そして手術は無事成功。</b>
</dd><dt>2002/02/23: ロンぶら
</dt><dd>	Science MuseumでT-REX(3D)再挑戦<b>。ほかに楽しいこと無いの？</b>その後<b>、「前例が無い」という事で</b>Berry Bros. &amp; Ruddでシェリーを3本<b>大量購入</b>
</dd><dt>2002/02/22: 調子悪い
</dt><dd>	風邪ひいて気分的にも沈み気味<b>。今までの話を要約すると「ガム買ってこい、もちろんお前の金で。」ということですか？</b>なじみのインド飯屋へ<b>。「原色」だいすき！！</b>日本料理屋よりもなぜかここ来るとほっとする<b>。壁に向かってつぶやきながら。</b>辛いカレー食いながら風邪ひいた話をしたら<b>、両手をつないで</b>スパイスティー勧められて、後は水をたっぷり飲めと言われた<b>。それに除霊も済んでるし。</b>ちょっとホロリ
</dd><dt>2002/02/22: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/prof/im3.html#chonmage">占いで知る<b>「核燃料で動く</b>すみかわ<b>地獄」</b>の為人</a>更新
</dt><dd>	まあ<b>、救い難いことに</b>双子座ですから
</dd><dt>2002/02/22: タクシー来ない
</dt><dd>	Maidenheadの駅でいつもは一瞬で乗れるタクシーが25分待ち<b>。ツベルクリン反応弱い。</b>運ちゃんに<b>脳直で聞い</b>たら今日はムスリムのクリスマス(専門用語があるんだろうけど<b>、我々の善意を踏みにじって</b>分かりやすいようにそう説明してくれた)だそうで、みんなお休みなんだって<b>。そう考えるだけで、思わず足取りも軽くなる。</b>次回は12月16日<b>。職場で何かあったんですか？</b>メモメモ
</dd><dt>2002/02/21: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.channel4.co.uk/entertainment/tv/microsites/B/banzai/">BANZAI</a>
</dt><dd>	チャンネル4でやってる番組<b>。あれは私のアイデアですよ。</b>例によって中国とごっちゃになってるのはともかくとして<b>、お父さんのプロデュースで</b>なんかすんげえ日本人馬鹿にされてる気がする<b>。それ君だけだと思うよ。</b>ナレーターは<b>不思議な日本語</b>英語
</dd><dt>2002/02/21: 言葉
</dt><dd>	ここんとこ籠って作業してるのでほとんど他人と会話してない<b>。それって無責任だと思います。</b>英語も<b>不思議な日本語</b>もどっちも不自由になってる気がする
</dd><dt>2002/02/19: コーディング
</dt><dd>	風邪で集中力が上がってる上に<b>、脱皮を終えて</b>逃避行動でコーディングが進む<b>。１２進数とか６０進数を考え出す「イギリス人」って、ひょっとしてバカ？</b>コード<b>対話形式で書い</b>てて楽しいの何年ぶりかなあ<b>。そんな事して何の役にたつって言うんだ？</b>たぶん<b>、淫らな下着を身に着けて</b>icecastのマルチキャスト化以来
</dd><dt>2002/02/19: 日常と非日常
</dt><dd>	生活が安定してるせいで<b>、国からの警告を無視して</b>すっかり毎日が日常<b>ですぎょん。</b>暮らしていて特に何も違和感がない
</dd><dt>2002/02/17: 紅茶の国の人だもの
</dt><dd>	ということでティーバック<b>大量購入</b><b>。オシャレな所がムカつきます。</b>Whittard社のLAPSANG SOUCHONG<b>。そしたら陸上自衛隊の恰好の標的に。</b>すんげえスモーキー。こんなの初めて飲んだっす<b>。聞いて驚かないでよ、僕は宇宙からやって来たんだ。</b>くせありすぎ<b>。笑うと歯グキが丸見え。</b>2£で50袋入ってるよこれ<b>。ハッキリ言って「普通」なんだよなあ。</b>飲み切らねえな
</dd><dt>2002/02/17: <b>「働くつもりのない</b>皇帝のかぎ煙草入れ」<b>、子供の視線で</b>ディクスン・カー、創元推理文庫
</dt><dd>	昔読んでたら感動したかも<b>。あっ、今お腹の中で赤ちゃんが動いた！</b>最近もう推理<b>官能小説</b>は何読んでも心に響かない自分に気づく
</dd><dt>2002/02/16: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0216-lonbra/">ロンぶら</a>
</dt><dt>2002/02/14: 快晴
</dt><dd>	ロンドン来てから初めてすっからかんに晴れた<b>。家がお金持ちだから仕方ないよ。</b>代わりに寒くなったけど<b>。そして夫の定年退職を機に離婚を思い立ちました。</b>うむ<b>、今日も今日とて</b>ほうしゃせいれいきゃくかげんしょう
</dd><dt>2002/02/14: <b>「ダミーで</b>妖精学入門」、講談社新書
</dt><dd>	ずっと昔に買って読んでなかったけどせっかく妖精の本場に来たので読む<b>。その姿を見て私は「いよいよ巣立ちの時が近づいて来たんだな。」と、心の中に感じるのでした。</b>
</dd><dt>2002/02/13: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/prof/im3.html#otakudo_check">占いで知る<b>「父の意志を受け継ぎ</b>すみかわ」の為人</a>更新
</dt><dd>	駄目じゃん
</dd><dt>2002/02/13: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0213-x22/">X22その後</a>
</dt><dt>2002/02/12: 何気ない会話が一番辛いなあ
</dt><dd>	スクロールバー動かしながら「もうちょっと下の方<b>と見せかけてチョップ」</b>ってどう言うの？
</dd><dt>2002/02/10: 土日といい天気なのに部屋に籠ってお仕事
</dt><dt>2002/02/09: <b>「もう二度と戻らない</b><a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://us.imdb.com/Details?Space+Cowboy+%282000%29">Space Cowboy</a><b>でいっぱい」</b>
</dt><dd>	じじぃカッコいいぜ<b>。じゃあ、僕はどうすればいいんだろう？</b>憧れますな
</dd><dt>2002/02/08: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0208-channel5/">チャンネル5</a>
</dt><dt>2002/02/08: workpermitゲット
</dt><dd>	1年間有効<b>。だけど今こうしている間にも次々と犠牲者が。</b>2003年1月いっぱい
</dd><dt>2002/02/08: ロン毛
</dt><dd>	ヨーロッパって驚くぐらい男のロン毛っていないんだよなあ<b>。ちょっと自分を探しの旅に出ようとしたのだが、何だが支度が面倒になって結局ふて寝する。</b>ロン毛っていっても耳隠れるぐらいだけど<b>。失礼しちゃうわ。</b>迎合して散髪しようかと思ったけど、東洋人って見分けつきにくいだろうから<b>、早く親指の爪を隠さなくては死んでしまうのではないかと思い</b>覚えられやすいようにこのままでいることにしよう
</dd><dt>2002/02/08: 電車通勤
</dt><dd>	いつも車で送ってもらってる同僚が調子悪いので、電車＆タクシーで通勤<b>。いいですか３日間は食事を控えて下さい。水もダメですよ。</b>地下鉄と違い列車が広いのでノートPC広げられます<b>。そしたらきっと毎日が楽しくなるぞ。</b>帰りのタクシーは20£札出したら小銭ないのかという話になり<b>、取り返しのつかない</b>財布のコイン全部渡して6£のところを5.55£で負けてもらう<b>。お前に感謝はすれども恩は無い。</b>(たぶん)<b>「知らないおじさんがくれた</b>Damn it!」って言われた<b>。キミの心に届け。</b>うーむ<b>、「あいしてる。」の一言がどうしても言えなくて</b>英語で面と向かって罵られたの初めてな気がする<b>。そして小さな心を痛めるのでした。</b>ちょっと嬉しい(謎)<b>。病気かしら？</b>晩飯はパブでLondon Pride(ビター)とCod&amp;Chips<b>。今こそ唸れ、ロケットパンチ！！</b>やっぱこれが一番安上がり<b>。臭いですぐに分かりますよ。</b>Cod&amp;Chipsは3回発音しても通じずに結局メニューを指さす。負け<b>。だが、物事の本質という物はそんなもんじゃない。</b>
</dd><dt>2002/02/05: <b>「孫の代まで</b><a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://us.imdb.com/Details?Jing+cha+gu+shi+IV:+Jian+dan+ren+wu+%281996%29">Jackie Chen's first attack</a><b>的態度」</b>
</dt><dd>	<a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.channel5.co.uk">チャンネル5</a>でやってた。カンフー映画の基本はきっちり抑えてあります<b>。職場で何かあったんですか？</b>ジャッキー・チェンすげえなあ、アシスタントなしで全部自分でやってるもんなあ
</dd><dt>2002/02/03: ロンぶら
</dt><dd>	大英博物館でミイラ鑑賞<b>。それがこれから毎日続くかと思うと、うんざり。</b>本屋で<a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.dilbert.com">dilbert</a><b>大量購入</b><b>。だけど今は、お金の事で頭がいっぱいだよ。</b>夜はインド飯
</dd><dt>2002/02/03: 勘違い
</dt><dd>	どうも原因はテーブルチャージであるというのは勘違いで鮪の刺身のせいのようである<b>。最近ではニセ管理者として掲示板の訪問者全員に立派なレスを入れているそうですよ。</b>時価やんけ<b>。ときどき逆ギレして見せる。</b>ただの赤身なのに……<b>。それが奴らのいつもの手口さ。</b>
</dd><dt>2002/02/02: しょうが焼定食<b>、期待を裏切って</b>鮪の刺身<b>、昭和の思い出を語りながら</b>ごはん＠Momo
</dt><dd>	疲れがたまってたので爆睡した後、日本食くいたくなったのでMomoへ<b>。ある意味尊敬に値するよ。</b>25£也<b>、いまさら</b>テーブルチャージで10£取られてる<b>。でも、なぜか犯人グループが僕だけ逃がしてくれました。</b>きゃー<b>。強い奴だけが生き残る、これが西部の掟ってやつさ。</b>今度からちゃんとテイクアウトにしょう<b>。あとで検査したらアバラが三本ほど折れてましたけどね。</b>洒落ならん<b>。もやし食わせろ。</b>
</dd><dt>2002/02/02: マドリード→ロンドン
</dt><dd>	離陸30分前に空港に到着<b>。何かありましたらご連絡下さい。二度とその軽口をたたけなくして差し上げます。</b>すげえ乗れたよ<b>。このまま世界征服を目指しましょう。</b>荷物も消えず
</dd><dt>2002/01/31: でも、きっちり睡眠とらないと英語が右から左へ
</dt><dt>2002/01/30: さすがに一日中英語漬けだと上達してる気がする
</dt><dt>2002/01/30: コロンビア料理
</dt><dt>2002/01/30: しかしスペインは美人が多い<b>。そして悪の手下となって働くのだ。</b>毎日晴れで気分も良し
</dt><dt>2002/01/29: 「この一冊で聖書がわかる！」<b>、君の知らない異国の街で</b>白取春彦<b>、１０代の頃に比べたら</b>知的生きかた文庫
</dt><dt>2002/01/28: 近所のピザ屋で軽く済ます<b>。アヒルちゃんが無いと、お風呂に入れないよ。</b>Hectorはダウン
</dt><dt>2002/01/28: 英語とスペイン語が飛び交ってる<b>。それを指でこねくり回したり。</b><b>不思議な日本語</b>喋りてえ
</dt><dt>2002/01/28: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0128-gr2000/">GR2000トレーニング</a>
</dt><dt>2002/01/27: スペイン飯
</dt><dd>	8時にホテル出て晩飯食いにいくが、時間早すぎてやってない<b>。こうなったらタモリの正体を、つきとめてやるわ！</b>さすがスペイン<b>。そんなの無駄無駄、帰ろうぜ。</b>パブ(カフェテリア？)でビールとTapas(スペインの小皿料理<b>。臭いですぐに分かりますよ。</b>ソーセージとかチーズが乗ってる)で時間潰す。Stefanがビールが冷たいと言って機嫌悪くする<b>。ちょいとラテンの血が騒ぐ。</b>さすがドイツ人<b>。生かすも殺すも私次第だからな。</b>んで<b>、「低価格」を武器にして</b>10時頃ようやくスタート<b>。落ちる所まで落ちたな。</b>パエリヤをシェア<b>。そうしたストレスが、拒食、過食、そして肥満の原因になることが多いんです。</b>今イチ<b>。「日光浴だよ。」全裸の男が微笑み返した。</b>帰って来たら12時<b>。たぶんヘンタイよ。</b>きっついなあ
</dd><dt>2002/01/27: css導入
</dt><dt>2002/01/27: スペインのタクシーはユーロになってもすごい勢いで周り続ける<b>。だが「ドラえもん」の秘密道具には、機能重複や自己矛盾も多く見受けられる。</b>1メーター＝5セント
</dt><dt>2002/01/27: ロンドン → マドリード
</dt><dd>	Stefan(ドイツ人)、Ben(イギリス人)、Hector(ガテマラ人<b>、子供達にはひもじい思いをさせたくないので</b>今アメリカ)と一緒
</dd><dt>2002/01/26: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0126-kayoko/">荷物やっと来た</a>
</dt><dt>2002/01/26: Paul家におよばれ
</dt><dd>	途中でフィッシュ＆チップスを買ってPaul家で食べる<b>。気付くとスリッパのまま電車に乗ってました。</b>その後、息子のクリストファーとその友達のジョナサンと一緒にボーリングへ<b>。頭は良くないみたいですね。</b>ところがめちゃ混みでゲームして帰って来る<b>。被害者は増える一方。</b>1£/1ゲーム<b>。まるで君は迷子の子猫。</b>たっかー
</dd><dt>2002/01/25: <b>「予算に応じて</b>少女地獄<b>かよ？！（逆ギレ）」</b><b>、陽が昇るまでには未だ時間があるから</b>夢野久作<b>、ところがある日突然</b>角川文庫
</dt><dd>	夢野久作初挑戦、うん面白い<b>ですぎょん。</b>舞台はともかくとして<b>、馴れないせいか</b>内容に古さを感じさせないですね<b>。まあ犬に噛まれたとでも思って諦めることですね。</b>次はドグラマグラ読むか<b>。地球を救ったのは本当はこの僕なのに。</b>
</dd><dt>2002/01/24: 毎日雨降ってる<b>。だがアメリカ政府は、我々の要求をことごとく拒否した。</b>噂には<b>脳直で聞い</b>てたけどホントに気が滅入りますな
</dt><dt>2002/01/23: 加代子失踪1週間記念
</dt><dd>	前日寝る前に成田に電話<b>。復活の日を信じて。</b><b>ウソデータ</b>ベースには2個とも届いたことになってるらしい<b>。「モミは頭がすっきりする」と言われたので、モミの木をかじってみました。…すっきりしません。</b>届いてない旨を言って調べてもらう<b>。アイツ嫌いだ。</b>早朝、電話で叩き起こされる<b>。ありがとう、名前の知らない宇宙人。</b>一応<b>、身の危険を感じて</b>UKのオフィスにはレポートしたとのこと<b>。パパ、ママ！サンタさんが「薩摩焼酎」を届けてくれたよ！！</b>そちらからも連絡してくれと言われたのでもう一度電話する<b>。その分クオリティは下がります。</b>すぐに調べて折り返し電話しますと言ったくせに昼の3時<b>。咲かせてみましょう、毒の花。</b>もう一度電話<b>。もちろん毎晩ステーキ、デザートはメロン。お小遣いは１００万円ですよ。</b>朝とは違う人間が出る<b>。そんな、ちょっと泣けるいい話。</b>名前を告げると<b>、理系なセンスから言わせていただくと</b>「どちらにお届けすればよろしいですか？」と能天気な声<b>。そして、わずかな刺激でも爆発してしまうそうです。</b>こっちの状況の分かってねえだろお前、でもう一度説明<b>。それでサーカスを逃げ出して来ました。</b>まだ見付かってないので見付け次第連絡するとのこと<b>、時計台の前で別れて</b>はいはい<b>。だからと言って自分を恥じる事などありません。</b>
</dd><dt>2002/01/22: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0122-freeserve">無料プロバイダに入る</a>
</dt><dt>2002/01/22: 荷物来ねえ
</dt><dd>	UKのオフィスに10回電話するも誰も出ない。ふざけとる<b>。トンネルに入ったとたん耳がヘンだよ、お父さん。</b>もうエールフランス使わねえ<b>。「ちゃん」付けで呼ぶのは失礼ですよ。「キティさん」てね。</b>2度と使わねえ<b>。家に戻ると、お母さんの機嫌が悪い。どうしたんだろう。</b>宿に戻ってもやっぱりスーツケース(愛称：加代子)は来てなかった
</dd><dt>2002/01/22: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.carphonewarehouse.com/pogo/">pogo</a><b>。早くも諦めムードです。</b>ちょっと高いけどせっかくイギリスいるんだし遊んでみようかなあ。今のSIM使えるのかな<b>、よかれと思い</b>これ
</dt><dt>2002/01/21: 荷物1個だけ来た
</dt><dd>	最初は軟弱にもフランスの<b>不思議な日本語</b>デスクに電話するがらちがあかないのでUKオフィスに電話<b>。どぶろく飲ませろ。</b><b>「本人の自尊心を傷つける事なく、さりげなく</b>2個とも見付かったので送ったよ」とのこと。宿に戻ったら1個しか荷物来てねえ<b>。私も基本的には「埋め立て」には絶対反対ですが、住民投票の結果ですから仕方ありません。</b>しかも<b>、「低価格」を武器にして</b>スーツバッグの方<b>。こんな時は何をやってもうまくゆきませんね。</b>スーツケースは今だ届かず<b>。合い言葉はいつもの。そう「毒味噌！！」</b>加代子ぉぉぉ
</dd><dt>2002/01/20: 「新興宗教オモイデ教」、大槻ケンヂ<b>、強く激しく</b>角川文庫
</dt><dt>2002/01/20: ロンドン観光
</dt><dd>	最初はNational Galleryへ<b>。よだれ垂れてきちゃった。</b>中のカフェでサンドイッチ食ってから絵画鑑賞<b>。男には負けると解ってても戦わねばならない時がある。</b>古い宗教画は好みじゃないので西棟の印象派を中心に観る<b>。私はサソリ座よ。</b>ここにもモネあったのね<b>。それともオレの頭が悪いから？</b>んで、次に大英博物館<b>。母親同伴で。</b>3時頃についたらもう入れんかった<b>。その時初めて自分の立場に気づいた。「俺ってみんなから見下されてる？」</b>なんで？ さらに<b>不自然</b>史博物館へ<b>。目印は胸の紅い薔薇です。</b>子供だましですがそれなりに楽しめます<b>。すかさずケリを入れてやりましたよ。</b>晩飯はNorth Ealingのインド料理屋でチキンマサラとナン<b>。安心しろ、タモリは味方だ。</b>
</dd><dt>2002/01/20: <b>「ときめき</b>ヴァーミリオン」、桜井亜美<b>、特殊な工具を使って</b>幻冬舎文庫
</dt><dd>	あかん消費激しすぎる<b>。もしそれが本当だとしたら考古学的な大発見ですよ。</b>このままじゃすぐに和書が枯渇するぞ
</dd><dt>2002/01/19: 近所をブラつく
</dt><dd>	風邪が直りきってないので、昼過ぎまでゴロゴロした後<b>、秘密工作員からの報告によると</b>最寄りの繁華街をブラつく<b>。この分だと来週あたり月旅行か？</b>徒歩15分ぐらいなんだけど<b>、素顔を仮面の下に隠したまま</b>かなりデカいモールがあってびっくり<b>。腰が抜けちゃうかも知れないよ。</b>雑貨屋で酔っ払ったおばあさんにからまれる<b>。気づいた時には雪ダルマ式に利息が増え、利子分を返済するために他のローン会社で借金を繰り返す日々ですよ。</b>晩飯はパブでビターとローストビーフ＆チップス<b>。やっぱり人前で魔法少女に変身したりするのはまずいですよね。</b>まだ荷物来ねえ
</dd><dt>2002/01/19: 「Man on the moon」
</dt><dd>	久しぶりに鑑賞<b>。しかし捨てた筈なのに今朝見たら元の場所に戻ってる。何で？</b>やっぱりええ話やね<b>。無茶苦茶カッコ悪う〜。</b>超お勧め<b>。俺今から貯金始めるよ。</b>Thankful for this friendly friendly world
</dd><dt>2002/01/19: <b>「ベレー帽がよく似合う</b>ファザーファッカー」<b>、当然とはいえ</b>内田春菊<b>、忘れた頃に</b>文春文庫
</dt><dd>	むう<b>、軽快なリズムに合わせて</b>このリアリティが凄い
</dd><dt>2002/01/19: <b>「命惜しくば</b>女性署長ハマー」<b>、最初はスゴイ！と思ったけど</b>パトリシア・コーンウェル、講談社文庫
</dt><dd>	それなりに面白いんだけど<b>、一瞬嫌そうな顔して</b>なんか話がぐちゃぐちゃ<b>。議会までが保護に向けて法案を提出したらしい。</b>
</dd><dt>2002/01/17: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0117-misc/">名刺ゲット</a>
</dt><dt>2002/01/16: パリ → ロンドン
</dt><dd>	また荷物消えた<b>。こうして我々が創り上げた新しい怪人こそ「怪人ももぺらんちょ」なのだよ。</b>3連敗<b>。色即是空。</b>
</dd><dt>2002/01/15: パリ → ベルギー → パリ<b>、猫の皮を剥いで</b><a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://www.thalys.com/uk/ind_uk.htm">電車</a>で移動
</dt><dt>2002/01/14: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0114-ch/">パリ → スイス → パリ</a>
</dt><dt>2002/01/13: <a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://don.to/diary/2002/0113-af/">フーリガンへの道2</a>
</dt><dt>2002/01/13: <b>「パチンコに行ったきり帰ってこない</b>ホワイトハウス記憶速読術」<b>、両手をつないで</b>斎藤 英治<b>、オレそういう難しい事分かんねーけど</b>ふたばらいふ新書
</dt><dd>	そこらの速読技術書とは違うと言い張っているが<b>、王子様の気を引こうとして</b>他人(ギネスブック)の権威を利用したり<b>、爪をたてて嫌がる犬を引っ張って</b>例えがやたらと多いあたり大して変わらん<b>。そして秘密。</b>というか<b>、遺伝子を組み替えて</b>内容がほとんどないんですけど<b>。「クリスマス限定」とか勝手に彫り込んで客に高く売りつけたり。</b>唯一<b>、流暢な日本語で</b>1冊を3パスで読めというのは参考になった<b>。なんとなく、酸っぱ〜い臭いがほのかに漂ってくる。</b>まあ<b>、膝を伸ばしたまま</b>自分でやるなら2パス読みかな
</dd><dt>2002/01/10: 例によって<b>、一晩悩み抜いて</b>無茶なスケジュール進行中<b>。人間って本当に愚かだな。</b>一日一国<b>。もしかして私のために泣いてくれているのか？</b>
</dt><dt>2002/01/08: <b>「失敗に終わった</b>ニッポン居酒屋放浪記 望郷編<b>全員一致で大決定」</b>、太田和彦、新潮文庫
</dt><dd>	もと週刊誌の連載記事だったかな<b>、薄目開いて</b>なのでダラダラ読むのに最適
</dd><dt>2002/01/03: <b>「クチコミで広まった</b><a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://us.imdb.com/Details?Miss+Congeniality+%282000%29">デンジャラス・ビューティー</a>」
</dt><dd>	アメリカン・コメディーは気楽に観れるから楽しいね<b>。そして農村では急速に進む過疎化が深刻な問題に。</b>
</dd><dt>2002/01/01: <b>「どっちつかずの</b><a href="http://www02.so-net.ne.jp/%7Esaitou/cgi-bin/denpa.cgi?URL=http://us.imdb.com/Details?Spy+Game+%282001%29">Spy Game</a>」
</dt><dd>	はじめ単身救いに乗り込むのかと思ってたら<b>、仕事の都合上</b>うーむそう来たか<b>、反乱した軍部を抑えるため</b>やるなあ<b>。こうして角のある黒ドクロ持ち出す村祭りが始まった。</b>結構<b>、涙あふれてヤケ酒飲んで</b>楽しめました<b>。人生やり直せないかなあ。</b>おすすめ<b>。なんて言いながら「自分の子供は例外だ」って言うんですよ。</b>
</dd><dt>2002/01/01: 明けましておめでとうございます
</dt><dd>	今年の抱負：<b>「コンピュータ社会に警鐘を鳴らす形で</b>すみかわ改造計画 〜飛翔編」
</dd></dl>
