---
title: 世界一周旅行スタート
tags: ireland, travel, businesstrip
---
目を覚まして血の気が引いた。時計みるとAM8:45。
予定では7:03の電車に乗るつもりだったので、2時間の遅刻。
洒落ならん。

着替えて速攻家を飛び出る。人間満杯の9:00の急行は見送って、
9:10のロマンスカーにする。
ロマンスカーの中でi-Mode使って乗り換え案内をチェック。
日暮里経由の京成ライナーが一番早そう。
でも、どう調べても成田到着は離陸時間の30分前なので、かなり絶望的。
飛行機が遅れるのを祈りながら、眠りに着く。
頭すっきりさせとかんとやばいんで睡眠重要。
そもそも昨日寝たの3時やし、仮眠取らないで漫画喫茶でも行っとけばよかったと猛反省。
っていうか、夜更ししないでとっとと寝とけ ＞ 俺。

予定通り離陸30分前に成田到着。電光掲示版見るも遅れなし。
泣きながらダッシュでカウンターへ。
チケット見せながら、「ゲートまでダッシュするんで何とかなりませんでしょうか」とお願いすると、
とりあえずまだ間に合うかどうか地上員の人が見に行ってくれて、OKとの返事。
大急ぎでチェックイン済ませて、スタッフに先導されてゲートへ。一瞬VIP気分になりましたが、
二人とも小走りなので全然VIPではありません。
出国審査もセキュリティも横入りさせてもらって、結局10分でカウンターからゲートへたどり着く。
ギリギリセーフでした。やればできるんじゃん。すげえすげえ。いや、もう2度とやりませんけどね。
でも、数年前にも1回やらかしたんだよなあ。

今回の旅はStar Allianceを使った<a href="http://www.staralliance.jp/product/index.html">世界1周旅行</a>。
ついでにスターアライアンスが5周年キャンペーン中で2か月以内に5航空会社を使うと55,555マイルのボーナスをゲットなので、組んだフライトがこれ。

<pre class="address">
04JUN NH201  NRT 11:40-LHR 15:55
04JUN LH6505 LHR 17:30-DUB 18:45
06JUN LH6502 DUB 12:55-LHR 14:15
11JUN BA304  LHR 07:15-CDG 09:45
11JUN KL1238 CDG 16:35-AMS 17:50
12JUN BA443  AMS 21:05-LHR 21:25
17JUN SK500  LHR 06:50-CPH 09:40
17JUN SK925  CPH 10:40-IAD 13:20
21JUN UA203  IAD 21:20-SFO 11:50
23JUN AC528  SFO 08:15-YVR 10:26
23JUN AC003  YVR 13:35-NRT 15:15(+1)
</pre>

日程組むのパズルみたいで楽しめます。

行きのフライトは前もってマイルでアップグレード確定していたので、ビジネスクラスでした。
とても快適。でもなぜか最近導入された新型シートじゃなかったので、斜めフルフラット・シートは楽しめませんでした。
とても、残念。いや、乗れただけ贅沢は言うまい。

そんなこんなでヒースロー空港到着。何か降りた瞬間にイギリスの匂いがしました。
やっぱアメリカの匂いと違うわと思わずにんまり。なぜか嬉しくなって来る自分。

次の飛行機はターミナル1。何だいつものとこかと思いきや、イギリス内移動とアイルランドの移動は
国内移動扱いなので、ターミナル1の中でもへんぴなとこにある隔離されたエリアにいかないといけないみたい。
道中で昔wireless LANでメール読めたエリアの上を通ったので、
とりあえずメールゲットと生きてますメール出して先に進む。

イギリスは単なる経由地にもかかわらずいつものごとく厳しい入国審査。
イギリスとアイルランドは同盟結んでて、イギリスでチェック厳しくしてアイルランドでは特にチェックしない方針みたい。
で、かなり奥待った薄暗いターミナルへ。こんなとこ来たのはじめてだ。

さて、とりあえず最初のトラブルは回避したものの、まだ問題があります。
リムリックなるアイルランドの西にある町が最初の目的地なんですが、
現在Rynairがスト中で便がありません。なので、ダブリンから列車で行く必要があります。
現地到着時間は夜の23時。さらに、ホテルは駅からタクシーで1時間くらいかかる上に、
ホテルの場所がどこなのか今イチ不明(アレンジしたやつが全然情報送りやがらない)。
かつ、おそらくここがホテルだという所は見付けたんだけど、どうみても大学の寮。
これって、24時について入れるんかいな？

びびりながら、ダブリン駅に着くと。駅前にホテルがありました。
空き部屋あるかどうか聞いたらあるとのこと。
もう本来の予約したホテルをこれから捜し出すのはリスキーなので、
ここに泊まることに決定。

<%= image "img_0001" %>
<%= image "img_0003" %>

翌日、無事にコンファレンスに参加して、さらにダブリンに戻ろうとしたけど、
列車まで時間余ったのでパブで本場のギネス。

<%= image "img_0004" %>
<%= image "img_0005" %>
