---
title: HEL初出社
tags: uk, work
---
時差ボケで2度寝して慌ててホテルを飛び出す。

地下鉄乗ろうとしたらスト中。
昨日の火事騒ぎといい出だしが悪いぞ。
歩いて隣の駅のEaling Broadwayまで行って、Thames Trainに乗る。
Maidenhead駅から会社まではタクシー。はよ車買おう。

会社(Hitachi Europa, Ltd. 略してHEL)行ったら、ネットワークチーム誰もいねえでやんの。
何だかなあ。

さて、今日やったこと。

- 社長に挨拶(忙しくて10秒)
- 勤労に挨拶(ミーティング中で冷たくあしらわれる。後で手続きするからと言われてそれきり)
- 同期の旦那がいるので挨拶しようとしたが出かけてていなかった
- 名刺作る。
- 机のアサインと、PCの申請、電話の設置
- webくりくりして、中古車屋の情報収集
- もっかい勤労に行ったらようやくかまってもらえた。とにかく銀行口座を早く作るようにとの指示。確かに口座ないと車購入のための融資も受けれないのではよやらんと。申込書をもらう。金曜に作業予定、勤労側も収入があることを示すレター作成しておくとのこと。
- できるだけ早くEast Yorkshireに飛んでくれとの指示がメールで来る。地図見たらめちゃ遠い。ということで、クリクリして情報収集。

定時発の会社のバスでMaidenhead駅まで送ってもらってその後電車。
Ealing Broadwayの行きつけのパブでビターとGrilled Chickenつつきながら
この日記書いてます。

明日は会社休んで部屋探し。忙しいので明日一日で決定したいところ。

### TODO

- 銀行口座開設
- 車探し (<a href="http://www.jemuk.co.uk/jem-anet/index.html">JAM ANET </a>,
             <a href="http://www.thamescars.f9.co.uk/">テムズカー</a>)
- 車の保険加入
- 道路税支払
- 部屋探し (<a href="http://www.jac-strattons.co.jp/">JAC STRATTONS</a>)
- 電気、ガス、水道契約
- TVライセンス代支払
- 電話契約(そもそも入るのかどうか)
- ADSL契約(他の選択肢はあるか？ CATVとか)
- 運転免許書き換え
