---
title: レンタカー
tags: UK, car, rental
---
会社の人に紹介されてとりあえず一ヶ月はレンタカーで過ごすことにしました。
これも日系の<a href="http://www.jemrentacar.com/">JEMレンタカー</a>ってところです。
TOYOTA系のお店。YARIS(日本でいうヴィッツ)を借りました。£526なり。
電話したら即日で持って来てくれました。すばらしい。

さらに保険が1日£9。
最初はレンタカーの保険で過ごして、
とっとと普通の車両保険契約しちゃえばその後はレンタカーの保険料は払わなくていいよーんと
言われたけど、保険屋に電話したら、短期のレンタカーの保険はできませんと言われた。
だまされた。ということで、£270 + £526 = £800 が一ヶ月のレンタル代です。
まあ、こんなもんちゃーこんなもんか。
車は6200マイルしか走ってないので、新車同様ですな。写真は後日。

ということで、明日から車通勤。
