---
title: 銀行口座その他
tags: life, uk
---
申し込んでた銀行口座がやっと開設されました。Checque Book(小切手帳)が届く。
キャッシュカードも届いたんだけど、
カードを有効にするためには受け取った証明を送れと書いてある。
しかも、有効化には届いてから1週間かかるよーんと書いてある。なめとる。

<%= image "img_0050" %>

さらに、Inventory Checkのレポートが届く。
ざっと読むと風呂場のタイルが2枚割れてる件が書いてないので、
電話して状況を説明すると、「FAX送っといてーん」と言われた。
色々面倒くさいのう。

<%= image "img_0052" %>

さらに在留届を出す。これは日本大使館にFAXするだけでオーケーなので会社から送信。

### TODO

- 銀行口座開設
- 車探し (<a href="http://www.jemuk.co.uk/jem-anet/index.html">JAM ANET</a>)
- 車の保険加入
- 道路税支払
- ADSL契約(他の選択肢はあるか？ CATVとか)
- 運転免許書き換え
- 住所変更届を出しまくる
