---
title: ADSL申し込み
tags: ADSL, broadband
---
クレジットカードが届きました。
クレジットカードは優れもので特定の番号に電話かけて誕生日その他を打ち込むと有効になります。
できいいじゃん。なんで、キャッシュカードでこれができんかなあ、同じ会社のくせに。

ということで、<a href="http://www.bt.com/btbroadband/">BT Broadband</a>を申し込み。これでADSLがくるはず。
入力受け付けページでUKのデビットカードもしくはクレジットカードを要求するので今まで申し込みできんかったのよ。登録申し込みが£30(今年中のセール、来年からは£60)、ADSLモデムとスプリッタが£80、月使用料が£27だそうです。
10/31に一式届き、宅内工事は不要らしい。はよ来ないかなあ。
もうダイアルアップの生活は耐えられない。
いかに自分がネットワークに依存した生活をしてるかがよく分かる。
