---
title: BT Broadband開始
tags: ADSL, broadband, router
---
<a href="../1022-adsl/">申し込んでた</a>BT Broadbandのキットが届く。

<%= image "img_0048" %>

フタをあけて、「やられたー」。USB ADSLモデムやんけ。
よくよく調べたらUKはPPPoAは主流なので、イーサ生えてるADSLモデムは存在しません。
くそー、時が遡ってる。

<%= image "img_0049" %>
<%= image "img_0050" %>
<%= image "img_0051" %>

とりあえずWindows 2000の入ったVAIO君につなげて動作確認。
580kbpsぐらい出てます。まあ、日本以外のADSLの実態ってこんなもんです。

FreeBSDのドライバ探してけど見付からず。一世代前のAlcatel製のやつは見付かったんだけどね。
しゃあないので、メールはダイアルアップで読んでます。くそー負けてる。

後日、Windows 2000箱をNAT箱にしようとしてセルフパワーのUSBハブ(£25!!!)を買ってきたけど、
どうもADSLモデムを認識してくれん。イーサネット・アダプタはつながるのに。
ちなみにこのVAIO君はPCMCIAがぶっこわれているのでUSB使う以外に選択肢がないのです。

あきらめてADSLルータを買おうとWebを物色すると、
<a href="http://www.dsl-warehouse.co.uk/acatalog/DSL504.html">D-Link 504</a>
がよさげなので購入。ADSLモデムは後日send backする予定。
メールで返品ポリシー問い合わせたら返品担当部署に電話してくれと言われた。
メールでは対応できないそうな。使えん。

さて、これで幸せになるのでしょうか。
