---
title: IPv6関係の古い資料
---
IPv6関係の古いデータを歴史保存の観点から置いておきます。

<ul>
<li>1996年6月09日: <a href="19960609.txt">始めてIPv6が専用線を通った日(日本では間違いなく初めて。たぶん世界でも初めて)</a></li>
<li>1996年6月17日: <a href="19960617.txt">大阪大学も開通</a></li>
<li>1996年7月15日: <a href="6bone-1996a.pdf">当時の6bone-JP</a></li>
<li>1996年7月16日: <a href="19960716.txt">US 6boneとトンネルを使って接続。相手はCisco</a> (<a href="19960716_en.txt">Ciscoに宛てたメール</a>)</li>
<li>1996年7月18日: <a href="19960718.txt">欧州6bone(G6)とも接続</a></li>
<li>1996年7月20日: <a href="6bone-1996b.pdf">当時の6bone-JP(海外とのトンネル接続後)</a></li>
<li>1996年7月24-26日: Networld+Interop'96で<a href="ipv6ssd-1996.pdf">IPv6 SSDを実施</a>(最初のIPv6関係のイベント) <a href="http://www.v6.wide.ad.jp/Events/9607-ssd/picts.html">写真</a> / <a href="http://www.v6.wide.ad.jp/Events/9607-ssd/presen/">プレゼン</a></li>
<li>1996年11月06日: <a href="19961106.txt">BayNetworksと接続</a></li>
<li><a href="6bone-19970308.pdf">1997年3月の6bone-JP</a></li>
<li><a href="v6map97.ppt">Networld+Interop'97のIPv6 SSDのトポロジー図</a></li>
<li>1997年2月: RIPngの導入</li>
</ul>
