---
title: 半田ゴテ
tags: tech, DIY, electronics
---
web見てたら、プレステ2を改造して、プロテクトがかかってるRGBケーブルでのDVDを再生を可能にしようという記事が見つかったので、半田ゴテを買って来る。

<%= image "img_2520" %>

が、そもそもプレステ2をバラすのが難しくて諦める。
ちゃんと色々道具使わないと壊しそうで危ない。

結局、<a href="http://www.amazon.co.uk/">www.amazon.co.uk</a>で、Yamadaとかいう日本のフリした中国製の<a href="http://www.amazon.co.uk/exec/obidos/ASIN/B0000B0A4G/daydreaonthen-22">DVDプレーヤー</a>を買う。100-240V、リージョンフリー、PAL/NTSC対応で6000円。すげえ。

よくみたら、amazonのDVDプレーヤーの<a href="http://www.amazon.co.uk/exec/obidos/tg/browse/-/560860/">トップ20</a>ぐらい全部リージョンフリーでした。すごいぞイギリス。
