---
title: 酒ドカ買い
tags: wine, shopping, london
---
都内(すみかわ家ではロンドン中心部を指す)まで車でお出かけして、
<a href="http://www.bbr.com/">Berry Bros &amp; Rudd</a>でワイン、シェリー、ウィスキーをドカ買い。

<%= image "img_3896" %>
<%= image "img_3899" %>

以下、購入した酒のリスト

- Palo Cortado de Jerez 1/50, Vides -- Spain, H/Bottle, 6.95GBP
- Oloroso 1/2 Miguel Fontadez Florido -- Pilar Aranda y Latorre -- Spain, H/Bottle,7.45GBP
- Manzanilla Pasada de Sanlucar 1/80, Manuel Cuevas Jurado -- Manuel Cuevas Jurado -- Spain, H/Bottle, 6.95GBP
- Oloroso, Pata de Gallina 1/38, Juan Garcia Jarana -- Juan Garcia Jarana -- Spain, H/Bottle, 6.95GBP
- Berrys' Red Burgundy, Pinot Noir -- C. Vienot -- France, Bottle, 7.75GBP
- Hautes Cotes Nuits, Domaine .H. &amp; G. Remoriquet -- Domaine Remoriquet -- France, Bottle, 9.95GBP
- Berrys' House Red -- Domaine Virginie -- France, H/Bottle, 2.65GBP
- Berrys' Red Burgundy, Pinot Noir -- C. Vienot -- France, H/Bottle, 3.95GBP
- Berrys' Rioja Crianza, Bodegas Amezola de la Mora -- Bodegas Amezola de la Mora -- Spain, Bottle, 7.45GBP
- Bruicchladich 17yrs, Bottle, 44GBP
- イタリアワイン(詳細忘れた)
- フランスワイン(詳細忘れた)

リッツホテルのすぐ裏の駐車場に車止めたら2時間で10.50ポンド(2000円)取られた。たかー。
さすが都内。
