---
title: 僕がANAを使う七つの理由
tags: essay, flight
---
要するに「ANAが業界のfollowerで頑張ってるから」が理由なんですが、
もう少し噛みくだいて説明すると、

- ANAは3万マイル到達時に国際線の<a href="http://www.ana.co.jp/amc/elite/b_2.html">片道分のアップグレード券</a>がもらえるが、
  JALは<a href="http://www.jal.co.jp/jalmile/flyon/crystal.html">国内線のみ</a>である。
  国内線のアップグレードなんてどうでもええっちゅーねん。
- JALは欧州会員は別管理になっているため、
  日本出張中の場合に帰りの便をアップグレードしたかったらわざわざイギリスに電話しないといけない。
  馬鹿らしいシステムじゃ。ANAは一元管理なのでそんなことなし。
- JALではフライトまで2週間を切ってからのアップグレード依頼は特別手配手数料が発生する。
  コンピューター登録するだけやんけ。意味ねぇ。
- JALには<a href="http://intsvc.aspwb.com/J/Y/index.html">プレミアムエコノミー席</a>が存在しない。
- JALのビジネス席はなんか背中がボコボコしてて寝づらい。しかもツルツルしてるので、寝てると滑べり落ちる。
- JALは、古くからのユーザーが多く、大量の上級会員がいる。
  そのため、ちょっとやそっとフライトに乗っても(相対的に)偉くなれない。
- 航空業界最大手の<a href="http://www.staralliance.jp/">スターアライアンス</a>のメンバーなので、
  マイルが貯めやすいし、カードステータスが上がれば、他航空会社でも優遇されるので便利。

以上の情報は2004年7月現在のものです。当然ながらサービスは今後変わる可能性があります。
