---
title: IPv6喋るVoIP/ビデオ機器
tags: ipv6, tech
---
商用/非商用問わずIPv6を喋るVoIP/ビデオ機器で、入手可能なものは何があるかをまとめました(2004年11月現在)。

### VoIPクライアント

- Yamaha <a href="http://netvolante.jp/products/rt57i/">RT57i</a>: ADSL/FTTH/ISDN/CATV ルーター

### VoIPサーバ

- 日立 PROGNET: 製品のwebページなし。プレスリリースは<a href="http://www.hitachi.co.jp/New/cnews/030623.html">ここ</a>。

### Videoクライアント

- <a href="http://www.sfc.wide.ad.jp/DVTS/index-j.html">DVTS</a>: *BSD用。片方向で30Mbpsの帯域を消費する。
- <a href="http://www.fatware.jp/product/prduct_contents.html">DVcommXP</a>: WindowsXP用。片方向で30Mbpsの帯域を消費する。
- CEC <a href="http://www.cec.co.jp/CEC/products/net/netdev/nd-vd01/index.html">ND-VD01</a>
- Panasonic <a href="http://panasonic.biz/netsys/netwkcam/">BB-HCM371/331/311</a>: <a href="http://panasonic.biz/ipv6/event/e_sfcsoi.html">事例紹介</a>
- ブレインズ <a href="http://www.brains.co.jp/product_server/index.html">mmEye</a>
