---
title: 最近のWINEはイケてる
tags: freebsd, game, tech
---
最近の<a href="http://www.winehq.com/">WINE</a>ってWindowsをインストールしなくても自前のdllで動くようになってるのね。
Windows 95用<a href="http://www.falcom.com/monarch/index.html">ロードモナーク</a>とか動くじゃん。
すげえ。

やり方(って言うほどのものでもないけど)。

<pre class="terminal">
% fetch http://www.falcom.co.jp/monarch/down/ds7j.zip
% unzip ds7j.zip
% wine DS7J_WIN/DS7J_WIN.EXE
</pre>

以下、スクリーンショット。

<%= simage "wine", height: 600, ext: 'png' %>

半角カナが化けてますが、フォントの設定次第でどうにかなるんかな。

最近Windows 95/98環境ないので2000/XPで動かない古いゲームするのに重要かも。
今度、買ったままになってるハイドライド3とかザナドゥとか試してみよう。
