---
title: ヨーロッパIPv6用語集
tags: Europe, IPv6, tech
---
ヨーロッパIPv6用語集。

<pre>
<a href="http://www.6init.org/">6INIT</a>
6Net		Euro6IXのライバル。
6WINIT		6INITのワイヤレス版
<a href="http://www.6power.org/">6POWER</a>		電源ケーブルで通信しましょうプロジェクト
<a href="http://www.ipv6.ac.uk/">Bermuda</a>		サウス・ハンプトン大学、ロンドン大学、ランチェスター大学を結ぶネットワーク
<a href="http://www.ipv6.btexact.com/index.html">BT exact</a>		British Telecomの研究所
<a href="http://www.cselt.it/">CSELT</a>(IT)	イタリアのnational carrier。
EC(EU)		European Commision(欧州委員会)
<a href="http://www.consulintel.es/">ConsulIntel</a>(ES)	コンサル会社。Jordi Paletの会社ともいう。
EMEA(EU)	Europe, Middle East and Africaの略
ENST(FR)		大学
<a href="http://www.etsi.org/">ETSI</a>(EU)	欧州の規格はだいたいここで作られる。相互接続テスト実施機関でもある。
<a href="http://www.euro6ix.org/">Euro6IX</a>(ES)	IPv6 IXプロジェクト。ConsulIntel社が主導。6Netがライバル。
G6
GEANT(EU)	ヨーロッパ中を高速なネットワークで結びましょうプロジェクト。日本のJGNみたいなもん
GPRS		携帯電話の規格
IRISA(FR)	国立の研究機関
<a href="http://matrix.it.uc3m.es/~long/">LONG</a>(ES)スペインのIPv6研究プロジェクト
NREN(EU)		National Research and Educational Networks
<a href="http://www.v6.eu.ntt.net/">NTT Europe</a>
<a href="http://www.renater.fr/">RENATER</a>(FR)	フランスの研究所。G6作ったところ
<a href="http://www.sfinx.tm.fr/">Sfinx</a>(FR)	IPv6 ISP
<a href="http://www.skanova.com/eng/index.html">Skanova</a>(SE)	TeliaのISP部門
T-DSL		ドイツテレコムのDSLサービス。ISDN回線を使ったDSL
T-System		ドイツテレコムのSI部門
Telecom Italia
<a href="http://www.tid.es/">Telephonica</a>(ES)	スペインのnational carrier。
Telia(SE)	スウェーデンの電話屋
TIDSA(ES)	Telephonicaの研究組織
TILAB(IT)	イタリアン・テレコムの研究機関
Tsunami(GE)	ドイツ・テレコムのIPv6プロジェクト
<a href="http://www.upperside.fr/">Upperside</a>(FR)	コンファレンス屋
UTMS		携帯電話の規格
VTHD(FS)	FTのIPv6ネットワーク運用実験プロジェクト
</pre>
