---
title: ロンドンのうまい店
tags: restaurant, uk
---
注意:2004年当時の情報です。

<h3>タイ料理</h3>
<dl>
<dt> 
<dt> <a href="http://www.blueelephant.com/london/">The Blue Elephant</A>
<dd>	4-6 Fulham Broadway, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=SW6+1AA">SW6 1AA</a>, Tel: 020 7385 6595
<dd>	最寄り駅: Fulham Broadway
<dd>	結構辛いので注意。
</dl>

<h3>フランス料理</h3>
<dl>
<dt> Pere Michel
<dd>	11 Bathurst Street, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=W2+2SD">W2 2SD</a>, Tel: 020 7723 5431
<dd>	最寄り駅: Lancaster Gate
<dd>	前菜の牡蛎がうまいので、牡蛎の季節に行くべし。日記は<a href="/diary/2004/0925-circus/">こちら<A>
</dl>

<h3>韓国料理</h3>
<dl>
<dt> Miga 79/81
<dd>	Kingston Road, New Malden, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=KT3+3PB">KT3 3PB</a>, Tel: 020 8942 1811
<dd>	日記は<a href="/diary/2004/1113-korean/">こちら<A>
</dl>

<h3>中華料理</h3>
<dl>
<dt><a href="http://www.london-eating.co.uk/2966.htm">Joy King Lau</a>
<dd>	3 Leicester Street, London, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=WC2H+7BL">WC2H 7BL</a>, Tel: 020 7437 1133
<dd>	飲茶がお勧め。日記は<a href="/diary/2004/1024-uk/">こちら<A>
</dl>

<h3>日本食</h3>
<dl>
<dt> <a href="http://www.lammas.com/food/SushiHiro.html">Sushihiro</a>
<dd>	1 Station Parade, Ealing, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=W5+3LD">W5 3LD</a>, Tel: 020 8896 3175
<dd>	最寄り駅: Ealing Common
<dd>	僕の知る限りロンドンで一番うまい寿司屋。クレジットカード不可
</dl>

<h3>イタリア料理</h3>
<dl>
<dt> Biagi's
<dd>	39 UPPER BERKELEY STREET, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=W1H+5QH">W1H 5QH</a>, Tel: 020 7723 0394
</dl>

<h3>インド料理</h3>
<dl>
<dt> The Clay Oven
<dd>	13 The Mall, Ealing, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=W5+2PJ">W5 2PJ</a>, Telephone: 020 8840 0313 
<dd>	最寄り駅: Ealing Broadway
<dd>	日記は<a href="/diary/2004/1031-clayoven/">こちら<A>
</dl>

<h3>アフタヌーン・ティー</h3>
<dl>
<dt> <a href="http://www.compleatangler-hotel.co.uk/">The Compleat Angler</a>
<dd>	 Marlow Bridge, Marlow-On-Thames Buckinghamshire, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&name=SL7+1RG">SL7 1RG</a>, Tel: 0870 4008100
<dd>	ロンドン郊外です。
</dl>

<h3>その他</h3>
<dl> 
<dt> Popeseye Steak House
<dd>	108 Blythe Road, London, W14 0HD, Tel: 020 7610 4578 
<dd>	ステーキ屋さん。フィレがお勧め。日記は<a href="/diary/2004/0325-steak/">こちら</a>
<dd>	クレジットカード不可
</dl> 
