---
title: 写真集
---
<p>

1993年当時

</p>

<p>

<a href="don.jpg"><img src="don.jpg" alt="don.jpg" height="96" /></a>
<a href="2don.jpg"><img src="2don.jpg" alt="2don.jpg" height="96" /></a>

</p>

<p>

1996年前半

</p>

<p>

<a href="r0100005.jpg"><img src="r0100005.jpg" alt="r0100005.jpg" height="96" /></a>
<a href="http://www.don.to/diary/1996/1225-oikon/600/r0100016.jpg"><img src="http://www.don.to/diary/1996/1225-oikon/96/r0100016.jpg" alt="r0100016.jpg" /></a>

</p>

<p>

1996年後半

</p>

<p>

<a href="http://www.don.to/diary/1996/1209-ietf/600/s0100019.jpg"><img src="http://www.don.to/diary/1996/1209-ietf/96/s0100019.jpg" alt="s0100019.jpg" /></a>
<a href="http://www.don.to/diary/1996/1209-ietf/600/s0100020.jpg"><img src="http://www.don.to/diary/1996/1209-ietf/96/s0100020.jpg" alt="s0100020.jpg" /></a>

</p>

<p>

2001年。

</p>

<p>

<a href="munechika_sumikawa.jpg"><img src="munechika_sumikawa.jpg" alt="munechika_sumikawa.jpg" height="96" /></a>

</p>

<p>

原稿執筆用写真。

</p>

<p>

<a href="munechika_sumikawa2.jpg"><img src="munechika_sumikawa2.jpg" alt="munechika_sumikawa2.jpg" height="96" /></a>

</p>
