---
title: あまんじゃく
tags: son, dinner, okonomiyaki
---
蓮と二人で近所の広島風お好み焼き。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1403/A140301/14010708/">あまんじゃく</a>
神奈川県横浜市保土ケ谷区岩間町1-10-8
045-341-5656
</pre>

<%= image "img_1954" %>
