---
title: 焼肉
tags: dinner, family, yakiniku
---
家族で焼肉。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1403/A140301/14015346/">焼肉厨房 独楽一</a>(コマイチ)
神奈川県横浜市保土ケ谷区天王町2-46-1 ヴィラデステKOSUGE 2F
045-336-4129
</pre>

<%= image "img_1973" %>
<%= image "img_1974" %>
<%= image "img_1975" %>
<%= image "img_1977" %>
