---
title: クア・アイナ
tags: lunch, burger, yokohama
---
横浜駅東口に出張があったので、アボカドバーガーを食う。

<pre class="address">
<a href="http://www.kua-aina.com/">クア・アイナ</a>横浜ベイクォーター店
横浜市神奈川区金港町1-10 横浜ベイクォーター4F
045-450-7202
</pre>

<%= image "img_2158" %>
