---
title: 目黒ごはん ラーメン二郎
tags: meguro, ramen, restaurant
---
健康診断のあと、目黒二郎を視察にいく。遠かった。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13003449/">ラーメン二郎 目黒店</a>
東京都目黒区目黒3-7-2
</pre>

<%= image "img_2443" %>
<%= image "img_2444" %>

クーラーないので暑くて倒れるかと思った。塩分は存分に補給できましたが。
