---
title: うなぎ
tags: unagi, restaurant, yokohama
---
<pre class="address">
<a href="http://www.yokohama-wakana.com/">割烹蒲焼わかな</a>
神奈川県横浜市中区港町5-20
045-681-1404
</pre>

客の注文に合わせてご飯を炊いてちょうどアツアツの炊きたてを出すとのことなんだけど、
行列の切れ目にいったからかそうでもなかった。

<%= image "img_2491" %>
<%= image "img_2493" %>
