---
title: 神座
tags: ramen, restaurant, ebisu
---
恵比寿に神座を発見。食べたのNAIST以来だなあ。

<pre class="address">
<a href="http://www.kamukura.co.jp/shop_detail.php?cd=111">KAMUKURA DiNiNG アトレ恵比寿店</a>
東京都渋谷区恵比寿南1-5-5 atre恵比寿2F
</pre>

<%= image "img_2539" %>
