---
title: 目黒ごはん 魂心家
tags: ramen, lunch, meguro
---
今週から外でランチ食べはじめました。とりあえず大量にあるラーメン屋を一巡するぜー。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13118047/">魂心家</a>
東京都目黒区目黒1-4-8 ニュー目黒ビル 1F
</pre>

<%= image "img_2568" %>

横浜家系だけどあっさりでうまし。
家系食べてると途中で気持ち悪くなることがあるんだけど、これは全然大丈夫。

雅叙園通ってオフィスに戻る。

<%= image "img_2569" %>
