---
title: 目黒ごはん 麺屋しみる
tags: lunch, mac, meguro, ramen
---
今日は昨日見つけられなかったしみるに挑戦。

<%= image "img_2575" %>

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13113854/">麺屋しみる</a>
東京都目黒区下目黒1-3-28 サンウッド目黒 B1F
</pre>

<%= image "img_2572" %>
<%= image "img_2573" %>

家に帰ったらMacbook Air届いてた。
BYODオッケーなので、会社支給のWindowsマシンから乗り換え。

<%= image "img_2578" %>
