---
title: 目黒ごはん 麺屋 藤しろ
tags: ramen, lunch, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13143426/">麺屋 藤しろ</a>
東京都品川区上大崎2-27-1 サンフェリスタ目黒
</pre>

天下一品を上品に仕上げた感じ。
今までで一番の好みだなあ。

<%= image "img_2582" %>
<%= image "img_2581" %>
