---
title: 目黒ごはん づゅる麺池田
tags: lunch, meguro, ramen
---
四日連続ラーメン！

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13032592/">づゅる麺池田</a>
東京都目黒区目黒1-6-12
</pre>

<%= image "img_2584" %>
<%= image "img_2583" %>
