---
title: 目黒ごはん かつ壱
---
気分を変えてトンカツにした。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13021829/">かつ壱</a>
東京都品川区上大崎2-25-5 久米ビル B1F
</pre>

<%= image "img_2602" %>

量が多い上に脂身が多いのでもたれた。今度はヒレカツかカツ丼にしてみよう。
