---
title: 目黒ごはん 麺屋 航
tags: ramen, lunch, meguro
---
濃厚でうまし。また来よう。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13144463/">航</a>
東京都品川区上大崎3-3-4
</pre>

<%= image "img_2612" %>
<%= image "img_2613" %>
