---
title: 目黒ごはん ぶらり
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13157532/">ぶらり 目黒店</a>
東京都目黒区下目黒3-4-6
03-6303-3833
</pre>

<%= image "img_2620" %>
<%= image "img_2619" %>

白湯スープうまし!
