---
title: 目黒ごはん 結庵
---
雅叙園のレストランにも挑戦してみた。ヘルシーでした。

<pre class="address">
<a href="https://www.megurogajoen.co.jp/restaurants/yuian/">結庵</a>
東京都目黒区下目黒1-8-1
03-5434-5292
</pre>

<%= image "img_2637" %>
<%= image "img_2639" %>
