---
title: 目黒ごはん なおじ三番弟子やすじ
tags: lunch, meguro, ramen
---
二郎インスパイア系だと思うんだけど、麺は細いし、キャベツがないせいか野菜もスープとなじまくてバランス悪し。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13156769/">なおじ三番弟子やすじ</a>
東京都目黒区目黒区1-6-15
03-3779-9199
</pre>

<%= image "img_2640" %>
