---
title: ぐみょうじプレイパーク
tags: park, son, yokohama
---
<pre class="address">
<a href="http://gumyojipp.jugem.jp">ぐみょうじプレイパーク</a>
神奈川県横浜市南区弘明寺町
弘明寺公園
</pre>

<%= image "img_8193" %>
<%= image "img_8197" %>
<%= image "img_8198" %>
<%= image "img_8202" %>
