---
title: 目黒ごはん 我が家
tags: lunch, restaurant, korean
---
スンドゥブチゲのランチ。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13085495/">我が家</a>
東京都目黒区下目黒2-2-8
03-5745-0375
</pre>

<%= image "img_2696" %>
<%= image "img_2697" %>
