---
title: 目黒ごはん バンコク オリエンタル
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13100909/">バンコク オリエンタル ダイニング＆バー</a>
東京都目黒区下目黒1-3-1 シーダム目黒2F
03-5719-0082
</pre>

時間が遅かったので、ビュッフェにせずに単品にした。

<%= image "img_2727" %>
