---
title: あーすぷらざ
tags: museum, kids, facility
---
<pre class="address">
<a href="http://www.earthplaza.jp/">あーすぷらざ</a>
〒247-0007 横浜市栄区小菅ケ谷1−2−1
</pre>

<%= image "img_8667" %>
<%= movie "hdimg_8661" %>
