---
title: 鎌倉ハイキング
---
<%= image "img_4795" %>
<%= image "img_4796" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14020975/">もみじや</a>
神奈川県鎌倉市二階堂732-5
0467-25-4672
</pre>

鍋焼きうどん。

<%= image "img_4797" %>
