---
title: 朝活
tags: kamakura, breakfast, bike
---
鎌倉へ。桜咲いてた。

<%= image "img_4903" %>

いつものルートは時間かかりすぎるので、ショートコース。

<%= image "img_4905" %>
<%= image "img_e4906" %>

肉きのこ粥。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14076677/">叙序圓</a>
神奈川県鎌倉市雪ノ下1-9-29 シャングリラ鶴岡 2F
0467-22-7899
</pre>

<%= image "img_4907" %>
