---
title: 朝活
tags: yokohama, breakfast, bike
---
中華街に朝粥を食べに行く。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14000113/">馬さんの店 龍仙 本館 （マーサンノミセリュウセン）</a>
神奈川県横浜市中区山下町218-5
045-651-0758
</pre>

龍仙粥。

<%= image "img_4908" %>

帰り道に野毛山を越えたくないのでウロウロしてたら、ものすごい遠回りになってしまった。
次回は藤棚商店街ルートを攻める。

<%= image "img_e4909" %>
