---
title: 朝活 メレンゲ
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140103/14067913/">メレンゲ みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル1F
050-5593-9994
</pre>

モーニングのパンケーキが大変お安いことを知り、自転車で行ってみる。

<%= image "img_4910" %>
<%= image "img_4911" %>

みなとみらいは家から2kmぐらいだった。エネルギー収支が赤字だ。

パンケーキを焼くのに時間がかかるので、オープン直前ぐらいに行った方がいい。
