---
title: 小田原 天史朗寿司
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14001483/">天史朗寿司</a>
神奈川県小田原市城山1-6-80
0465-34-0832
</pre>

<%= image "img_6841" %>
<%= image "img_6842" %>
