---
title: 朝活
tags: bike, breakfast, kamakura
---
いつものルートは時間かかりすぎるので、平日は覚園寺ルートにする。

<%= image "img_4923" %>

春になったからか鳥の鳴き声がすごかった。

<%= movie "hdimg_4924" %>
<%= image "img_4925" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14076677/">叙序圓</a>
神奈川県鎌倉市雪ノ下1-9-29 シャングリラ鶴岡 2F
0467-22-7899
</pre>

朝粥。

<%= image "img_4926" %>
