---
title: 朝活 鎌倉
---
朝活

<%= image "img_4941" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14078366/">朝ごはん</a>
神奈川県鎌倉市小町2-10-10
0467-23-0667
</pre>

しらすねぎオムレツ。今日は店が空いてた。

<%= image "img_4942" %>
