---
title: 朝活 鎌倉
tags: kamakura, trail
---
<%= image "img_5435" %>

朝食は東口を攻めてみる。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14068869/">Trattoria INOUE</a>
神奈川県鎌倉市御成町11-2 ヤノヤビル 1F
0467-37-6973
</pre>

<%= image "img_5437" %>
