---
title: ホワイト餃子
tags: food, gyoza
---
久しぶりのホワイト餃子。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1407/A140701/14000783/">ギョウザの萬金</a>
神奈川県相模原市南区相南4-1-7
042-746-5855
</pre>

焼餃子2人前とキムチ。焼き餃子が8個単位になってた。

<%= image "img_5659" %>
<%= image "img_5660" %>
<%= image "img_5661" %>
