---
title: 朝活 鎌倉
tags: kamakura, hiking
---
紫陽花の季節になりました。ただし、明月院は土日は終日閉門とのこと。

雑草が凄いのと虫が多いのと大量の蜘蛛の巣に道を阻まれるのと、(たぶん)育児中のカラスに襲われたので、この時期の明月院ルートは使えない。
カラスはけたたましく鳴かれた上に、木の上からなにか重いものが落ちてきた。めっちゃ怖い。

<%= image "img_5668" %>
<%= image "img_5669" %>

朝食を新しく始めた店に来てみた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14047866/">鎌倉 六弥太</a>
神奈川県鎌倉市御成町13-38 萩原ビル 1F
0467-61-0680
</pre>

豚汁定食。

<%= image "img_5670" %>
