---
title: 目黒ランチ ゴンゾ
tags: lunch, food
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13237847/">ピッツェリア&トラットリア ゴンゾ</a>
東京都品川区上大崎3-2-9 アクア目黒 1F
050-5597-8391
</pre>

クアトロフォルマッジ。

<%= image "img_5711" %>
