---
title: 目黒ごはん タダカリー
tags: lunch, food
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13164433/">タダカリー</a>
東京都目黒区下目黒1-5-16 本田ビル 1F
03-6420-0799
</pre>

チキンカレー、目玉焼きトッピング。

<%= image "img_5809" %>
