---
title: メレンゲ
---
夏休みの娘さんとパンケーキを食べに来る。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140103/14067913/">メレンゲ みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル1F
050-5593-9994
</pre>

<%= image "img_5903" %>
<%= image "img_5905" %>
<%= image "img_5906" %>
