---
title: Tea Alley
---
娘さんがおしゃれカフェに行きたいというので横浜へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14079709/">THE ALLEY ニュウマン横浜店</a>
神奈川県横浜市西区南幸1-1-1 ニュウマン横浜 3F
045-534-6114
</pre>

<%= image "img_6003" %>
<%= image "img_6004" %>
