---
title: 麺屋 味方
---
診察のあと、味方に着いたのが11:40。二人しか並んでなかった。ラッキー。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13220344/">麺屋 味方</a>
東京都港区新橋4-6-10
</pre>

ラーメン(辛)、200g。

<%= image "img_6010" %>
