---
title: 朝活 鎌倉
tags: kamakura, trail
---
早朝の蜘蛛の巣が嫌なので、これも久しぶりの建長寺ルート。

<%= image "img_6033" %>

朝ごはんで朝ごはん。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14078366/">朝ごはん</a>
神奈川県鎌倉市小町2-10-10
0467-23-0667
</pre>

<%= image "img_6034" %>
