---
title: 大阪王将
tags: lunch
---
ガーリック補給に来た。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14077089/">大阪王将 天王町駅前店</a>
神奈川県横浜市保土ヶ谷区岩間町1-7-3 1F
045-298-6006
</pre>

ニンニク肉にく全力炒飯。

<%= image "img_6054" %>

一緒に来た娘もにんにくチャーハンを注文。くっさい父娘。
