---
title: 東品川ごはん おにやんま 東品川店
tags: lunch, food
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13142095/">おにやんま 東品川店</a>
東京都品川区東品川4-1-20
</pre>

天ぷらぶっかけ冷。座れるおにやんまがあったとは。

<%= image "img_e6074" %>
