---
title: 銀だこハイボール
tags: dinner, food
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14060817/">築地銀だこハイボール酒場 桜木町店</a>
神奈川県横浜市中区野毛町2-81
045-250-5166
</pre>

娘さんのバレエ発表会見た後、先に退出して息子と銀だこへ。
久しぶりの外飲み。

<%= image "img_6079" %>
