---
title: 東品川ごはん サイアムオーキッド
---
アルコールラストオーダー前に店に飛び込む。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13229968/">サイアムオーキッド 品川シーサイドフォレスト店</a>
東京都品川区東品川4-12-6 品川シーサイドフォレストオーバルガーデン 1F
03-3474-6222
</pre>

プーパッポンカレーと豚肉の料理。お腹いっぱい。

<%= image "img_6093" %>
<%= image "img_6094" %>
<%= image "img_6095" %>

