---
title: 東品川ごはん 中華料理おおくま
tags: higashi shinagawa, lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13096682/">中華料理おおくま</a>
東京都品川区東品川3-27-16
</pre>

<%= image "img_6091" %>
<%= image "img_6089" %>

タンメン。ひっきりなしに人が出入りする人気店。ご飯ものも美味しそうなので、今後は焼肉定食に挑戦する。

<%= image "img_6090" %>
