---
title: 鎌倉ハイキング
tags: kamakura, trail
---
<%= image "img_6112" %>

マクドナルドで買ったコーヒーを水筒に詰めて山中で読書。

アルコール解禁になったことだし下山後は腸詰屋へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14079639/">腸詰屋 鎌倉小町</a>
神奈川県鎌倉市雪ノ下1-4-20 アビティ雪ノ下 1F
0467-33-4986
</pre>

パイントセットがちょうどいい。

<%= image "img_6114" %>
<%= image "img_6115" %>
<%= image "img_6116" %>
