---
title: 東品川ごはん 家宴
tags: food, higashi shinagawa, lunch
---
<%= image "img_6124" %>
<%= image "img_6127" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13054504/">中華料理 家宴</a>
東京都品川区南品川3-6-4
03-3450-1664
</pre>

豚肉、玉子ときくらげ定食。

<%= image "img_6126" %>
