---
title: 東品川ごはん まこと家
tags: food, higashi shinagawa, lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13018507/">まこと家</a>
東京都品川区南品川3-1-10 MGグレート 1F
03-5460-5211
</pre>

9:30からやってる。

<%= image "img_6131" %>
