---
title: 東品川ごはん 中華料理おおくま
tags: lunch, food, higashi shinagawa
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13096682/">中華料理おおくま</a>
東京都品川区東品川3-27-16
</pre>

焼肉定食。トンテキです。味が濃ゆい。

<%= image "img_6135" %>
