---
title: 東品川ごはん ハラル サクラ
tags: lunch, food
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13256659/">HALAL SAKURA</a>
東京都品川区東品川4-12-4 オーバルガーデン B1F
03-5460-5540
</pre>

チキンのケバブサンドをテイクアウト。
野菜もとれるし、うまい。

<%= image "img_6230" %>
<%= image "img_6231" %>
