---
title: 戸塚
tags: yokohama, totsuka
---
戸塚(横浜原宿)あたりまで自転車で行って、戻ってきて戸塚駅近辺でビール。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140305/14068350/">ベイブルーイング戸塚店</a>
神奈川県横浜市戸塚区上倉田507-3 吉倉橋ビル1F
045-392-6066
</pre>

<%= image "img_6260" %>
<%= image "img_6261" %>

そのまま輪行して帰宅。
