---
title: 東品川ごはん 宇奈とと
tags: higashi shinagawa, lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13258566/">名代 宇奈とと イオン品川シーサイド店</a>
東京都品川区東品川4-12-5 イオンスタイル品川シーサイド B1F フードコート
03-6433-0969
</pre>

<%= image "img_6262" %>
<%= image "img_6263" %>
