---
title: 東品川ごはん BIGOLI
tags: lunch, food, higashi shinagawa
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13212934/">BIGOLI イオン品川シーサイド店</a>
東京都品川区東品川4-12-5
03-6433-2662
</pre>

ボロネーゼ専門店。イオンモールのフードコートではありえないクオリティ(とお値段)。
削りたてチーズはなくてもいいかなと思った。

<%= image "img_6265" %>
<%= image "img_6266" %>
