---
title: 輪行 小田急相模原
tags: bike, yokohama
---
ホワイト餃子を目指して家からチャリで小田急相模原へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1407/A140701/14000783/">ギョウザの萬金</a>
神奈川県相模原市南区相南4-1-7
042-746-5855
</pre>

<%= image "img_6269" %>

その後、[野天湯元 湯快爽快 ざま](https://www.yukaisoukai.com/zam/)へ。

<%= image "img_6270" %>
