---
title: 小田原 ポルト・イル・キャンティ
tags: lunch
---
法事で小田原へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14004606/">ポルト・イル・キャンティ</a>
神奈川県小田原市早川1-6-5
0465-23-6220
</pre>

<%= image "img_6271" %>
<%= image "img_6272" %>
<%= image "img_6273" %>
<%= image "img_6274" %>
