---
title: 東品川ごはん サイアムオーキッド
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13229968/">サイアムオーキッド 品川シーサイドフォレスト店</a>
東京都品川区東品川4-12-6 品川シーサイドフォレストオーバルガーデン 1F
03-3474-6222
</pre>

ガバオ&グリーンカレーのセット。

<%= image "img_6275" %>
