---
title: 東品川ごはん おにやんま 東品川店
tags: food, higashi shinagawa, lunch
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131501/13142095/">おにやんま 東品川店</a>
東京都品川区東品川4-1-20
</pre>

ちくわ天と鶏天の大盛。

<%= image "img_6676" %>
