---
title: 目黒ごはん 大宝
tags: lunch, meguro, tonkatsu
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13007463/">とんかつ大宝</a>
東京都目黒区目黒1-6-15 1F
03-3491-9470
</pre>

ローストンカツ。

<%= image "img_0148" %>
<%= image "img_0149" %>
