---
title: 目黒ごはん 牛タン 圭助
tags: gyutan, lunch, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13127056/">牛タン 圭助 目黒権之助坂</a>
東京都目黒区目黒1-5-16 目黒アイワビル1F
050-5868-3557
</pre>

牛タン定食(1.5人前)。

<%= image "img_0163" %>
