---
title: 目黒ごはん ビストロ ガブリ
tags: lunch, meguro, steak
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13160531/">ビストロ ガブリ 目黒店</a>
東京都品川区上大崎2-16-5 MSSビル 3F
050-5872-3771
</pre>

ランチステーキ 300g。

<%= image "img_0181" %>
