---
title: 東京国立博物館
tags: museum, tokyo, exhibition
---
特別展<a href="http://www.tnm.jp/modules/r_free_page/index.php?id=1868">「仁和寺と御室派のみほとけ」</a>

<%= image "img_5848" %>
<%= image "img_5852" %>
<%= image "img_5858" %>
<%= image "img_5860" %>
