---
title: ナイトロ コールドブリュー コーヒー
---
目黒駅前にできた新しいスタバで<a href="http://www.starbucks.co.jp/beverage/others/4524785326569/">ナイトロ コールドブリュー コーヒー</a>なるものがあったので試しに飲んでみた。
窒素充填水出しコーヒーだそうで。

<%= image "img_0182" %>
