---
title: 味仙
tags: kanda, lunch, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13197593/">郭政良 味仙 東京神田店</a>
東京都千代田区神田鍛冶町3-3-21 1F
03-6262-9833
</pre>

台湾ラーメン。

<%= image "img_0183" %>
