---
title: 目黒ごはん 目黒菜館
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13020139/">目黒菜館</a>
東京都目黒区下目黒1-5-16 本田ビル　１０２
03-3779-4655
</pre>

鉄板焼鶏。

<%= image "img_0184" %>
<%= image "img_0185" %>
