---
title: 目黒ごはん 山下本気うどん
tags: lunch, meguro, udon
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13142058/">山下本気うどん</a>
東京都品川区上大崎3-9-14 TOビル B1F
03-3449-9234
</pre>

鳥天ぶっかけ。

<%= image "img_0228" %>
