---
title: 目黒ごはん ハングリー ヘブン
tags: meguro, burger, lunch
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13119994/">ハングリー ヘブン 目黒店</a>
東京都目黒区下目黒1-2-22 セザール目黒 2F
03-6303-9555
</pre>

BBQバーガー、アボカド。

<%= image "img_0354" %>
