---
title: ロンドン その2
tags: london, career, event
---
いい天気なので運動も兼ねてハイドパークを横断しつつ、オリンピアまで歩く。

<%= image "img_0421" %>

<a href="https://careerforum.net/ja/event/ldn/">LONDON CAREER FORUM 2018</a>に参加。

<%= image "img_0424" %>

写真省略してますが、ポールくんと13年ぶりに再開。いかりや長介に似てきた。

<%= image "img_0425" %>
