---
title: 目黒ごはん たけ美
tags: japanese, lunch, meguro
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13032694/">たけ美</a>
東京都目黒区下目黒1-3-4 ベルグリーン目黒 1F
050-5869-3708
</pre>

鰆の定食。

<%= image "img_0581" %>
