---
title: バリ男
tags: ramen, shinbashi, lunch
---
新橋二郎閉店につき新規開拓。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13112970/">らーめん バリ男</a>
東京都港区西新橋1-21-1
03-6273-3933
</pre>

<%= image "img_0590" %>

普通にうまかった。二郎よりこっちで良かったんじゃ。
