---
title: 目黒ごはん バルピパル キッチン
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13212886/">バルピパル キッチン</a>
03-6431-9178
東京都品川区上大崎2-26-5 メグロードビル 2F
</pre>

Bセット。カレーがあまり辛くないし、辛さが変えられない。

<%= image "img_0717" %>
<%= image "img_0718" %>
