---
title: 神田っ子
tags: kanda, lunch, seafood
---

<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13029315/">神田っ子</a>
03-3254-5517
東京都千代田区内神田3-19-2 1F
</pre>

入梅いわしのにんにく醤油、函館産やりいかの刺身＆漬けマグロぶっかけ丼。

<%= image "img_0813" %>
<%= image "img_0814" %>

