---
title: 目黒ごはん めぐろ三ツ星食堂
---
東口開拓中。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13013942/">めぐろ三ツ星食堂</a>
東京都品川区上大崎3-4-6 瑛和目黒ビル 1F
03-3443-6568
</pre>

お正油オムライス。ランチタイムはものすごく待たされるので、早めに行った方がいい。

<%= image "img_0843" %>

たまたま曜日限定のオムライス食べれたので、次はオムカレーにしよう。
