---
title: 目黒ごはん 麺家 黒
---
<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13020309/">麺家 黒</a>
東京都目黒区目黒1-6-12
03-3490-1196
</pre>

今週からダイエット始めたんだけど、速攻で風邪を引く。
神様がダイエットするなと言っている。

ということで栄養補給。チャーシュー並 + 小ライス。

<%= image "img_0876" %>
