---
title: 目黒ごはん めぐろ三ツ星食堂
tags: lunch, curry, meguro
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13013942/">めぐろ三ツ星食堂</a>
東京都品川区上大崎3-4-6 瑛和目黒ビル 1F
03-3443-6568
</pre>

オムエビカレー。おなかいっぱい。女子もりでよかった。

<%= image "img_1109" %>
<%= image "img_1110" %>
