---
title: 鬼金棒
tags: lunch, ramen, chiyoda
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13097205/">カラシビ味噌らー麺 鬼金棒 (キカンボウ)</a>
東京都千代田区鍛冶町2-10-9
03-3256-2960
</pre>

なかなかうまかった。次回は隣のつけ麺店舗に挑戦する。

<%= image "img_1129" %>
