---
title: 目黒ごはん 貴味苑
tags: lunch, meguro, yakiniku
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13014101/">貴味苑</a>
03-5434-0464
東京都目黒区目黒1-4-16 目黒Gビル 2F
</pre>

カルビ。

<%= image "img_1144" %>
