---
title: カラシビつけ麺 鬼金棒
tags: lunch, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13119021/">カラシビつけ麺 鬼金棒</a>
東京都千代田区鍛冶町2-10-10
03-6206-0239
</pre>

パクチーつけ麺

<%= image "img_1201" %>
