---
title: 目黒ごはん 天下一品
tags: lunch, meguro, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13014644/">天下一品 目黒店 (てんかいっぴん)</a>
東京都品川区上大崎2-26-5 メグロードビル 1F
03-3493-4888
</pre>

半チャーハン定食こってり。

<%= image "img_1211" %>
