---
title: 匠味
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13023134/">匠味</a>
東京都港区西新橋1-20-1 サンクレスト武井ビル 1F
03-3591-0506
</pre>

唐揚げ食べ放題定食、ごはん大盛り。16個食べました。

<%= image "img_1218" %>
