---
title: 鬼金棒
tags: lunch, ramen, spicy
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131002/13097205/">カラシビ味噌らー麺 鬼金棒 (キカンボウ)</a>
東京都千代田区鍛冶町2-10-9
03-3256-2960
</pre>

カラ普通のシビ増し。

<%= image "img_1433" %>
