---
title: バリ男
tags: lunch, ramen
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13112970/">らーめん バリ男</a>
東京都港区西新橋1-21-1
03-6273-3933
</pre>

今年最後のバリ男。少なめの豚増し。

<%= image "img_1435" %>
