---
title: ステーキ ジョイント
tags: steak, yokohama, dessert
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14058915/">ステーキ ジョイント</a>
神奈川県横浜市西区南幸1-5-1 相鉄ジョイナス B1F
045-595-9595
</pre>

写真はデザートのみ。

<%= image "img_1437" %>
<%= image "img_1442" %>
<%= image "img_1445" %>
<%= image "img_1448" %>
