---
title: 「刑事法廷 有罪か無罪か?」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/448005751X/daydreaonthen-22">刑事法廷 有罪か無罪か?</a>」、羽柴 駿、ちくま新書

大人の口喧嘩に強くなろうと、法律を勉強することを決意しました。
いきなり六法全書を読むのは、当然敷居が高いので、実際に起こった事例から、それがどう法律に適用されるのかという本を中心に読もうと思ってます。
つまり、帰納法ではなく、演繹法で攻めようというわけです。

で、記念すべき初めの一冊がこれ。
本屋でざっと見たらとても読みやすそうだたので、購入。
案の定、二日で読了しました。
内容は、弁護士の作者が自分が担当した事件を実際の資料を交えながら、解説するというもの。
主旨は、刑事事件の99%が有罪なので、「疑わしきは罰せず」と言いながら、どうしても先入感をもって、裁判官が裁判にあたってしまうという事実に警鐘を鳴らしたもの。

かといって、週刊誌みたいにセンセーショナルにわめき立てるわけではなく、「……という人もいる」ぐらいの書き方で終始、謙虚に表現していて、作者の誠実な人為を感じました。
犯罪おかしたら、この人に弁護してもらいたくなった。

たまには、全然関係ない分野の本を読んでみたいという人におすすめ。
