---
title: 「のほほん人間革命」、大槻 ケンヂ、角川書店
tags: book, non-fiction
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4041847060/daydreaonthen-22">のほほん人間革命</a>」、大槻 ケンヂ、角川書店

大槻ケンヂは根が暗黒な人なので、僕好みの作家です。
他には、永野のり子とか、押井守とかもそう。
今年の頭に大槻ケンヂにハマって、筋肉少女帯のCDと小説を立て続けに聞いて、読んでました。
3〜4年前くらいの作品が一番アブラが乗っていますね。
最近の作品はいまイチ。

さて、この本ですが、文庫化されて本屋に並んでいたので、久しぶりに買いました。
占い体験記とか、UFOキチへのインタビューとか、SM体験記が書いてあります。
しかし、5冊くらい読んでるとそろそろ飽きた。
大槻ケンヂは内容の幅が少ないので数冊読むと飽きてきます(すみかわ用語で「ポケットが小さい」という)。
精進してください。
