---
title: 「TMN EXPOストーリー〈上〉」、藤井 徹貫、CBSソニー出版
tags: book, music
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4789708330/daydreaonthen-22">TMN EXPOストーリー〈上〉</a>」、藤井 徹貫、CBSソニー出版

上記の古本屋で100円で売ってました。
一応、復活を望むTMNのファンとして購入。
付記しておくと、この時に買った本は、斉藤由貴の詩集(こっちもファンなの)、アガサ・クリスティのポアロもの、船戸与一の再読本の5冊です。
藤井徹貫は読みやすいので、買ったその日に読み終えてしまった。

内容は、TMNのEXPOツアーを同行取材しながら綴ったドキュメンタリーです。
読んでると、メンバーのあまりの忙しさ(特に小室哲哉)にああ、売れっ子芸能人って大変なのねと思います。
最後の最後でいきなりドラマ自立てになります。
下巻が気になる。
あの古本屋にはなかったな。
新品で買う気はないので、まあ気長にどっかの古本屋でひょっこり出会うのを待ちましょう。
