---
title: 「パラサイト・イヴ」、瀬名 秀明、角川ホラー文庫
tags: book, horror, sci-fi
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4043405014/daydreaonthen-22">パラサイト・イヴ</a>」、瀬名 秀明、角川ホラー文庫

アメリカ出張に行くので、読み捨ての文庫を近所の古本屋に探しにいったら、この本がありました。
流行りも過ぎたしそろそろ読もうかと購入。
ええ、天の邪鬼なので流行ってるうちは読みません。
500ページもある分厚い本でしたが、成田に向かう電車とバス、シカゴ行きの飛行機の中で一気に読み終えてしまいました。

出来はかなり良いです。
タイトルがtriple meeningなのも素晴らしい。
僕はタイトルをつけるのが苦手なので、読んでいる最中に「おお、そういうことか」とウナらせるタイトルには憧れを感じてしまいます。
ネタばれになると嫌なので内容は多くは語りませんが、著者は生物学の研究者なので、ホラーにも関わらず3分の2までは非常に論理的に話が進んで行きます。
死体から移植臓器を取り出すシーンは恐いっす。

後半はいわゆるホラーのりで進みます後半の展開は個人的にはあんまり気に食わなかったけど、フィクションとしてはこんなもんかもしれない。
おすすめです。
他に作品があったら読みたいので、日本に帰ったら調べよう。
