---
title: 「BLUES BROTHERS 2000」
tags: movie, music, blues brothers
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B0006HBM3Q/daydreaonthen-22">BLUES BROTHERS 2000</a>」

実は、Chicago loverにも関わらず「Blues Brothers」見てないんですよ。
で、続編の「2000」のDVDが売られていたので買って帰ろうと思ったんですが、やっぱり一作目見てからにしようと思いとどまりました。
が、帰りの飛行機のPersolnal Videoにあったのでついつい見てしまいました。
James Brownとか、Eric Craptonとか、B.B.Kingとか大御所が大量に出演して歌うという豪華な映画でした。

映画の出来ですが、飛行機内で読んだEntertaiment誌はこう評価していました。
「Music:A、Story:D」。
僕もそう思います。はい。
