---
title: 「ヒットラーでも死刑にしないの?」、中山 千夏、築地書館
tags: book, legal, non-fiction
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4806767891/daydreaonthen-22">ヒットラーでも死刑にしないの?</a>」、中山 千夏、築地書館

法律を勉強しようシリーズ第二段。
死刑廃止論を唱えた本です。
平易な表現と論理の積み重ねで一般の人にも分かるようになぜ、死刑を廃止するべきなのかを説明しています。
そのため、内容の是非は置いといて、書物としての面白さは今イチでした。
斜め読みして終わり。
