---
title: 「檸檬」、梶井 基次郎、新潮文庫
tags: book, literature
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4101096015/daydreaonthen-22">檸檬</a>」、梶井 基次郎、新潮文庫

表題の作品ではなくて、「桜の樹の下には死体が埋まってる」という話を読みたくて、古本屋で購入。
表題の作品は4ページしかないので、すぐに読了。
別に面白くなかった。
ふーん、そうなのねって感じ。
他の作品もパラパラと読んでみたが、琴線に響かなかったので途中で捨てる。
大正から昭和初期って面白い作品はほんとうに少ないと思う。
