---
title: 「星界の戦旗〈2〉守るべきもの」、森岡 浩之、ハヤカワ文庫
tags: book, sci-fi, hiroyuki morioka
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4150306036/daydreaonthen-22">星界の戦旗〈2〉守るべきもの</a>」、森岡 浩之、ハヤカワ文庫

待ってました！ 久々に続刊がでました。
寝つけなかったせいもあってAM 5:00までかかって読破しちゃいました(ゆっくり読んだのは、面白い証拠)。
さらにいうと、この文章を書いてるのは27日なんですが、もう2回目読んじゃったもんね。

この本はSFなんですが、ストーリが緻密だとか設定が壮大だとか、そういう面白さではなくて、単にヒロインが可愛いのです。
いや、無論、設定はしっかりしてますし、文章も上手いし、話もよく出来てますが、そういうのを超越してラフィールが可愛いのです。
はい。
ということで、本書はもとより、ハヤカワ文庫で出ている「星界の紋章」「星界の戦旗」のシリーズは本当におすすめです。
是非購入ください。

僕の中ではこの2〜3年の一番のヒット作品です。
ちなみに、来年からWOWOWでアニメ化されます。
