---
title: 「BLUES BROTHERS」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005LMH5/daydreaonthen-22">BLUES BROTHERS</a>」

<a href="http://www.itojun.org/">itojun</a>氏が愛してる「BLUES BROTHERS」をようやく観ました。「BLUES BROTHERS 2000」を観た後で、こっちを観るのはなんか間違ってますな。
こっちを観ると、いかに「2000」が本作の出来の悪い焼き直しであることがよく分かりました。
歌のシーンもちゃんと本作はちゃんとストーリーに従ってつながってますが、「2000」ってかなり唐突に歌のシーンになります。
「2000」は駄目駄目ですが、本作は間違いなくお勧め。
