---
title: 「鬼去来〈3 完結編〉」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4396204493/daydreaonthen-22">鬼去来〈3 完結編〉</a>」、菊地 秀行、祥伝社

デジャヴーかと思ったら昔読んでた。菊地秀行って読んでも読んでも印象に残らないんだよなあ。
赤川次郎と同じ。
彼の作品はもう飽きて来てるんですが「魔界都市ブルース」シリーズと、「吸血鬼ハンター」シリーズだけ読んでます。
雰囲気が好きなので。

さて、最近の菊地秀行に物申したい。
「夜叉姫伝」(やーしゃひーめーでんというギャグを高校のころやってた)以来、妙にキャラを出しすぎる傾向にありますが、それだけの数を操り切れてません。
最大の問題点は文章読んでても、誰が誰のセリフか分からなかったり、誰の行動か分からなくなっていること。
特に戦闘シーンは誰が何をしているのか全然分からないことが多いです。
なんか文章力が落ちてる気がするんですけど。

本作品のテーマは「神隠し」。
うまく表現できませんが、淡い夕焼け系のイメージのあるお話し。
彼の作品群の中では小数派になりますが、菊地秀行の最も好きなテーマだと思います。
「夢幻舞踏会」「夢なりし D」の系統。
でも、「魔界都市ブルース」シリーズにしては出来悪いですね。
特にラストが尻切れトンボだと思う。後、新刊が出るにつれて「私」の出番がどんどん少なくなってるような気がする。
