---
title: 「夢枕獏の外道教養文庫」、夢枕 獏、小学館ライブラリー
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4094600647/daydreaonthen-22">夢枕獏の外道教養文庫</a>」、夢枕 獏、小学館ライブラリー

ビッグコミックに連載してたエッセイをまとめたものです。
自分の収入は幾らで、そのうち幾らが税金に取られているかを赤裸々に語ってくれます。
そこは面白かったけど、残りは今イチ。
