---
title: 「山猫の夏」、船戸 与一、講談社
tags: book, adventure, yoichi funado
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062631555/daydreaonthen-22">山猫の夏</a>」、船戸 与一、講談社

読むのは2回目です。1回目は友達に借りて読んだんですが、古本屋で見掛けたので久しぶりに読みたくなりました。
しかし、最近、再読が多くて困ってます。
つまり、新刊に魅力がなかったり、(古)本屋での新しい出会いがないってこと。

さて、内容ですが、のどかなタイトルとは裏腹に人が死にまくります。
こういうハードな話は大好き。舞台はブラジルで、主人公が暮らす平穏な(というほど平穏でもないけど)町に「山猫」と名乗る男がやってきたときから事件がはじまる冒険小説です。
主人公が精神的に成長していく過程がいいです。
再読したぐらいだから、めっちゃお勧めです。うーん、やっぱりいい小説を読んだ後は、小説を書きたくなってしまう。
