---
title: 「PERFECT BLUE」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B0000V4O38/daydreaonthen-22">PERFECT BLUE</a>」

ちょっと前に話題になってたアニメ。
派手に宣伝やってたのでとりあえず見てみました(踊らされてる)。
基本的にはアイドルとそのストーカーというよくある話。
途中から押井守ノリになって訳分かんなくなりますが、最後はちゃんと締めてくれました。

ラストは画面からの情報を信じてると納得いかない部分もありますが、エヴァンゲリオンと同じで登場人物の幻覚が入って来るので、画面からの情報を素直に信じる訳にはいかなくて、最後は感覚的に理解するしかないのでこんなもんでしょう。
結構おもしろかったです。
