---
title: 「serial experiments lain lif.01」、Producion 2nd
tags: anime, sci-fi, psychological
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005FXB4/daydreaonthen-22">serial experiments lain lif.01</a>」、Producion 2nd

もともと深夜放送でやっていたものがビデオになったので借りて来ました。
まだ2話分なので評価はできませんが、変わった雰囲気をもったアニメです。
実験的手法っていうのかな。
実写だと深夜放送でときどき見掛けます。
例えば、NIGHT HEADとか。
また、OAVならアニメでもこういう内容のものはあります。
でも、アニメで、かつテレビ放送という組合せは画期的だと思います。
こういうアニメにテレビ局が金を出すというのは素晴らしいですね。
いい世の中になったもんだ。
