---
title: 「HANA-BI」、北野武、バンダイビジュアル
tags: drama, movie
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005EDRW/daydreaonthen-22">HANA-BI</a>」、北野武、バンダイビジュアル

全体的に静かな色調の中で物語がハードに進んで行く、北野武お得意のパターンです。
北野作品の一つの完成形だと思いますが、処女作「その男、凶暴につき」を超えてないと思う。
「もののけ姫」と「風の谷のナウシカ」の関係に近い。
