---
title: 「ソムリエ (1)」、城 アラキ,甲斐谷 忍・堀 賢一、集英社
tags: book, review
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/408618057X/daydreaonthen-22">ソムリエ (1)</a>」、城 アラキ,甲斐谷 忍・堀 賢一、集英社

タイトル通り、ソムリエが主人公の漫画です。
漫画喫茶でフランス編(1〜3巻)を読んだら結構面白かったので、本屋で続きを購入したらやられました。
4巻の日本編から急に「美味しんぼ」ノリになって全然面白くねえでやんの。
金返せ。
