---
title: 「不夜城」、馳 星周、角川文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4043442017/daydreaonthen-22">不夜城</a>」、馳 星周、角川文庫

久しぶりに本屋で見かけた知らない作家に手を出しましたが、正解でした。
新宿を舞台にしたハードボイルドですが、めっちゃ渋いです。
お勧め。
他に文庫化された作品はまだないみたいなので、文庫化が待ち遠しい作家に一人になりました。
特に最後がよかった。
やっぱこうでなくっちゃね。
