---
title: 「うる星やつら2 ビューティフル・ドリーマー」、押井守
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00006C1W0/daydreaonthen-22">うる星やつら2 ビューティフル・ドリーマー</a>」、押井守

久しぶりにレンタルビデオで借りて来ました。
最初に見た小学生の頃から数えると10回は超してると思う。
敬愛してやまない押井守の最高傑作。
人生で最も数多く見てる映画です。
何回見ても本当にいいなあ。
DVD出ないかなあ。
オンリー・ユーとかリメンバー・マイ・ラブとか他作品はどうでもいい。
これだけでいい。
