---
title: 「空飛ぶモンティパイソン」、英BCC
tags: comedy, tv
---
聖書とか不思議の国のアリスとかマザーグースは、色んな作品に影響を与えたり、パロディーに使われたり、それらの知識を前提とした作品があったりと、教養として押えとかないといけない作品です。

モンティパイソンもまたしかり、というわけでとりあえず10巻ぐらい出てるビデオのうち第1巻を借りて来ました。
もともとは、SPAMの語源を知るために借りようと思ってたんだけど、どの巻に入ってるかわからなかったので、最初から攻めることにしました。

結局、日本で発売されてるビデオにはSPAMの話が入ってないことが<a href="http://www.yo.rim.or.jp/~manp/talk3.html">後の調べ</a>でわかったんだけど。
さて、内容とは言うと、ジョークにつぐジョークの連続なんですが、かなりブラックなものも含まれています。
下手すると人種差別や障害者差別ととられないものもいっぱいあります。
昔だから出来たのか、今でもそういう文化なのかしりませんが、こういうのがほいほいと放送できる文化っていいですね。

あらゆる規制には僕は反対なので。
