---
title: ムトゥ 〜踊るマハラジャ〜
tags: movie, indian cinema, muthu
---
意味不明のタイトルですが、一部で大評判だったので、渋谷に「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005FPOM/daydreaonthen-22">ムトゥ 〜踊るマハラジャ〜</a>」という映画を観に来ました。

いやあ、行ってよかった。
無茶苦茶よかった。
<a href="http://www.cup.com/ellandess/mini/theater/cinemari/index.html">渋谷シネマライズ</a>で11/20までやってるので絶対観に行きましょう。
損はしません。
なお、11/14から<a href="http://www.theatres.co.jp/cinemabox/contents/schedule/parts/umeda.html">テアトル梅田</a>でも上映されます。
関西方面在住者も是非行くべし。

一時間前に映画館についたのに立見決定。
まあ、補助席に座れましたけど。主人公のムトゥ登場シーンは観客席の一部から悲鳴があがる。
2回以上観に来てる客です。
スタッフロールが終ると観客席から拍手が上がる。
こんな映画、最近ありませんぜ。

内容ですが、謎のインド映画です。あらすじは例えば、<a href="http://www.cup.com/ellandess/mini/movies/muthu/index.html">こんなとこ</a>に書かれていますが、この映画の面白さはこんなあらすじから伝わってきません。
比較的オーソドックスなストーリなはずなのに全編通してウサン臭さ全開。
例えば、馬車で追いかけられるシーン、意味もなく、追手が石につまずいて倒れていきます。
ムトゥが腰紐を首に2度かけ直す決めポーズのシーン、なぜか、1回分をつなぎ編集して2回にしてます。
しかも、コマのつなぎが適当ですごく素人仕事。
まるで学園祭で撮った8mmのような手抜き具合が狙ってやってるのか、普通にそうなのかさっぱり分かりません。
映画見ながら100回ぐらい突っ込んでしまいました。

主人公のムトゥ演じるRajnikanthはインドのキムタクと呼ばれ、必ずスーパースターという定冠詞をつけなきゃいけないほど、インドで熱狂的な人気を誇っています。
写真は<a href="http://members.aol.com/Rajnikanth/achalam.htm">こちら</a>。
「なんでやねん」と突っ込み許可します。
なお、帰路の途中、導かれるように渋谷HMVに入り、そのまま4Fの「WORLDMUSIC &amp; CINEMA」のフロアへ直行。
エスカレータから降りた瞬間、ムトゥのサントラを発見。速攻で購入して帰って来ました。
うー、主題歌が耳にコビりついて離れん。

映画を観たあと、相模大野へ移動。
目標の焼き鳥屋、串揚げ屋、イタめし屋がことごとく日曜日で閉まっていたので、結局居酒屋へ行く。
腹いせに友人宅の留守電にビルゲイツを名乗るいたずら電話(何故か日本語)を吹き込み一日は終った。
