---
title: 「フィフス・エレメント」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000B84N1I/daydreaonthen-22">フィフス・エレメント</a>」

<a href="http://www.pioneer.co.jp/dvdld/dv-515.html">DVD-515</a>を購入しました。
Virtual Dolby Surround(2スピーカーしかないのに5.1chをエミュレートしてくれるシステム)の効き目を試してくて、5.1ch録音された本DVDを手にいれました。
多少、5.1chっぽい部分が伝わってきますが、やっぱり本当に5.1chシステムがほしくなります。
うーん、北風ではなく太陽だねえ。このシステムって。

内容はブルース・ウィルス主演のSFです。ノリがすごくよくて楽しいです。まあ、ノリだけと言えばノリだけなんだけどね。
良い意味でも悪い意味でもハリウッド映画だねえ。
