---
title: 「serial experiments lain lif.02」
tags: anime, psychological, sci-fi
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005FXB5/daydreaonthen-22">serial experiments lain lif.02</a>」、中村隆太郎/Project 2nd.

相変わらず情報が小出しでストーリーの全容がぜんぜん掴めませんが、雰囲気がいいのでついついのめり込んでしまいます。
日常が徐々に非日常に変わっていくところがいいですね。

予算のせいでセルの数が少ないんだろうけど、それを逆に利用して静かな物語世界を演出してるように思えます。
ぜんぜんジャンルは違いますが、まるでYsの音楽のようです。
PSG 3音とFM音源 3音という当時のパソコンの限界を武器に使い、この音でしか構成できない世界を構築した古代裕三にも似た才能を感じさせます。
