---
title: ビデオ/DVDを大画面で観る
tags: projector, dvd, electronics, home theater
---
はい、もう自慢以外の何者でもありません。はい。

もう大分前になりますが、ソニーの液晶プロジェクタ<a href="http://www.sony.co.jp/ProductsPark/Models/Current/CPJ-200_J_1/index.html">CPJ-200</a>を買いました。
サトー無線で75000円でした。普通の大画面TV買うよりも値段的にそう変わらないし、場所取らないし画面サイズがデカい。
問題は部屋は暗くしないと見れないことだけど、まあ、部屋を明るくしたいときは14インチのTVで我慢します。

これで映画を観るともうすんごいです。手で測ると対角線が2mあったので、だいたい60インチ強ぐらいになります。

まずは、部屋が明るい状態。うつってる液晶ディスプレイは13インチ。

<%= image "dsc00020" %>

暗くして上映すると、こうなります。

<%= image "dsc00028" %>

チャンドラ君を置いた場合。画面はLain。液晶ディスプレイにも同じ画面を表示してみました。

<%= image "dsc00151" %>

ほほほ。
