---
title: Samuel Adamsを日本で飲もう
tags: beer
---
<a href=http://www.samadams.com/>Samuel Adams</a>
とはアメリカはボストンで売られているビールです。
僕はとっても好き、いやむしろ愛してるといっても過言ではなく、
アメリカ出張のたびに毎晩飲んでいました。
日本では入手不可能と思われましたが、この度、日本でSamuel Adamsを
扱っている店がいくつか判明したのでここに入手方法を書いておきます。

ただし、一番下に書いてある輸入販売会社がBoston Lagerしか仕入れてないよ
うです。僕の大好きなBoston Aleはありません。みんな、電話で圧力をかけて
輸入させましょう。

### 数本買いたい人

外国人がいっぱい住んでいる地域のスーパーでは最近、置かれるようになったそうです。
以下のスーパーで目撃報告があります。

- 鎌倉紀伊国屋
- 元町UNION
- 広尾の National
- ダイエー系列のスーパー

### 箱単位で購入したい人

ビアハウスというところが通販をやってます。宅急便の代引です。
僕が購入したときは、1本380円で1ケースが24本入りでした。

<pre class="address">
ビア ハウス
03-3777-4561
月曜 定休日
</pre>

### Webで買いたい人

<a href="http://www.alpha-web.ne.jp/SLworld/">SLワールド</a>
というところがインターネット上で通販を扱ってます。Boston Aleと、トリプルボックが入手できます。

### SamAdamsを販売したい小売店の方(笑)

以下の会社が輸入販売してます。くどいようですが、愛好者の方、Boston Aleを輸入するように圧力かけてください。

<pre class="address">
日本ビール株式会社: 東京都目黒区
03-5489-8888
</pre>
