---
title: 「恋愛小説家」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B0009J8EJ6/daydreaonthen-22">恋愛小説家</a>」

DVDプレイヤーを購入して、1週間ちょいしたら近所のTSUTAYAでDVDレンタルがはじまりました。ラッキー。

で、記念すべきレンタルDVD第一号。
極度の潔癖性で、タイル状の舗道など線が引かれている所を歩けないという精神病(なんて言うんだ？)で、かつ毒舌家のくせに恋愛小説を書いてる主人公が隣人の犬を預ったことがきっかけに、心を開いていくという話。

あんまり面白くなかった。心の移り変わりの書き込みが足りないような気がします。
特に犬を飼うシーンが一番重要な気がするんだけど、さらっと流してるし。
