---
title: 「serial experiments lain lif.03」、中村隆太郎/Project 2nd.
tags: anime, psychological
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005FXB6/daydreaonthen-22">serial experiments lain lif.03</a>」、中村隆太郎/Project 2nd.

「Lif.02」を返しに行ったら、次巻が出てたので速攻レンタル。多少は話が進んで来ましたが、やっぱし訳分からん。
玲音の部屋がどんどん恐くなっていく……。

Lainの中でこういうシーンがありました。畳敷きの広大な部屋に、口だけが見えている透明人間たちが整然と一列に並んでいる。
服装からそれと分かるんだけど、並んでいる人達は老若男女がいりまじってる。
それらがてんでバラバラに好き勝手なことを一方的にペラペラとしゃべってる。
これって、ホームページの抽象的な表現だと思うんだけど、うまいなあ。
