---
title: 「ムトゥ」
tags: movie, indian cinema, muthu
---
<a href="http://www.itojun.org/">itojun</a>氏がシンガポールからVideo CDを購入したので貸してもらいました。
うーむ、一月で三回観てる。

* Video CD 3枚組。英語の字幕すらないが、映画館で2回観た僕にはもはや字幕など必要なし。そもそも、これは魂で感じる映画であって、台詞はどうでもよし。
* 画面サイズは4:3なので、元のスクリーンから適当に切り取ってる。これが下手で、ギクシャクと左右にスクロールしたりする。
* 妙に登場人物がカクカク動く、エンコーディングするときのサンプリング・レートが変？ 踊りがさらに怪しくなります。

ということで、ムトゥのVideo CDにふさわしい手の抜き具合です。
はじめ、プロジェクタで観てたんだけど、上記のクオリティなので、目がすっげえ疲れて頭痛がしてきたので14インチTVで観てました。
気がつくと、微笑みを浮かべながら夢中で観てた。ムトゥ恐るべし。
