---
title: 「THE RACE OF A THOUSAND CAMELS</a>」
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00003CK5Z/daydreaonthen-22">THE RACE OF A THOUSAND CAMELS</a>」、BOA、ポリスター

最近ハマってるLainのOPがとても気に入ったので、ちょっと調べて見ました。
Webを適当にクリックするとアルバムが出てるみたいだったので、探したところ町田のTOWERレコードで発見。
一枚しか置いてなかった。ラッキー。

お勧めはLainのOPにもなった三曲目の「Duvet」。空気に溶けていくようなボーカルが魅力です。Bjorkに近い感じですね。BOAはイギリスのロックバンド。
Vo.はJasmin Rodhersといってイギリス人と日本人のハーフ。
お父さんはポール・ロジャースといって有名なロック・ボーカリストらしいんだけど、僕は知らない。
