---
title: 「翻訳家という楽天家たち」、青山 南、ちくま文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4480034285/daydreaonthen-22">翻訳家という楽天家たち</a>」、青山 南、ちくま文庫

最近、ビデオとDVDにかまけてて全然小説読んでません。
読みかけの本は山程あるんだけど。
で、久しぶりに読了の本書は主にアメリカ文学を翻訳してる著者のエッセイ。
アメリカの作家や文化に対する愛情がひしひしと伝わってきますが、山程でてくるカタカナの名前が全然、分かりません。
まあ、雰囲気だけ感じることにしました。
一番、気にいったのはこのくだり。
「どうしても訳せない文章があったら飛ばしてしまえ」。
そうだったんか！ 目からウロコ。
