---
title: 「緋色の囁き」、綾辻 行人、祥伝社
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4396323247/daydreaonthen-22">緋色の囁き</a>」、綾辻 行人、祥伝社

綾辻行人は好きな作家なので、どうしても点が辛くなります。
「舘」シリーズに代表されるように、彼の素晴らしいところは、

1. 限定状況を作り出す背景描写の見事さ
2. クリスティを彷彿させる予想もつかない結末
3. クイーンのような緻密な論理展開

がバランス良く融合しているところにあります。
残念ながら本作は最後の一つが欠けていて、最後の犯人当てが心地よくなかった。
