---
title: 「機動警察パトレイバー 劇場版」
tags: anime, dvd, movie
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00012T0HQ/daydreaonthen-22">機動警察パトレイバー 劇場版</a>」

DVD版が出たので購入。
「1」と「2」が同時に発売されたんですが、9800円と高いので好きな「1」だけにしました。
このDVDには、1989年公開時のドルビープロロジック音声と、新しく録音した5.1ch音声の2種類が入ってます。
特に「1」は公開時のマスターが残ってないのでアフレコも全て新規録音になってます。
まだAVアンプとスピーカー買ってないのでVirtual Dolby Surround機能をオンにして聞いた5.1chの感想ですが、

* s/nの比が高いのか、音がクリアーで静寂が心地よい
* SEが凄くよくなってる。嵐の中、方船に向かうシーンの風と波の音が特に良い
* 当り前だけど声優は9歳年をとってるので、セリフにどうしても違和感を感じる

古い音声と新しいSEが混ざってたら素晴らしいのに。あ、「2」がそうか。買うかあ……。
