---
title: 「タイム・リーパー」、大原 まり子、ハヤカワ文庫
tags: book, sci-fi, time travel
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4150305951/daydreaonthen-22">タイム・リーパー</a>」、大原 まり子、ハヤカワ文庫

素晴らしい。
大原まり子の小説はすぐブッ飛んでしまって、常人には理解できなくなってしまうことが多いんですが、本作は最後までほどよく制御されています。
内容はよくあるタイムスリップのSFなんですが、構成、展開が素晴らしい。
無駄なキャラクター、台詞は一つもなく、どれもが後で重要な意味を持って来ます。
高得点あげます。
