---
title: 「新宿歌舞伎町 マフィアの棲む街」、吾妻 博勝、文春文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4167609010/daydreaonthen-22">新宿歌舞伎町 マフィアの棲む街</a>」、吾妻 博勝、文春文庫

「日本人には悪いが、歌舞伎町はもう日本じゃない」という一文におおっと来ました。
本書は映画にもなった馳星周の「不夜城」の元ネタの一つ。
歌舞伎町に棲む様々な国のマフィアたちを取材したノンフィクションです。
時々、自慢気な文体が気に障りますが、一読の価値あり。
