---
title: 「いかづちの剣〈2〉」、小林 めぐみ、角川スニーカー文庫
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4044155089/daydreaonthen-22">いかづちの剣〈2〉</a>」、小林 めぐみ、角川スニーカー文庫

「ねこたま」、「まさかな」と素晴らしい作品を提供していた小林めぐみですが、「極東少年」以後、駄作を量産するようになりました。
あとがきから察するに、もっと読みやすい文章をという編集者の言いなりに文章を書き直させられたせいで、彼女の個性がどんどん薄められていったように思います。

本作は、デビュー当時のクオリティに戻ったとはまだ言えませんが、復調の兆しが感じられます。
頑張って下さい、応援してます。
